{% extends "layout.html" %}

{% block pageTitle %}
  Manage my organisation – {{serviceName}}
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}


{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Manage users
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Manage users
    </h1>
  </div>

  {% if (data['show-invite-org'] != "yes") and (data['show-invite-rep'] != "yes") %}
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Account users
        <span class="govuk-body right-aligned-link">
          <a href="invite/invite-user-type?tasklist-type=invite-rep&existing-cases-reps=yes" class="govuk-link--no-visited-state">Invite new user</a>
        </span>
      </h2>
      <p>Manage {{data['party1']}}'s users giving them access to cases or admin rights for this account.</p>
    
      <form>
        <div id="table-sort" class="govuk-visually-hidden--desktop"> 
          <div class="govuk-form-group table-sort-select">
            <label class="govuk-label govuk-!-display-inline" for="sort-user">
              Sort users by
            </label>
            <select class="govuk-select" id="sort-user" name="sort-user">
              <option value="User" selected>User</option>
              <option value="Email">Email</option>
              <option value="Account Account role">Account role</option>
              <option value="Number of cases">Number of cases</option>
            </select>
          </div>
          <div class="govuk-form-group table-sort-select">
            <label class="govuk-label govuk-visually-hidden" for="direction-users">
              Direction
            </label>
            <select class="govuk-select" id="direction-users" name="direction-users">
              <option value="Decending" selected>Decending</option>
              <option value="Accending">Accending</option>
            </select>
          </div>
          {{ govukButton({
            text: "Sort users",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </form>

      <table class="govuk-table sortable mobile-table-border desktop-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
          A table listing all of the users that have access to this organisations account
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>User
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Email
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Account role
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Cases
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header no-sort">
              <span class="govuk-visually-hidden--desktop">Action: </span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <!--Determine who is signed in -->
          
          {% if (data['who-signin'] == "rep") or (data['who-signin'] == "rep-invite")  %}
            <tr class="govuk-table__row no-border">
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">User: </span><a href="#" class="govuk-link--no-visited-state">{{data['rep-user6']}}</a>
              </td>
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">Email: </span>{{data['rep-email6']}}
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Account role: </span>{{data['rep-user-role6']}}
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Cases: </span>2
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Action: </span><a href="" class="govuk-link--no-visited-state">Assign to case</a>
              </td>
            </tr>

            {% else %}
            <tr class="govuk-table__row no-border">
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">User: </span><a href="user-account?account-user=party-user1" class="govuk-link--no-visited-state">{{data['createaccount-name'] or data['party-user1'] }}</a>
              </td>
              <td class="govuk-table__cell text-overflow">
                <span class="govuk-visually-hidden--desktop">Email: </span>{{data['createaccount-email'] or data['party-email1'] }}
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Account role: </span>Admin user
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Cases: </span>3
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop">Action: </span>
                {% if data['party-user1-status'] == "Inactive" %}           
                  <a href="user-account-status?account-user=party-user1" class="govuk-link--no-visited-state">Activate user</a>
                  {% else %}
                  <a href="" class="govuk-link--no-visited-state">Assign to case</a>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        </body>
      </table>
    </div>
    {% else %}
    {% if (data['show-invite-org'] == "yes") or (data['show-invite-rep'] == "yes") %}
      <div class="govuk-grid-column-full">

        {% set manageTeamHTML %}
          <h2 class="govuk-heading-m">Account users
            <span class="govuk-body right-aligned-link">
              <a href="invite/invite-user-type?tasklist-type=invite-rep&existing-cases-reps=yes" class="govuk-link--no-visited-state">Invite new user</a>
            </span>
          </h2>
          <p>Manage {{data['party1']}}'s users giving them access to cases or admin rights for this account.</p>
        
          <form>
            <div id="table-sort" class="govuk-visually-hidden--desktop"> 
              <div class="govuk-form-group table-sort-select">
                <label class="govuk-label govuk-!-display-inline" for="sort-user">
                  Sort users by
                </label>
                <select class="govuk-select" id="sort-user" name="sort-user">
                  <option value="User" selected>User</option>
                  <option value="Email">Email</option>
                  <option value="Account Account role">Account role</option>
                  <option value="Number of cases">Number of cases</option>
                </select>
              </div>
              <div class="govuk-form-group table-sort-select">
                <label class="govuk-label govuk-visually-hidden" for="direction-users">
                  Direction
                </label>
                <select class="govuk-select" id="direction-users" name="direction-users">
                  <option value="Decending" selected>Decending</option>
                  <option value="Accending">Accending</option>
                </select>
              </div>
              {{ govukButton({
                text: "Sort users",
                classes: "govuk-button--secondary"
              }) }}
            </div>
          </form>

          <table class="govuk-table sortable mobile-table-border desktop-table-border" id="table-header">
            <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
              A table listing all of the users that have access to this organisations account
            </caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" aria-sort="ascending">
                  <button class="govuk-button govuk-button--secondary">
                    <span class="govuk-visually-hidden--desktop">Sort by: </span>User
                    <span class="indicator" aria-hidden="true"></span>
                  </button>
                </th>
                <th class="govuk-table__header">
                  <button class="govuk-button govuk-button--secondary">
                    <span class="govuk-visually-hidden--desktop">Sort by: </span>Email
                    <span class="indicator" aria-hidden="true"></span>
                  </button>
                </th>
                <th class="govuk-table__header">
                  <button class="govuk-button govuk-button--secondary">
                    <span class="govuk-visually-hidden--desktop">Sort by: </span>Account role
                    <span class="indicator" aria-hidden="true"></span>
                  </button>
                </th>
                <th class="govuk-table__header">
                  <button class="govuk-button govuk-button--secondary">
                    <span class="govuk-visually-hidden--desktop">Sort by: </span>Cases
                    <span class="indicator" aria-hidden="true"></span>
                  </button>
                </th>
                <th class="govuk-table__header no-sort">
                  <span class="govuk-visually-hidden--desktop">Action: </span>
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              <!--Determine who is signed in -->
              
              {% if (data['who-signin'] == "rep") or (data['who-signin'] == "rep-invite")  %}
                <tr class="govuk-table__row no-border">
                  <td class="govuk-table__cell text-overflow">
                    <span class="govuk-visually-hidden--desktop">User: </span><a href="#" class="govuk-link--no-visited-state">{{data['rep-user6']}}</a>
                  </td>
                  <td class="govuk-table__cell text-overflow">
                    <span class="govuk-visually-hidden--desktop">Email: </span>{{data['rep-email6']}}
                  </td>
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Account role: </span>{{data['rep-user-role6']}}
                  </td>
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Cases: </span>2
                  </td>
                  <td class="govuk-table__cell ">
                    <span class="govuk-visually-hidden--desktop">Action: </span><a href="" class="govuk-link--no-visited-state">Assign to case</a>
                  </td>
                </tr>

                {% else %}
                <tr class="govuk-table__row no-border">
                  <td class="govuk-table__cell text-overflow">
                    <span class="govuk-visually-hidden--desktop">User: </span><a href="user-account?account-user=party-user1" class="govuk-link--no-visited-state">{{data['createaccount-name'] or data['party-user1'] }}</a>
                  </td>
                  <td class="govuk-table__cell text-overflow">
                    <span class="govuk-visually-hidden--desktop">Email: </span>{{data['createaccount-email'] or data['party-email1'] }}
                  </td>
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Account role: </span>Admin user
                  </td>
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Cases: </span>3
                  </td>
                  <td class="govuk-table__cell ">
                    <span class="govuk-visually-hidden--desktop">Action: </span>
                    {% if data['party-user1-status'] == "Inactive" %}           
                      <a href="user-account-status?account-user=party-user1" class="govuk-link--no-visited-state">Activate user</a>
                      {% else %}
                      <a href="" class="govuk-link--no-visited-state">Assign to case</a>
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            </body>
          </table>
        {% endset %}

        {% set manageInvitesHTML %}
          <h2 class="govuk-heading-m">Invites
            <span class="govuk-body right-aligned-link">
              <a href="invite/invite-user-type?tasklist-type=invite-rep&existing-cases-reps=yes" class="govuk-link--no-visited-state">Invite new user</a>
            </span>
          </h2>
          <p>You have 1 pending invite</p>
          <form>
            <div id="table-sort" class="govuk-visually-hidden--desktop"> 
              <div class="govuk-form-group table-sort-select">
                <label class="govuk-label govuk-!-display-inline" for="sort-pending">
                  Sort users by
                </label>
                <select class="govuk-select" id="sort-pending" name="sort-pending">
                  <option value="User" selected>User</option>
                  <option value="Email">Email</option>
                  <option value="Email">Account role</option>
                  <option value="Invite status">Status</option>
                </select>
              </div>
              <div class="govuk-form-group table-sort-select">
                <label class="govuk-label govuk-visually-hidden" for="direction-pending">
                  Direction
                </label>
                <select class="govuk-select" id="direction-pending" name="direction-pending">
                  <option value="Decending" selected>Decending</option>
                  <option value="Accending">Accending</option>
                </select>
              </div>
              {{ govukButton({
                text: "Sort pending invites",
                classes: "govuk-button--secondary"
              }) }}
            </div>
          </form>
          <table class="govuk-table sortable mobile-table-border" id="table-header">
            <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
              A table listing all of the users that have pending invites
            </caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" aria-sort="ascending">
                  <button class="govuk-button govuk-button--secondary">
                    <span class="govuk-visually-hidden--desktop">Sort by: </span>User
                    <span class="indicator" aria-hidden="true"></span>
                  </button>
                </th>
                <th class="govuk-table__header">
                  <button class="govuk-button govuk-button--secondary">
                    <span class="govuk-visually-hidden--desktop">Sort by: </span>Email
                    <span class="indicator" aria-hidden="true"></span>
                  </button>
                </th>
                <th class="govuk-table__header">
                  <button class="govuk-button govuk-button--secondary">
                    <span class="govuk-visually-hidden--desktop">Sort by: </span>Account role
                    <span class="indicator" aria-hidden="true"></span>
                  </button>
                </th>
                <th class="govuk-table__header">
                  <button class="govuk-button govuk-button--secondary">
                    <span class="govuk-visually-hidden--desktop">Sort by: </span>Status
                    <span class="indicator" aria-hidden="true"></span>
                  </button>
                </th>
                <th class="govuk-table__header no-sort">
                    <span class="govuk-visually-hidden--desktop">Action: </span>
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
                
              {% if (data['show-invite-org'] == "yes") %}
                <tr class="govuk-table__row no-border">
                  <td class="govuk-table__cell text-overflow">
                    <span class="govuk-visually-hidden--desktop">User: </span>{{data['invite-user-name'] or data['party-user11'] }}
                  </td>
                  <td class="govuk-table__cell text-overflow">
                    <span class="govuk-visually-hidden--desktop">Email: </span>{{data['invite-user-email'] or data['party-email11'] }}
                  </td>
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Account role: </span>{{data['invite-user-email'] or "User" }}
                  </td>
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Status: </span>Invite sent
                  </td>
                  <td class="govuk-table__cell ">
                    <span class="govuk-visually-hidden--desktop">Action: </span><a href="invite/invite-app-details-org" class="govuk-link--no-visited-state">View invite</a>
                  </td>
                </tr>
              {% endif %}
              {% if (data['show-invite-rep'] == "yes") %}
                <tr class="govuk-table__row no-border">
                  <td class="govuk-table__cell text-overflow">
                    <span class="govuk-visually-hidden--desktop">User: </span>{{data['invite-user-name'] or data['rep-user3'] }}
                  </td>
                  <td class="govuk-table__cell text-overflow">
                    <span class="govuk-visually-hidden--desktop">Email: </span>{{data['invite-user-email'] or data['rep-email3'] }}
                  </td>
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Account role: </span>Representative
                  </td>
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Status: </span>Invite sent
                  </td>
                  <td class="govuk-table__cell">
                    <span class="govuk-visually-hidden--desktop">Action: </span><a href="invite/invite-app-details-rep?invite-rep-task=Sent" class="govuk-link--no-visited-state">View invite</a>
                  </td>
                </tr>
              {% endif %}
            </body>
          </table>
        {% endset %}

        {{ govukTabs ({
          items: [
          { 
            label: "Account users",
            id: "manage-team",
            panel: {
              html: manageTeamHTML
            }
          },
          { 
            label: "Invites (1)",
            id: "manage-invites",
            panel: {
              html: manageInvitesHTML
            }
          }
          ]
        }) }}
      </div>
    {% endif %}
  {% endif %}

</div>


{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}