{% extends "layout.html" %}

{% block pageTitle %}
Remove user - {{serviceName}}
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Remove user
      </h1>

      <p>Are you sure you want to remove the user from this case? They will no longer be able to access or interact with the case.</p>
      <p>
        {% if data['account-user'] =="party-user1" %}
          {{data['party-user11'] }} - {{data['party-email11'] }}
          {% else %}
          {% if data['account-user'] =="party-user11" %}
            {{data['party-user11'] }} - {{data['party-email11'] }}
            {% else %}
            {% if data['account-user'] =="rep-user3" %}
              {{data['rep-user3'] }} - {{data['rep-email3'] }}
            {% endif %}
          {% endif %}
        {% endif %}
        <br>
        {% if data['account-case'] =="case1" %}
          {{data['case-ref1'] }} - {{data['case-name1'] }}
          {% else %}
          {% if data['account-case'] =="case5" %}
            {{data['case-ref5'] }} - {{data['case-name5'] }}
            {% else %}
            {% if data['account-case'] =="case6" %}
              <p>{{data['case-ref6'] }} - {{data['case-name6'] }}
            {% endif %}
          {% endif %}
        {% endif %}
      </p>

      <form action="remove-user-confirm" method="post" id="remove-user-form">
        <input type="hidden" id="show-invite" name="show-invite" value="no">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Remove user",
            classes: "govuk-button--warning"
          }) }}    
        <a class="govuk-link govuk-link--no-visited-state"  href="javascript: history.back()">Back</a>
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}