{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Organisations: {{data['representative1']}} – {{ serviceName }}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width cases-nav case-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/caseworker/dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/caskworker/orgs/orgs-all">All organisations</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{data['representative1']}}

    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
{% set bodyClasses = 'caseworker' %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{data['representative1']}}
      </h1>
    </div>


    <div class="govuk-grid-column-full">
      {% include "includes/caseworker-nav-org.html" %}
    <br>
    <br>
    
    {% set newPartyHTML %}
    <p>There are <strong>2</strong> parties waiting to be confirmed on to a case</p>

      
      {% endset %}

      {{ govukTabs ({
        items: [
        { 
          label: "Parties to confirm (2)",
          id: "new-party",
          panel: {
            html: newPartyHTML
          }
        }
        ]
      }) }}     
      
    </div>

  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
