{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Organisations: {{data['representative1']}} – {{ serviceName }}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width org-nav org-overview-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{data['representative1']}}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/caseworker-nav-org.html" %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Overview</h2>

      <div class="govuk-inset-text govuk-inset-text__reginterest">
        <strong>{{data['representative1']}}</strong> has been verified on 2 cases <br>
        The last verification was on <strong>21 Feb 2020</strong> by <strong>Bobby Caseworker</strong>
      </div>  
   
  
    <div class="address-card">
      <div class="address-container">
        <h2 class="govuk-heading-m">
          {{data['representative1']}}
          <p class="right-aligned-link govuk-heading-s">
            <a href="" class="govuk-link--no-visited-state">Edit details</a>
          </p> 
        </h2> 
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Contact:</dt>
            <dd class="govuk-summary-list__value">{{data['rep-user1']}} <br>
              {{data['rep-email1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address:</dt>
            <dd class="govuk-summary-list__value">20 Highbury Place, Bramley, Leeds <br>
              LS13 4PW<br>
              United Kingdom
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company number: </dt>
            <dd class="govuk-summary-list__value">068482855 <img src="/public/images/checkmark.png" class="verified-tick" alt="Registered UK Company" title="Registered UK Company" width="18px">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Web address: </dt>
            <dd class="govuk-summary-list__value"><a href="www.steeluk.com" target="_blank">BlueSteelPartners.com</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EORI: </dt>
            <dd class="govuk-summary-list__value">GB205672212000</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">VAT no: </dt>
            <dd class="govuk-summary-list__value">GB123456789</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">D-U-N-S: </dt>
            <dd class="govuk-summary-list__value">150483782</dd>
          </div>
        </dl>

      </div>
    </div>
    </div>

  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
