{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Organisations: {{data['representative1']}} – {{ serviceName }}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width orgs-nav org-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{data['representative1']}}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/caseworker-nav-org.html" %}
      <div class="govuk-inset-text govuk-inset-text__reginterest">
        <strong>{{data['representative1']}}</strong> has been verified on 2 cases <br>
        The last confirmation was on <strong>21 Feb 2020</strong> by <strong>Bobby Caseworker</strong>
      </div>  
   
  
    <div class="address-card">
      <div class="address-container">
        <h2 class="govuk-heading-m"><a href="" class="govuk-link--no-visited-state">{{data['representative1']}}</a>  
        </h2> 
        <dl class="govuk-summary-list govuk-!-margin-bottom-1">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Contact:</dt>
            <dd class="govuk-summary-list__value">{{data['rep-user1']}} <br>
              {{data['rep-email1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address:</dt>
            <dd class="govuk-summary-list__value">20 Highbury Place, Bramley, Leeds <br>
              LS13 4PW<br>
              United Kingdom
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company number: </dt>
            <dd class="govuk-summary-list__value">068482855 <img src="/public/images/checkmark.png" class="verified-tick" alt="Registered UK Company" title="Registered UK Company" width="18px">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Web address: </dt>
            <dd class="govuk-summary-list__value"><a href="www.steeluk.com" target="_blank">BlueSteelPartners.com</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EORI: </dt>
            <dd class="govuk-summary-list__value">GB205672212000</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">VAT no: </dt>
            <dd class="govuk-summary-list__value">GB123456789</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">D-U-N-S: </dt>
            <dd class="govuk-summary-list__value">150483782</dd>
          </div>
        </dl>
        <br>
        <div>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Interested party: 1 case
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                <li><a href="" class="govuk-link--no-visited-state">AD245: Gems from Guatamala</a> (Contributor) <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified party" title="Verified party" width="32px"> 29 July 2021</li>
              </ul>
            </div>
          </details>
        </div>
        <div>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Acting as a representative: 1 case
              </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="" class="govuk-link--no-visited-state">AD3456: Jelly Tots from Japan</a> <img src="/public/images/verfied-tick.png" class="verified-check" alt="Confirmed representative" title="Confirmed representative" width="32px"> 21 Jan 2022</li>
                </ul>
            </div>
          </details>
        </div>
        <div>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Users: 3
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                <li><a href="#" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a> - {{data['rep-email1']}}</li>
                <li><a href="#" class="govuk-link--no-visited-state">Simon Williams</a> - s.williams@BlueSteelPartners.com</li>
                <li><a href="#" class="govuk-link--no-visited-state">Tina Fray</a> - tina.fray@BlueSteelPartners.com</li>
              </ul>
            </div>
          </details>
        </div>   
      </div>
    </div>
    </div>

  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
