{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  All organisations – {{ serviceName }}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width cases-nav' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/caseworker/dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      All organisations
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      All organisations
    </h1>

    {% set activeOrgsHTML %}
    <h2 class="govuk-heading-m">Active orgs</h2>
      <form>
        <div id="table-sort" class="govuk-visually-hidden--desktop"> 
          <div class="govuk-form-group table-sort-select">
            <label class="govuk-label govuk-!-display-inline" for="sort-active-org">
              Sort active organisations cases by
            </label>
            <select class="govuk-select" id="sort-active-org" name="sort-active-org">
              <option value="Case No." selected>Name</option>
              <option value="Alerts">Type of org</option>
              <option value="Case">Registration no.</option>
              <option value="Type">Country</option>
              <option value="Applicant">No. cases</option>
              <option value="Initiated">No. users</option>
              <option value="Status">Created</option>
            </select>

            <label class="govuk-label govuk-visually-hidden" for="direction-active-org">
              Direction
            </label>
            <select class="govuk-select" id="direction-active-org" name="direction-active-org">
              <option value="Decending" selected>Decending</option>
              <option value="Accending">Accending</option>
            </select>

            {{ govukButton({
              text: "Sort organisations",
              classes: "govuk-button--secondary"
            }) }}
          </div>
        </div>
      </form>

      <table class="govuk-table sortable1 table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden">
          A table listing all of the active organisations
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Party
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Type of org
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Country
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>No. cases
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>No. users
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Registered
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="" class="govuk-link--no-visited-state">{{data['party4']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Type of org: </span>{{data['party-role4']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Country: </span>Republic of Gabon
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. cases: </span>1
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. users: </span>1
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Registered: </span>{{data['initiated5']}}
            </td>
          </tr>

          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="org-overview" class="govuk-link--no-visited-state">{{data['representative1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Type of org: </span>Representative
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Country: </span>United Kingdom
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. cases: </span>2
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. users: </span>3
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Registered: </span>28 May 2022
            </td>
          </tr>

          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="" class="govuk-link--no-visited-state">{{data['party3']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Type of org: </span>{{data['party-role3']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Country: </span>{{data['country3']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. cases: </span>1
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. users: </span>4
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Registered: </span>{{data['created3']}}
            </td>
          </tr>

          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="" class="govuk-link--no-visited-state">{{data['party5']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Type of org: </span>{{data['party-role5']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Country: </span>Republic of Gabon
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. cases: </span>1
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. users: </span>1
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Registered: </span>{{data['initiated5']}}
            </td>
          </tr>

          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="" class="govuk-link--no-visited-state">{{data['representative3']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Type of org: </span>{{data['rep-role3']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Country: </span>United Kingdom
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. cases: </span>1
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. users: </span>2
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Registered: </span>28 April 2021
            </td>
          </tr>

          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Type of org: </span>{{data['party-role1']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Country: </span>United Kingdom
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. cases: </span>1
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. users: </span>1
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Registered: </span>28 May 2022
            </td>
          </tr>

          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="" class="govuk-link--no-visited-state">{{data['applicant1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Type of org: </span>{{data['app-role1']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Country: </span>United Kingdom
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. cases: </span>1
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">No. users: </span>1
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Registered: </span>{{data['created1']}}
            </td>
          </tr>
        </body>
      </table>

    {% endset %}

    {% set confirmPartyHTML %}
    <p>There are <strong>2</strong> parties waiting to be confirmed on to a case</p>

    <form>
      <div id="table-sort" class="govuk-visually-hidden--desktop"> 
        <div class="govuk-form-group table-sort-select">
          <label class="govuk-label govuk-!-display-inline" for="sort-party">
            Sort parties by
          </label>
          <select class="govuk-select" id="sort-party" name="sort-party">
            <option value="No." selected>Party</option>
            <option value="Case">User</option>
            <option value="Type">Submission</option>
            <option value="Applicant">Submitted</option>
          </select>

          <label class="govuk-label govuk-visually-hidden" for="direction-party">
            Direction
          </label>
          <select class="govuk-select" id="direction-party" name="direction-party">
            <option value="Decending" selected>Decending</option>
            <option value="Accending">Accending</option>
          </select>
        </div>

        {{ govukButton({
          text: "Sort",
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </form>  

    <table class="govuk-table sortable1 table-border" id="table-header">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden">
        A table listing all of the parties waiting to be confirmed on to a case
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" aria-sort="ascending">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Party
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>User
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Submission
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header no-sort">
              <span class="govuk-visually-hidden--desktop">Action:</span>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">  
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="org-overview" class="govuk-link--no-visited-state">{{data['representative1']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="#" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Submission: </span>{{data['party-submission1']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Submitted: </span>28 May 2022
          </td>   
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?duplicate-org=yes&third-party=yes&notify-contact=yes" class="govuk-link--no-visited-state">Confirm <span class="govuk-visually-hidden td-header">{{data['party1']}}
            </span></a>
          </td>        
        </tr> 

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="#" class="govuk-link--no-visited-state">Glorious Gabon Plc</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="#" class="govuk-link--no-visited-state">ArnieSwarts</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Submission: </span>Representative invite
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Submitted: </span>22 May 2022
          </td>  
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="" class="govuk-link--no-visited-state">Confirm <span class="govuk-visually-hidden td-header">Glorious Gabon Plc</span></a>
          </td>             
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="#" class="govuk-link--no-visited-state">{{data['party1']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="#" class="govuk-link--no-visited-state">{{data['party-user1']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Submission: </span>{{data['party-submission1']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Submitted: </span>28 May 2022
          </td>   
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?duplicate-org=no&third-party=no&notify-contact=no" class="govuk-link--no-visited-state">Confirm <span class="govuk-visually-hidden td-header">{{data['party1']}}
            </span></a>
          </td>        
        </tr> 

      </body>
    </table>   
    {% endset %}

    {% set rejOrgtHTML %}
    <h2 class="govuk-heading-m">Cannot be verified</h2> 
      
    {% endset %}
      
      
    {{ govukTabs ({
      items: [
      { 
        label: "Active organisations",
        id: "active-orgs",
        panel: {
          html: activeOrgsHTML
        }
      },
      { 
      label: "Parties to confirm",
      id: "confirm-party",
      panel: {
        html: confirmPartyHTML
        }
      },
      { 
        label: "Cannot be verified",
        id: "rej-org",
        panel: {
          html: rejOrgtHTML
        }
      }
      ]
    }) }}
    
    
  </div>

</div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
