<nav id="case-navigation" class="case-navigation govuk-clearfix" role="navigation" aria-labelledby="case-navigation-heading">
  <h2 class="govuk-visually-hidden" id="case-navigation-heading">Case menu</h2>
  <ul class="case-navigation__list case-width-container govuk-width-container" id="case-nav">
    
    <li class="case-navigation__list-item case-navigation__list-item--case" >
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline case-navigation__link" href="#">
        Overview 
      </a>
    </li><li class="case-navigation__list-item case-navigation__list-item--party">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline case-navigation__link" href="#">
        Cases
      </a>
    </li>
    <li class="case-navigation__list-item case-navigation__list-item--submission">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline case-navigation__link" href="">
        Users
      </a>
    </li>
  </ul>
</nav>