<nav id="case-navigation" class="case-navigation govuk-clearfix" role="navigation" aria-labelledby="case-navigation-heading">
  <h2 class="govuk-visually-hidden" id="case-navigation-heading">Case menu</h2>
  <ul class="govuk-list case-navigation__list case-width-container govuk-width-container" id="case-nav">
    <li class="case-navigation__list-item case-navigation__list-item--case">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline case-navigation__link" href="/caseworker/cases/case-overview">
        Overview 
      </a>
    </li><li class="case-navigation__list-item case-navigation__list-item--party">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline case-navigation__link" href="/caseworker/cases/case-parties">
        Parties
      </a>
    </li>
    <li class="case-navigation__list-item case-navigation__list-item--submission">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline case-navigation__link" href="">
        Submissions
      </a>
    </li>
    <li class="case-navigation__list-item case-navigation__list-item--file">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline case-navigation__link"  href="">
        Files
      </a>    
    </li>
    <li class="case-navigation__list-item case-navigation__list-item--milestone">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline case-navigation__link" href="/caseworker/cases/case-milestones">
        Milestones
      </a>
    </li>
    <li class="case-navigation__list-item case-navigation__list-item--workflow">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline case-navigation__link" href="#">
        Workflow
      </a>
    </li>
  </ul>
</nav>