<nav id="app-navigation" class="app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container govuk-width-container" id="nav">
    
    <li class="app-navigation__list-item " >
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="/caseworker/dashboard">
        Dashboard
      </a>
    </li>
    <li class="app-navigation__list-item app-navigation__list-item--current" >
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="/caseworker/cases/cases-all">
        Cases
      </a>
    </li>
    <li class="app-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="/caseworker/organisations/organisations-all">
        Organisations
      </a>
    </li>
    <li class="app-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link"  href="/caseworker/users/users-all">
        Users
      </a>    
    </li>
    <li class="app-navigation__list-item ">
      <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="#">
        Notices
      </a>
      </li>
  </ul>
</nav>