{% if (data['case-selected'] == null) %}
<li class="app-task-list__item">
  <span class="app-task-list__task-name">
    <a href="reginterest-case" aria-describedby="case-selected-status">
      Find Trade Remedies case
    </a>
  </span>
  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="case-selected-status">Not started</strong>
</li>

{% else %}
<li class="app-task-list__item">
  <span class="app-task-list__task-name">
    <a href="reginterest-case" aria-describedby="case-selected-status">
      Find Trade Remedies case
    </a>
  </span>
  <strong class="govuk-tag app-task-list__tag" id="case-selected-status">Complete</strong>
</li>

<!-- Should we show the details as they go along or not? 

<li class="app-task-list__item">
  <span class="app-task-list__task-name">
    <a href="reginterest-case" aria-describedby="case-selected-status">
      {{ data['case-ref'] }}: {{ data['case-name'] }}
    </a>
  </span>
  <strong class="govuk-tag app-task-list__tag" id="case-selected-status">Complete</strong>
</li>

-->

{% endif %}