{% if (data['case-selected'] != null) %}
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <a href="reginterest-case?case-started=yes" class="govuk-link--no-visited-state" aria-describedby="case-selected-status">
        Select Trade Remedies case
      </a>
    </span>
    <strong class="govuk-tag app-task-list__tag" id="case-selected-status">Complete</strong>
  </li>

  {% else %}

    {% if (data['case-started'] == "yes") %}
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-case?case-started=yes" class="govuk-link--no-visited-state" aria-describedby="case-selected-status">
            Select Trade Remedies case
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="case-selected-status">In progress</strong>
      </li>

      {% else %}

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="reginterest-case?case-started=yes" class="govuk-link--no-visited-state" aria-describedby="case-selected-status">
              Select Trade Remedies case
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="case-selected-status">Not started</strong>
        </li>

    {% endif %}

{% endif %}