<!-- Caseworker - verify reginterest & verify invite- organisation -->
  <!-- Caseworker - verify reginterest & verify invite- organisation -->
    <!-- Caseworker - verify reginterest & verify invite- organisation -->


<!-- Duplicates only show if there is dup -->
{% if (data['duplicate-org'] == "yes") %}

  {% if (data[''] != null) %}

  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <a href="reginterest-merge-int-party" class="govuk-link--no-visited-state" aria-describedby="duplicate-status">
        Resolve duplicate interested party
      </a>
    </span>
    <strong class="govuk-tag app-task-list__tag" id="duplicate-status">Complete</strong>
  </li>

  {% else %}
    {% if (data[''] == "yes")  %}
     <!-- If the user has started section 2 show: -->

      <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-merge-int-party" class="govuk-link--no-visited-state" aria-describedby="duplicate-status">
          Resolve duplicate interested party
        </a>
      </span>
      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="duplicate-status">In progress</strong>
      </li>
      
      {% else %}
      <!-- If the user has not started section 2 show -->
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-merge-int-party" class="govuk-link--no-visited-state" aria-describedby="duplicate-status">
            Resolve duplicate interested party
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="duplicate-status">Not started yet</strong>
      </li>

    {% endif %}
  {% endif %}
{% endif %}


<!-- Confirm primary org which is the org involved in the actual case NOT the representative-->
<!-- Always show for Reg Interest -->
{% if data['verify-type'] == "reg-interest" %}
  {% if (data['primary-party-task'] == "complete") %}
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-interested-party" class="govuk-link--no-visited-state" aria-describedby="primary-party-status">
            Verify interested party
          </a>
        </span>
        <strong class="govuk-tag app-task-list__tag" id="primary-party-status">Complete</strong>
      </li>
      {% else %}
      <!-- If the user has not started section 2 show -->
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-interested-party" class="govuk-link--no-visited-state" aria-describedby="primary-party-status">
            Verify interested party
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="primary-party-status">Not started yet</strong>
      </li>
  {% endif %}
  {% else %}
  <!-- Do not show for Verifying a rep invite where: verify-type=invite-rep -->
{% endif %}


<!-- LOA - reginterest org - only show if required e.g. representative -->
{% if (data['third-party'] == "yes") %}

  {% if (data['loa-complete'] != null) %}

    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-loa-existing" class="govuk-link--no-visited-state" aria-describedby="organisation-loa-status">
          Letter of Authority
        </a>
      </span>
      <strong class="govuk-tag app-task-list__tag" id="organisation-loa-status">Complete</strong>
    </li>

    {% else %}
  
    <!-- If the user has not started section 2 show -->
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-loa-existing" class="govuk-link--no-visited-state" aria-describedby="organisation-loa-status">
          Letter of Authority
        </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="organisation-loa-status">Not started yet</strong>
    </li>
  {% endif %}
{% endif %}



<!-- Verify second party - this is the rep org-->
<!-- Only show this if it is the right type of verify type e.g. involves a representative-->

{% if (data['third-party'] == "yes") %}

  {% if (data['representative-party-complete'] != null) %}
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-representative-party" class="govuk-link--no-visited-state" aria-describedby="third-party-status">
            Verify representative
          </a>
        </span>
        <strong class="govuk-tag app-task-list__tag" id="third-party-status">Complete</strong>
      </li>

      {% else %}
      
      <!-- If the user has not started section 2 show -->
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-representative-party?rep-party-started=yes" class="govuk-link--no-visited-state" aria-describedby="third-party-status">
            Verify representative
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="third-party-status">Not started yet</strong>
      </li>
  {% endif %}
{% endif %}