<!-- Caseworker - reginterest org - accept -->
  <!-- Caseworker - reginterest org - accept -->
    <!-- Caseworker - reginterest org - accept -->


{% if (data['accept-on-case-complete'] != null) %}

    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-accept" aria-describedby="reginterest-accept-status">
          Accept registration of interest
        </a>
      </span>
      <strong class="govuk-tag app-task-list__tag" id="reginterest-accept-status">Complete</strong>
    </li>

    {% else %}
    {% if (data['accept-on-case-started'] == "yes")  %}
      <!-- If the user has started section 2 show: -->

        <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-accept" aria-describedby="reginterest-accept-status">
            Accept registration of interest
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="reginterest-accept-status">In progress</strong>
        </li>
        
        {% else %}
          {% if (data['primary-party-complete'] == "yes")  %}
            <!-- If the user has not started section 2 show -->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="reginterest-accept?accept-on-case-started=yes" aria-describedby="reginterest-accept-status">
                  Accept registration of interest
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="reginterest-accept-status">Not started yet</strong>
            </li>

            {% else %}
              <!-- If the user has not complete section 1 show -->
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  Accept registration of interest
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="reginterest-accept-status">Cannot start yet</strong>
              </li>
          {% endif %}

    {% endif %}

{% endif %}



<!-- Notify contact-->

{% if (data[''] != null) %}

    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-which-org" aria-describedby="reginterest-verify-status">
          Notify contact
        </a>
      </span>
      <strong class="govuk-tag app-task-list__tag" id="reginterest-verify-status">Complete</strong>
    </li>

    {% else %}
    {% if (data[''] == "yes")  %}
      <!-- If the user has started section 2 show: -->

        <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-which-org" aria-describedby="reginterest-verify-status">
            Notify contact
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="reginterest-verify-status">In progress</strong>
        </li>
        
        {% else %}
          {% if (data[''] == "yes")  %}
            <!-- If the user has not started section 2 show -->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="reginterest-which-org?accept-on-case-started=yes" aria-describedby="reginterest-verify-status">
                  Notify contact
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="reginterest-verify-status">Not started yet</strong>
            </li>

            {% else %}

            <!-- If the user has not finished section 1 show -->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Notify contact
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="reginterest-verify-status">Cannot start yet</strong>
            </li>
          {% endif %}

    {% endif %}

{% endif %}