<!-- If the user has not finsihed section 2 show: -->
{% if (data['reginterest-what-org'] == null) %}
  <li class="app-task-list__item">
    <span class="app-task-list__task-name" aria-describedby="download-status">
      Download registration documentation
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="download-status">Cannot start yet</strong>
  </li>
  <li class="app-task-list__item">
    <span class="app-task-list__task-name" aria-describedby="upload-status">
      Upload registration documentation
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="upload-status">Cannot start yet</strong>
  </li>

  {% else %}

  <!-- If the user has completed all of section 2 show: -->
  {% if (data['reginterest-what-org'] != null)  %}
      
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-which-org" aria-describedby="download-status">
          Download registration documentation
        </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="download-status">Not started yet</strong>
    </li>
    <li class="app-task-list__item">
      <span class="app-task-list__task-name" aria-describedby="upload-status">
        Upload registration documentation
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="upload-status">Cannot start yet</strong>
    </li>

    {% endif %}
{% endif %}