<!-- If the user has not started section 1 show: -->
{% if (data['case-ref'] == null) %}
<li class="app-task-list__item">
  <span class="app-task-list__task-name" aria-describedby="organisation-selected-status">
    Organisation details
  </span>
  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="organisation-selected-status">Cannot start yet</strong>
</li>

{% else %}

<!-- If the user has completed section 1 but not started section 2 show: -->

{% if (data['reginterest-what-org'] == "my-org") or (data['reginterest-what-org'] == "existing") or (data['reginterest-what-org'] == "new") %}


  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <a href="reginterest-which-org" aria-describedby="organisation-selected-status">
        Organisation details
      </a>
    </span>
    <strong class="govuk-tag app-task-list__tag" id="organisation-selected-status">Complete</strong>
  </li>

  <!-- If the user has completed section 2 show: -->

  {% else %}
    <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <a href="reginterest-which-org" aria-describedby="organisation-selected-status">
        Organisation details
      </a>
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="organisation-selected-status">Not started yet</strong>
    </li>
  

  {% endif %}


{% endif %}