<!-- If the user has completed Downloads show: -->

{% if (data['reginterest-what-org'] == "existing-org") or (data['reginterest-what-org'] == "new-org")  %}

  {% if (data['upload-loa-complete'] == "yes")  %}
  <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-upload-loa" class="govuk-link--no-visited-state" aria-describedby="download-status">
          Letter of Authority
        </a>
      </span>
      <strong class="govuk-tag app-task-list__tag" id="download-status">Complete</strong>
    </li>

    {% else %}
      <!-- If the user has visited Downloads show: -->
      {% if (data['upload-loa-started'] == "yes")  %}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="reginterest-upload-loa" class="govuk-link--no-visited-state" aria-describedby="download-status">
              Letter of Authority
            </a>
          </span>
          <strong class="govuk-tag app-task-list__tag" id="download-status">In progress</strong>
        </li>

        {% else %}
          <!-- If the user has not started Downloads but has completed section 2 show: -->
          {% if (data['which-org-started'] != null)  %}
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="reginterest-upload-loa?upload-load-started=yes" class="govuk-link--no-visited-state" aria-describedby="download-status">
                  Letter of Authority
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="download-status">Not started</strong>
            </li>

            {% else %}
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name" aria-describedby="download-status">              
                    Letter of Authority
                  </span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="download-status">Cannot start yet</strong>
                </li>

          {% endif %}

      {% endif %}
  {% endif %}

{% endif %}

<!-- If the user has completed Uploads show: -->
<!-- If the user has completed Uploads show: -->
{% if (data['upload-pre-complete'] == "yes")  %}
  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <a href="reginterest-upload-pre" class="govuk-link--no-visited-state" aria-describedby="upload-status">
        Presampling documentation
      </a>
    </span>
    <strong class="govuk-tag app-task-list__tag" id="upload-status">Complete</strong>
  </li>

  {% else %}
    <!-- If the user has visited Uploads show: -->
    {% if (data['upload-pre-started'] == "yes")  %}
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-upload-pre" class="govuk-link--no-visited-state" aria-describedby="upload-status">
            Presampling documentation
          </a>
        </span>
        <strong class="govuk-tag app-task-list__tag" id="upload-status">In progress</strong>
      </li>

      {% else %}
        <!-- If the user has not started Uploads but has completed section 2 show: -->
        {% if (data['which-org-started'] == "yes")  %}
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="reginterest-upload-pre?upload-pre-started=yes" class="govuk-link--no-visited-state" aria-describedby="upload-status">
                  Presampling documentation
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="upload-status">Not started</strong>
            </li>

            {% else %}
              <li class="app-task-list__item">
                <span class="app-task-list__task-name" aria-describedby="upload-status">
                  Presampling documentation
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="upload-status">Cannot start yet</strong>
              </li>

        {% endif %}

    {% endif %}

{% endif %}








