  <!-- Public - reginterest org - organisation - if the user has completed section 2 show: -->
    <!-- Public - reginterest org - organisation - if the user has completed section 2 show: -->
      <!-- Public - reginterest org - organisation - if the user has completed section 2 show: -->

  {% if (data['which-org-task'] == "complete") %}

    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="reginterest-which-org" class="govuk-link--no-visited-state" aria-describedby="organisation-selected-status">
          Organisation details
        </a>
      </span>
      <strong class="govuk-tag app-task-list__tag" id="organisation-selected-status">Complete</strong>
    </li>

    {% else %}
    {% if (data['which-org-task'] == "started")  %}
      <!-- If the user has started section 2 show: -->

        <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="reginterest-which-org" class="govuk-link--no-visited-state" aria-describedby="organisation-selected-status">
            Organisation details
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="organisation-selected-status">In progress</strong>
        </li>
        
        {% else %}
        {% if (data['case-task'] == "complete")  %}
          <!-- If the user has not started section 2 show -->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="reginterest-which-org?which-org-task=started" class="govuk-link--no-visited-state" aria-describedby="organisation-selected-status">
                Organisation details
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="organisation-selected-status">Not started yet</strong>
          </li>

          {% else %}

            <li class="app-task-list__item">
              <span class="app-task-list__task-name" aria-describedby="organisation-selected-status">
                Organisation details
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="organisation-selected-status">Cannot start yet</strong>
            </li>

        {% endif %}

    {% endif %}

{% endif %}