<!-- Upload confidential docs 1 -->
{% if (data['upload1-complete'] !=  "yes") and (data['upload1-complete'] != "yes") %}
<li class="app-task-list__item govuk-!-margin-bottom-2" id="confi-button">
  <button class="govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-button" onclick="showDiv1()">
  Add Confidential document
  </button>
</li>
{% endif %}

{% if data['upload1-complete'] == "yes" %}

  <li class="app-task-list__item govuk-!-margin-bottom-2">
    <span class="app-task-list__task-name">
      <label class="govuk-label" for="file-upload-1">
        Confidential document
      </label>
      <a href="#" class="govuk-link--no-visited-state">
        mydocumentation.docx
      </a>
    </span>
    <a href="reginterest-upload2?upload1-complete=no" class="app-task-list__tag remove-link govuk-link--no-visited-state">
        Remove
    <span class="govuk-visually-hidden"> file</span>
    </a>
  </li>
  
  {% else %}
       
    <div id="div3">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name ">
          <label class="govuk-label" for="progress">
            Uploading 80%: mydocumentation.docx
          </label>
            
          <progress id="progress" max="100" value="80">
            <div class="progress-bar">
                <span style="width: 80%;">Progress: 80%</span>
            </div>
          </progress>
        </span>
        <a href="#" class="app-task-list__tag remove-link govuk-link--no-visited-state" id="case-selected-status">
          Cancel
          <span class="govuk-visually-hidden"> file</span>
        </a>
      </li>
    </div>

    <div id="div2">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name ">
          <label class="govuk-label" for="progress">
            Uploading 10%: mydocumentation.docx
          </label>
          
          <progress id="progress" max="100" value="10">
            <div class="progress-bar">
                <span style="width: 10%;">Progress: 10%</span>
            </div>
        </progress>
      
        </span>
        <a href="#" class="app-task-list__tag remove-link govuk-link--no-visited-state" id="case-selected-status">
          Cancel
          <span class="govuk-visually-hidden"> file</span>
        </a>
      </li>
    </div>

    <div id="div1">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">   
            <label class="govuk-label" for="file-upload-1">
              Upload a confidential file
            </label>
            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
          </span>
          <input class="govuk-label app-task-list__tag remove-link" type="button" onclick="setTimeout1()" value="Submit">

      </li>
    </div>

{% endif %}

<!-- Upload non-confidential docs 3 -->
{% if (data['upload2-complete'] !=  "yes") and (data['upload2-complete'] != "yes") %}
 <li class="app-task-list__item govuk-!-margin-bottom-2" id="unconfi-button">
  <button class="govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-2" data-module="govuk-button" onclick="showDiv4()">
    Add non-confidential document
  </button>
</li>
{% endif %}

{% if data['upload2-complete'] == "yes" %}

  <li class="app-task-list__item">
    <span class="app-task-list__task-name">
      <label class="govuk-label" for="file-upload-1">
        Non-confidential document
      </label>
      <a href="#" class="govuk-link--no-visited-state">
        nonconfidocumentation.docx
      </a>
    </span>
    <a href="reginterest-upload2?upload2-complete=no" class="app-task-list__tag remove-link govuk-link--no-visited-state">
      Remove
    <span class="govuk-visually-hidden"> file</span>
    </a>
  </li>
  
  {% else %}
        
  <div id="div6">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name ">
        <label class="govuk-label" for="progress">
          Uploading 80%: nonconfidocumentation.docx
        </label>
        
        <progress id="progress" max="100" value="80">
          <div class="progress-bar">
              <span style="width: 80%;">Progress: 80%</span>
          </div>
      </progress>
    
      </span>
      <a href="#" class="app-task-list__tag remove-link govuk-link--no-visited-state" id="case-selected-status">
        Cancel
        <span class="govuk-visually-hidden"> file</span>
      </a>
    </li>
  </div>

  <div id="div5">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name ">
        <label class="govuk-label" for="progress">
          Uploading 10%: nonconfidocumentation.docx
        </label>
        
        <progress id="progress" max="100" value="10">
          <div class="progress-bar">
              <span style="width: 10%;">Progress: 10%</span>
          </div>
      </progress>
    
      </span>
      <a href="#" class="app-task-list__tag remove-link govuk-link--no-visited-state" id="case-selected-status">
        Cancel
        <span class="govuk-visually-hidden"> file</span>
      </a>
    </li>
  </div>

  <div id="div4">
    <li class="app-task-list__item">
      <span class="app-task-list__task-name">   
        <label class="govuk-label" for="file-upload-1">
          Upload a non-confidential file
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </span>
      <input class="govuk-label app-task-list__tag remove-link" type="button" onclick="setTimeout2()" value="Submit">
    </li>
  </div>
     
{% endif %}

<script type="text/javascript">

  function setTimeout1() {
    setTimeout("showDiv2()", 0); // after 0 sec
    setTimeout("showDiv3()", 1000); // after 2 sec
    setTimeout("upload1start()", 2000); // after 3 sec
  }

  function setTimeout2() {
    setTimeout("showDiv5()", 0); // after 0 sec
    setTimeout("showDiv6()", 1000); // after 2 sec
    setTimeout("upload2start()", 2000); // after 3 sec
  }

 function upload1start() {
    location.href = "reginterest-upload2?upload1-complete=yes";
  }
  
  function upload2start() {
    location.href = "reginterest-upload2?upload2-complete=yes";
  }

 function showDiv1() {
   document.getElementById("div1").style.display = "block";
   document.getElementById("confi-button").style.display = "none";
  }

  function showDiv2() {
    document.getElementById("div1").style.display = "none";
    document.getElementById("div2").style.display = "block";
    document.getElementById("div3").style.display = "none";
    document.getElementById("add-confi-button").style.display = "block";

  }

  function showDiv3() {
    document.getElementById("div1").style.display = "none";
    document.getElementById("div2").style.display = "none";
    document.getElementById("div3").style.display = "block";
  }

  function showDiv4() {
    document.getElementById("div4").style.display = "block";
    document.getElementById("unconfi-button").style.display = "none";

  }

  function showDiv5() {
    document.getElementById("div4").style.display = "none";
    document.getElementById("div5").style.display = "block";
    document.getElementById("div6").style.display = "none";
  }

  function showDiv6() {
    document.getElementById("div4").style.display = "none";
    document.getElementById("div5").style.display = "none";
    document.getElementById("div6").style.display = "block";
  }

  
</script>