{% extends "layout.html" %}

{% block pageTitle %}
  Confirm not duplicate – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">1.  
      {% if data['verify-type'] == "rep-invite" %}
        Review representative
      {% else %}
        Review parties
      {% endif %}
    </span>
    <h1 class="govuk-heading-xl">
      Confirm not a duplicate
    </h1>
    <p>Before continuing please ensure that you have:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <ul class="govuk-list govuk-list--bullet">
      <li>Updated any details that are incorrect</li>      
      <li>Liased with the caseworkers and organisations involved if needed</li>
      
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
      <div class="address-card address-card-duplicate">
          <div class="address-container">
            <h3 class="govuk-heading-m clearfix"><a href="" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>  
              <p class="right-aligned-link govuk-heading-s">
                <a href="/caseworker/orgs/org-edit-rep-dets?org-edit-type=merge-rep&party-type=rep-dup1" class="govuk-link--no-visited-state">Edit</a>
              </p> 
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-1"> 
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address:</dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-address1']}}<br>
                  {{data['dup-party-postcode1']}}<br>
                  {{data['dup-party-country1']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Reg number: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-org-number1']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Web address: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-web1']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">VAT no: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-vat1']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">EORI: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-eori1']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                <dd class="govuk-summary-list__value"><mark>{{data['dup-party-duns1']}}</mark></dd>
              </div>
            </dl> 
            <br>
            <div>
              <details class="case-details govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Users: 1
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user111']}}</a> - {{data['party-email111']}}</li>
                  </ul>
                </div>
              </details>
            </div> 
          </div>
        </div>
      {% else %}
      {% if (data['merge-duplicates'] == "1b") %}
        <div class="address-card address-card-duplicate">
          <div class="address-container">
            <h3 class="govuk-heading-m clearfix"><a href="" class="govuk-link--no-visited-state">{{data['dup-party2']}}</a>  
              <p class="right-aligned-link govuk-heading-s">
                <a href="/caseworker/orgs/org-edit-int-dets?org-edit-type=merge-int&party-type=int-dup2" class="govuk-link--no-visited-state">Edit</a>
              </p> 
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-1">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address:</dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-address2']}}<br>
                  {{data['dup-party-postcode2']}}<br>
                  {{data['dup-party-country2']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Reg number: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-org-number2']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Web address: </dt>
                <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['dup-party-web2']}}</a></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">VAT no: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-vat2']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">EORI: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-eori2']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-duns2']}}</dd>
              </div>
            </dl> 
            <br>
          </div>
        </div>
        {% else %}
    
        {% if (data['merge-duplicates'] == "1c") or (data['merge-duplicates'] == "2of2") %}
          <div class="address-card address-card-duplicate">
            <div class="address-container">
              <h3 class="govuk-heading-m clearfix"><a href="" class="govuk-link--no-visited-state">{{data['dup-party3']}}</a>  
                <p class="right-aligned-link govuk-heading-s">
                  <a href="/caseworker/orgs/org-edit-rep-dets?org-edit-type=merge-rep&party-type=rep-dup2" class="govuk-link--no-visited-state">Edit</a>
                </p> 
              </h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-1">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Address:</dt>
                  <dd class="govuk-summary-list__value">{{data['dup-party-address3']}}<br>
                    {{data['dup-party-postcode3']}}<br>
                    <mark>{{data['dup-party-country3']}}</mark>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Reg number: </dt>
                  <dd class="govuk-summary-list__value"><mark>{{data['dup-party-org-number3']}}</mark>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Web address: </dt>
                  <dd class="govuk-summary-list__value"><a href="" target="_blank"><mark>{{data['dup-party-web3']}}</mark></a></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">VAT no: </dt>
                  <dd class="govuk-summary-list__value"><mark>{{data['dup-party-vat3']}}</mark></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">EORI: </dt>
                  <dd class="govuk-summary-list__value">{{data['dup-party-eori3']}}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                  <dd class="govuk-summary-list__value">{{data['dup-party-duns3']}}</dd>
                </div>
              </dl> 
              <br>
              <div>
                <details class="case-details govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Cases acting as a representative: 1
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="govuk-list">
                      <li><a href="" class="govuk-link--no-visited-state">{{data['case-ref2']}} - {{data['case-name2']}}</a> <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified on case" title="Verified on case" width="32px"><span class="govuk-body-s"> 29 July 2022</span></li>
                    </ul>
                  </div>
                </details>
              </div>
              <div>
                <details class="case-details govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Users: 1
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="govuk-list">
                      <li><a href="#" class="govuk-link--no-visited-state">{{data['dup-user3']}}</a> - {{data['dup-email3']}}</li>
                    </ul>
                  </div>
                </details>
              </div> 
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Please confirm the following
          </h1>
        </legend>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="check-1" name="check" type="checkbox" value="caseworker-check">
            <label class="govuk-label govuk-checkboxes__label" for="check-1">
              I have completed all of the checks required
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-button-group">
     <!--Show a Not duplicate button for Representative -->
      {% if (data['merge-duplicates'] == "1of2") %}
        {{ govukButton({
          text: "This as not a duplicate",
          href: "reginterest-merge-rep-party4?merge-duplicates=1c&merge-rep-task=started"
        }) }}    
        {% else %}
        {% if (data['merge-duplicates'] == "2of2") %}
          {{ govukButton({
            text: "This as not a duplicate",
            href: "reginterest-merge-rep-party4?merge-duplicates=1a&merge-rep-task=started"
          }) }}    
          {% else %}
          {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1c") %}
            {{ govukButton({
              text: "This as not a duplicate",
              href: "reginterest-merge-rep-party4?merge-duplicates=0&merge-rep-task=pending"
            }) }}    
            {% else %}

            <!--Or show a button that is for Interested Party only-->
              {{ govukButton({
                text: "This as not a duplicate",
                href: "reginterest-merge-int-party2?merge-task=complete"
              }) }}    
          {% endif %}
        {% endif %}
      {% endif %}
      <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
    </div>
  </div>
</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


