// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

@import "patterns/blue-panel";
@import "patterns/nav";
@import "patterns/password";
@import "patterns/table";

/* CHANGING THE WIDTH and HEADER COLOUR BETWEEN PUBLIC AND CASEWORKER */
.caseworker-red .govuk-header__container {
    border-bottom: 10px solid #df3034;
  }

.caseworker-width .govuk-width-container {
 max-width: 1020px;
}

/* createaccount / reginterest - autocomplete on new company */

.autocomplete__wrapper * {
    @include govuk-typography-common();
  }


/* Reginterest - selecting existing company */
#hidden_div {
  display: none;
}

/* Reginterest - upload remove button*/
  .remove-link {
    margin-top: 30px;
  }

  .submit-button {
    margin-top: 30px;
  }

  .remove-panel {
    margin-top: 0px;
  }

  #div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9, #div10, #div11, #div12, #div13, #div14, #div15  {
    display: none;
  }

  /* Reginterest Upload Progress bar */

 progress {
   padding: 20px 0 10px 0; 
 }

.progress-bar {
    background-color: whiteSmoke;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  
    width: 250px;
    height: 20px;
    
    position: relative;
    display: block;
  }
    
.progress-bar > span {
    background-color: blue;
    border-radius: 2px;
  
    display: block;
    text-indent: -9999px;
  }

  /* Task list for downloads*/

#docs1, #docs2 {
    
    padding: 20px 15px 0px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #b1b4b6;
  }

  #docs .app-task-list__item {
    border-bottom: 0px solid blue;
    border-top: 1px solid #b1b4b6;

  }

  .upload-header.app-task-list__item {
    padding: 0px;
    margin: 0px;
    border-top: 0px solid blue;
  }

  /* Task list when being used for other things */
@media (min-width: 40.0625em) {
  .uploads.app-task-list__items {
      padding-left: 0px;
  }}
  

/* Caseworker - Address card  */
/* 

@media (min-width: 40.0625em) {
  .case-details.govuk-details {
      margin-bottom: 10px;
  }
}
*/

.address-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #f8f8f8;
}

/* On mouse-over, add a deeper shadow */
.address-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.address-container {
  padding: 25px 20px 5px 20px;
  margin-bottom: 30px;
}

.verified-check {
  margin: 0px 0px -10px 10px;
}

.verified-tick {
  margin: 0px 0px -4px 10px;
}


/* Uploads test*/
/* Uploads test*/
/* Uploads test*/
/* Uploads test*/
/* Uploads test*/


.upload-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  background-color: white;
  margin-bottom: 16px;
  height: 150px
}

/* On mouse-over, add a deeper shadow */
.upload-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);

}

/* Thisis just to show the hover state when drag and drop is working*/
.upload-card-hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  background-color: govuk-colour("light-grey");
}

/* Add some padding inside the card container */
.upload-container {
  text-align: center;
  padding: 20px 10px 10px 10px;
}

/* Doing clever things with the file browser button  https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way   
https://css-tricks.com/drag-and-drop-file-uploading/  */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* /* "hand" cursor */
.inputfile + label {
	cursor: pointer; 
}

.inputfile + label * {
	pointer-events: none;
}


/* Hiding the input itself in a correct manner was one thing, the other is indicating when the element is focused, i.e. rendering .inputfile:focus on the label:*/
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

  input.upload-button {    
   display: initial;
 }

.remove-doc-panel {
  float: right;
  top: -10px;
  right: 15px;
  position: relative;
}


#input-js {
  margin: auto;
  max-width: 250px;
}

.row-colour {
  background-color:  govuk-colour("light-grey")	;
  padding-top: 15px;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  border: dashed 1px govuk-colour("mid-grey");
}
 



