// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/blue-panel";
@import "patterns/login-nav";
@import "patterns/password";
@import "patterns/table";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

/* createaccount / reginterest - autocomplete on new company */

.autocomplete__wrapper * {
    @include govuk-typography-common();
  }


/* Reginterest - selecting existing company */
#hidden_div {
  display: none;
}

/* Reginterest - upload remove file button*/
  .remove-link {
    margin-top: 40px;
  }

  .submit-button {
    margin-top: 37px;
  }


  /* Progress bar */

  progress[value]  {
    width: 100%;
  }

.progress-bar {
    background-color: whiteSmoke;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  
    width: 250px;
    height: 20px;
    
    position: relative;
    display: block;
  }
    
.progress-bar > span {
    background-color: blue;
    border-radius: 2px;
  
    display: block;
    text-indent: -9999px;
  }