{% extends "layout.html" %}

{% set header1 = "Add new customer" %}


{% block pageTitle %}
  {{header1}} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{header1}}
      </h1>

      <form action="user-account#user-details" method="post" id="account-update-details-form"> 
        {{ govukInput({
          label: {
            html: "User name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-20",
          id: "party-user1",
          name: "party-user1",
          type: "text",
          autocomplete: "name",
          value: data['party-user1']
        }) }}

        {{ govukInput({
          label: {
            text: "User email address",
            classes: "govuk-label--s"
          },
        
          id: "party-email1",
          name: "party-email1",
          classes: "govuk-input--width-20",
          type: "email",
          autocomplete: "email",
          value: data['party-email1']
        }) }}

        {% call govukFieldset({
          legend: {
            text: "User mobile number",
            classes: "govuk-fieldset__legend--s",
            isPageHeading: false
          }
        }) %}

        {% include "includes/country-code-list-selected.html" %}    

        {{ govukInput({
          id: "party-mobile1",
          name: "party-mobile1",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Mobile number"
          },
          value: data['party-mobile1'] or '07821945034'
        }) }}
          
      {% endcall %}

       
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit"
          }) }}    
           
        </div>

        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}