{% extends "layout.html" %}

{% block pageTitle %}
  Confirm on to case – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">2. Confirm </span>   
  </div>
  <div class="govuk-grid-column-two-thirds">

    <form action="/reginterest-accept-on-case-route" method="post" id="reginterest-accept-on-case-form">
    
      {% if data['verify-type'] == "reg-interest" %}

        

        {% else %}
        {% if data['verify-type'] == "rep-invite" %}

          <h1 class="govuk-heading-xl">
            Submit decision
          </h1>  
          <h2 class="govuk-heading-m">Invite details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Case
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['case-ref1']}} - {{data['case-name1']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Interested Party
              </dt>
              <dd class="govuk-summary-list__value">
                Steel UK               
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Representative Party
              </dt>
              <dd class="govuk-summary-list__value">
                BlueSteel Partners               
              </dd>
            </div>
          </dl>
          <p>Approving this invite will send confirmation emails to both parties. </p>
    
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Approve invite",
              href: "reginterest-complete?accept-on-case-result=accept"
            }) }}   
            <a class="govuk-link" govuk-link--no-visited-state href="reginterest-decline">Decline invite</a>
          </div>
        {% endif %} 
      {% endif %} 

    </form>
    
  </div>

</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


