{% extends "layout.html" %}

{% block pageTitle %}
  Choose data – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">1.  
      {% if data['verify-type'] == "rep-invite" %}
        Review representative
      {% else %}
        Review parties
      {% endif %}
    </span>    
    <h1 class="govuk-heading-xl">
      Choose the correct details
    </h1>
    <p>Before continuing please ensure that you have:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Carefully reviewed the matching details</li>
      <li>Updated any details that are incorrect</li>
      <li>Recieved confirmation of the merge from all those involved</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!--Show a merge button for Representative Party-->
    {% if (data['merge-duplicates'] == "1of2") %}
      <form action="reginterest-merge-rep-complete?merge-duplicates=1c&merge-rep-task=started" method="post" id="reginterest-merge-form">
      {% else %}
      {% if (data['merge-duplicates'] == "2of2") %}
        <form action="reginterest-merge-rep-complete?merge-duplicates=1a&merge-rep-task=started" method="post" id="reginterest-merge-form">
        {% else %}
        {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1c") %}
          <form action="reginterest-merge-rep-complete?merge-duplicates=0&merge-rep-task=complete" method="post" id="reginterest-merge-form">
        {% endif %}
      {% endif %}
    {% endif %}

      <table class="govuk-table sortable1">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-bold">
          Select the information to keep once the merge is complete:
        </caption>      
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Field</th>
            <th scope="col" class="govuk-table__header">Representative party</th>
            <th scope="col" class="govuk-table__header">Duplicate party</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="name-int" name="representative1" type="radio" value="{{data['representative1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="name-int">
                    {{data['representative1'] }}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    <input class="govuk-radios__input" id="name-dup" name="representative1" type="radio" value="{{data['dup-party1']}}" >
                    <label class="govuk-label govuk-radios__label" for="name-dup">
                      {{data['dup-party1'] }}
                    </label>

                    {% else %}
                    {% if (data['merge-duplicates'] == "1c") or (data['merge-duplicates'] == "2of2") %}
                      <input class="govuk-radios__input" id="name-dup" name="representative1" type="radio" value="{{data['dup-party3']}}" >
                      <label class="govuk-label govuk-radios__label" for="name-dup">
                        {{data['dup-party3'] }}
                      </label>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="address-int" name="rep-address1" type="radio" value="{{data['rep-address1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="address-int">
                    {{data['rep-address1'] }}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    <input class="govuk-radios__input" id="address-dup" name="rep-address1" type="radio" value="{{data['dup-party-address1']}}">
                    <label class="govuk-label govuk-radios__label" for="address-dup">
                    {{data['dup-party-address1'] }}
                    </label>

                    {% else %}
                    {% if (data['merge-duplicates'] == "1c") or (data['merge-duplicates'] == "2of2") %}
                      <input class="govuk-radios__input" id="address-dup" name="rep-address1" type="radio" value="{{data['dup-party-address3']}}">
                      <label class="govuk-label govuk-radios__label" for="address-dup">
                        {{data['dup-party-address3'] }}
                      </label>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Postcode/ zip</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="postcode-int" name="rep-postcode1" type="radio" value="{{data['rep-postcode1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="postcode-int">
                    {{data['rep-postcode1'] }}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    <input class="govuk-radios__input" id="postcode-dup" name="rep-postcode1" type="radio" value="{{data['dup-party-postcode1']}}">
                    <label class="govuk-label govuk-radios__label" for="postcode-dup">
                      {{data['dup-party-postcode1'] }}
                    </label>

                    {% else %}
                    {% if (data['merge-duplicates'] == "1c") or (data['merge-duplicates'] == "2of2") %}
                      <input class="govuk-radios__input" id="postcode-dup" name="rep-postcode1" type="radio" value="{{data['dup-party-postcode3']}}">
                      <label class="govuk-label govuk-radios__label" for="postcode-dup">
                        {{data['dup-party-postcode3'] }}
                      </label>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Country</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="country-int" name="rep-country1" type="radio" value="{{data['rep-country1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="country-int">
                    {{data['rep-country1'] }}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    <input class="govuk-radios__input" id="country-dup" name="rep-country1" type="radio" value="{{data['dup-party-country1']}}">
                    <label class="govuk-label govuk-radios__label" for="country-dup">
                      {{data['dup-party-country1'] }}
                    </label>

                    {% else %}
                    {% if (data['merge-duplicates'] == "1c") or (data['merge-duplicates'] == "2of2") %}
                      <input class="govuk-radios__input" id="country-dup" name="rep-country1" type="radio" value="{{data['dup-party-country3']}}">
                      <label class="govuk-label govuk-radios__label" for="country-dup">
                        {{data['dup-party-country3'] }}
                      </label>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Reg number</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="org-number-int" name="rep-org-number1" type="radio" value="{{data['rep-org-number1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="org-number-int">
                    {{data['rep-org-number1'] }}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    {% if (data['dup-party-org-number1'] == null) %}
                      <input class="govuk-radios__input" id="org-number-dup" name="rep-org-number1" type="radio" value="{{data['dup-party-org-number1']}}">
                      <label class="govuk-label govuk-radios__label" for="org-number-dup">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="org-number-dup" name="rep-org-number1" type="radio" value="{{data['dup-party-org-number1']}}">
                      <label class="govuk-label govuk-radios__label" for="org-number-dup">
                        {{data['dup-party-org-number1'] }}
                      </label>
                    {% endif %}

                    {% else %}
                    {% if (data['merge-duplicates'] == "1c") or (data['merge-duplicates'] == "2of2") %}
                      {% if (data['dup-party-org-number3'] == null) %}
                        <input class="govuk-radios__input" id="org-number-dup" name="rep-org-number1" type="radio" value="{{data['dup-party-org-number3']}}">
                        <label class="govuk-label govuk-radios__label" for="org-number-dup">
                          (empty)
                        </label>
                        {% else %}
                        <input class="govuk-radios__input" id="org-number-dup" name="rep-org-number1" type="radio" value="{{data['dup-party-org-number3']}}">
                        <label class="govuk-label govuk-radios__label" for="org-number-dup">
                          {{data['dup-party-org-number3'] }}
                        </label>
                      {% endif %}
                    {% endif %}
                  {% endif %}                
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Website</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="web-int" name="rep-web1" type="radio" value="{{data['rep-web1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="web-int">
                    {{data['rep-web1'] }}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    {% if (data['dup-party-web1'] == null) %}
                      <input class="govuk-radios__input" id="web-dup" name="rep-web1" type="radio" value="{{data['dup-party-web1']}}">
                      <label class="govuk-label govuk-radios__label" for="web-dup">
                        (empty)
                      </label>
                      {% else %}                      
                      <input class="govuk-radios__input" id="web-dup" name="rep-web1" type="radio" value="{{data['dup-party-web1']}}">
                      <label class="govuk-label govuk-radios__label" for="web-dup">
                        {{data['dup-party-web1'] }}
                      </label>
                    {% endif %}
                    {% else %}

                    {% if (data['merge-duplicates'] == "1c") or (data['merge-duplicates'] == "2of2") %}
                      {% if (data['dup-party-web3'] == null) %}
                        <input class="govuk-radios__input" id="web-dup" name="rep-web1" type="radio" value="{{data['dup-party-web3']}}">
                        <label class="govuk-label govuk-radios__label" for="web-dup">
                          (empty)
                        </label>
                        {% else %}                      
                        <input class="govuk-radios__input" id="web-dup" name="rep-web1" type="radio" value="{{data['dup-party-web3']}}">
                        <label class="govuk-label govuk-radios__label" for="web-dup">
                          {{data['dup-party-web3'] }}
                        </label>
                      {% endif %}
                     {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">VAT number</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['rep-vat1'] == null) %}
                    <input class="govuk-radios__input" id="vat-int" name="rep-vat1" type="radio" value="{{data['rep-vat1']}}">
                    <label class="govuk-label govuk-radios__label" for="vat-int">
                      (empty)
                    </label>
                    {% else %}
                    <input class="govuk-radios__input" id="vat-int" name="rep-vat1" type="radio" value="{{data['rep-vat1']}}" checked>
                    <label class="govuk-label govuk-radios__label" for="vat-int">
                      {{data['rep-vat1'] }}
                    </label>
                  {% endif %}
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    {% if (data['dup-party-vat1'] == null) %}
                      <input class="govuk-radios__input" id="vat-dup" name="rep-vat1" type="radio" value="{{data['dup-party-vat1']}}">
                      <label class="govuk-label govuk-radios__label" for="vat-dup">
                       (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="vat-dup" name="rep-vat1" type="radio" value="{{data['dup-party-vat1']}}">
                      <label class="govuk-label govuk-radios__label" for="vat-dup">
                        {{data['dup-party-vat1'] }}
                      </label>
                    {% endif %}

                    {% else %}
                    {% if (data['merge-duplicates'] == "1c") or (data['merge-duplicates'] == "2of2") %}
                      {% if (data['dup-party-vat3'] == null) %}
                        <input class="govuk-radios__input" id="vat-dup" name="rep-vat1" type="radio" value="{{data['dup-party-vat3']}}">
                        <label class="govuk-label govuk-radios__label" for="vat-dup">
                        (empty)
                        </label>
                        {% else %}
                        <input class="govuk-radios__input" id="vat-dup" name="rep-vat1" type="radio" value="{{data['dup-party-vat3']}}">
                        <label class="govuk-label govuk-radios__label" for="vat-dup">
                          {{data['dup-party-vat3'] }}
                        </label>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">EORI number</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['rep-eori1'] == null) %}
                    <input class="govuk-radios__input" id="eori-int" name="rep-eori1" type="radio" value="{{data['rep-eori1']}}">
                    <label class="govuk-label govuk-radios__label" for="eori-int">
                      (empty)
                    </label>
                      {% else %}
                      <input class="govuk-radios__input" id="eori-int" name="rep-eori1" type="radio" value="{{data['rep-eori1']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="eori-int">
                        {{data['rep-eori1'] }}
                      </label>
                    {% endif %}
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    {% if (data['dup-party-eori1'] == null) %}
                      <input class="govuk-radios__input" id="eori-dup" name="rep-eori1" type="radio" value="{{data['dup-party-eori1']}}">
                      <label class="govuk-label govuk-radios__label" for="vat-eori">
                      (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="eori-dup" name="rep-eori1" type="radio" value="{{data['dup-party-eori1']}}"checked>
                      <label class="govuk-label govuk-radios__label" for="eori-dup">
                        {{data['dup-party-eori1'] }}
                      </label>
                    {% endif %}

                    {% else %}
                    {% if (data['merge-duplicates'] == "1c") or (data['merge-duplicates'] == "2of2") %}
                      {% if (data['dup-party-eori3'] == null) %}
                        <input class="govuk-radios__input" id="eori-dup" name="rep-eori1" type="radio" value="{{data['dup-party-eori3']}}">
                        <label class="govuk-label govuk-radios__label" for="eori-dup">
                        (empty)
                        </label>
                        {% else %}
                        <input class="govuk-radios__input" id="eori-dup" name="rep-eori1" type="radio" value="{{data['dup-party-eori3']}}" >
                        <label class="govuk-label govuk-radios__label" for="v-dup">
                          {{data['dup-party-eori3'] }}
                        </label>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">DUNS number</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="duns-int" name="rep-duns1" type="radio" value="{{data['rep-duns1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="duns-int">
                    {% if (data['rep-duns1'] == null) %}
                        (empty)
                        {% else %}
                        {{data['rep-duns1'] }}
                    {% endif %}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    {% if (data['dup-party-duns1'] == null) %}
                      <input class="govuk-radios__input" id="duns-dup" name="rep-duns1" type="radio" value="{{data['dup-party-duns1']}}">
                      <label class="govuk-label govuk-radios__label" for="duns-dup">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="duns-dup" name="rep-duns1" type="radio" value="{{data['dup-party-duns1']}}">
                      <label class="govuk-label govuk-radios__label" for="duns-dup">
                        {{data['dup-party-duns1'] }}
                      </label>
                    {% endif %}

                    {% else %}
                    {% if (data['merge-duplicates'] == "1c") or (data['merge-duplicates'] == "2of2") %}
                      {% if (data['dup-party-duns3'] == null) %}
                        <input class="govuk-radios__input" id="duns-dup" name="rep-duns1" type="radio" value="{{data['dup-party-duns3']}}">
                        <label class="govuk-label govuk-radios__label" for="duns-dup">
                          (empty)
                        </label>
                        {% else %}
                        <input class="govuk-radios__input" id="duns-dup" name="rep-duns1" type="radio" value="{{data['dup-party-duns3']}}">
                        <label class="govuk-label govuk-radios__label" for="duns-dup">
                          {{data['dup-party-duns3'] }}
                        </label>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                  
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      {{ govukWarningText({
        text: "Merging organisations cannot be undone",
        iconFallbackText: "Warning"
      }) }}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Merge organisations now"
        }) }}    
        <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
      </div>
    </form>
  </div>
</div>


{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


