{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Verify Registered Interest – GOV.UK Trade Remedies Prototype
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">1.  Review parties</span>
    <h1 class="govuk-heading-xl">
      {% if data['party-type'] == "int" %}
        Verify interested party
          {% else %}
            Verify representative party
      {% endif %}
    </h1>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <!--
    <div class="govuk-inset-text">
      <strong>{{data['party1']}}</strong><br>
      Involvement in other cases: 3<br>
      Verification in other cases: 1
    </div>
  -->   

    <form action="reginterest-complete" method="post" id="reginterest-valid-employer-form">
      <h2 class="govuk-heading-m">Are you certain this organisation cannot be verified?</h2>

      {% if data['party-type'] == "int" %}
        <p><strong> {{data['party1']}}</strong></p>
        {% else %}
          <p><strong> {{data['representative1']}}</strong></p>
      {% endif %}


      <ul class="govuk-list govuk-list--bullet">
        <li>If this organisation cannot be verified this registration of interest will be declined</li>
        <li>If the organisation is involved in other cases this decision will be flagged to relevant caseworkers</li>
        <li>Should you find information that enables you to verify this orgnaisation you can change their status at a later date</li>
      </ul>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Confirm"
        }) }}    
        <a class="govuk-link" href="javascript: history.back()">Back</a>
      </div>

    </form>
    
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Registration of Interest</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <strong>Case</strong><br>
            {{data['case-ref1']}}: {{data['case-name1']}}
          </li>
          <li>
            <strong>Interested party</strong><br>
            {{data ['party1']}}
          </li> 

          {% if data['third-party'] == "yes" %}
          <li>
            <strong>Representative party</strong><br>
            {{data ['representative1']}}
          </li>
          {% endif %} 

          <li>
            <strong>Registered by</strong><br>
            {{data ['user1']}}
          </li>          
        </ul>
      </nav>
    </aside>
  </div>

</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


