{% extends "layout.html" %}

{% block pageTitle %}
  Choose data – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if (data['verify-type'] == "rep-invite") %}
      <span class="govuk-caption-xl">1.
        Review representative
      </span>
      {% else %}
      {% if (data['verify-type'] == "reg-interest") and (data['third-party'] == "yes") %}
        <span class="govuk-caption-xl">2.
          Review representative
        </span>
        {% else %}
        <span class="govuk-caption-xl">1.
          Review parties
        </span>
      {% endif %}
    {% endif %}
    <h1 class="govuk-heading-xl">
      Choose the correct details
    </h1>
    <p>Before continuing please ensure that you have:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Liased with the caseworkers and organisations involved</li>
      <li>Carefully reviewed the matching details</li>
      <li>Updated any details that are incorrect</li>
    </ul>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!--Show a merge button for Representative Party-->
    <form action="reginterest-merge-rep-complete?merge-duplicates=1b&merge-rep-task=started" method="post" id="reginterest-merge-form">

    <div style="overflow-x:auto;">

      <table class="govuk-table merge">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-bold">
          Select the information to keep once the merge is complete:
        </caption>      
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Field</th>
            <th scope="col" class="govuk-table__header">Interested party</th>
            <th scope="col" class="govuk-table__header">Duplicate party</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Name</th>
             {% if data['third-party'] == "no" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="name-dup1" name="party1" type="radio" value="{{data['dup-party1']}}" checked>
                    <label class="govuk-label govuk-radios__label" for="name-dup1">
                      {{data['dup-party1'] }}
                    </label>
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">  
                    <input class="govuk-radios__input" id="name-party1" name="party1" type="radio" value="{{data['party1']}}" checked>
                    <label class="govuk-label govuk-radios__label" for="name-party1">
                      {{data['party1'] }}
                    </label>
                  </div>
                </div>
              </td>
            {% endif %}
            {% if data['third-party'] == "yes" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="name-dup1" name="party1" type="radio" value="{{data['dup-party1']}}" >
                    <label class="govuk-label govuk-radios__label" for="name-dup1">
                      {{data['dup-party1'] }}
                    </label>
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">  
                    <input class="govuk-radios__input" id="name-party1" name="party1" type="radio" value="{{data['party1']}}" >
                    <label class="govuk-label govuk-radios__label" for="name-party1">
                      {{data['party1'] }}
                    </label>
                  </div>
                </div>
              </td>
            {% endif %}
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Address</th>
            {% if data['third-party'] == "no" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="address-dup1" name="party-address1" type="radio" value="{{data['dup-party-address1']}}" checked>
                    <label class="govuk-label govuk-radios__label" for="address-dup1">
                    {{data['dup-party-address1'] }}
                    </label>
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="address-dup" name="party-address1" type="radio" value="{{data['party-address1']}}" checked>
                    <label class="govuk-label govuk-radios__label" for="address-dup">
                      {{data['party-address1'] }}
                    </label>
                  </div>
                </div>
              </td> 
            {% endif %}
            
            {% if data['third-party'] == "yes" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="address-dup1" name="party-address1" type="radio" value="{{data['dup-party-address1']}}">
                    <label class="govuk-label govuk-radios__label" for="address-dup1">
                    {{data['dup-party-address1'] }}
                    </label>
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="address-dup" name="party-address1" type="radio" value="{{data['party-address1']}}">
                    <label class="govuk-label govuk-radios__label" for="address-dup">
                      {{data['party-address1'] }}
                    </label>
                  </div>
                </div>
              </td> 
            {% endif %}
          </tr>

          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Postcode/ zip</th>
            {% if data['third-party'] == "no" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="postcode-dup1" name="party-postcode1" type="radio" value="{{data['rep-postcode1']}}" checked>
                    <label class="govuk-label govuk-radios__label" for="postcode-dup1">
                      {{data['dup-party-postcode1'] }}
                    </label>
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="postcode-dup" name="party-postcode1" type="radio" value="{{data['party-postcode1']}}" checked>
                    <label class="govuk-label govuk-radios__label" for="postcode-dup">
                    {{data['party-postcode1'] }}
                    </label>
                  </div>
                </div>
              </td>
            {% endif %}

            {% if data['third-party'] == "yes" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="postcode-dup1" name="party-postcode1" type="radio" value="{{data['rep-postcode1']}}">
                    <label class="govuk-label govuk-radios__label" for="postcode-dup1">
                      {{data['dup-party-postcode1'] }}
                    </label>
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="postcode-dup" name="party-postcode1" type="radio" value="{{data['party-postcode1']}}">
                    <label class="govuk-label govuk-radios__label" for="postcode-dup">
                    {{data['party-postcode1'] }}
                    </label>
                  </div>
                </div>
              </td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Country</th>
            {% if data['third-party'] == "no" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="country-dup1" name="party-country1" type="radio" value="{{data['dup-party-country1']}}" checked>
                    <label class="govuk-label govuk-radios__label" for="country-dup1">
                      {{data['dup-party-country1'] }}
                    </label>
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="country-int" name="party-country1" type="radio" value="{{data['party-country1']}}" checked>
                    <label class="govuk-label govuk-radios__label" for="country-int">
                      {{data['party-country1'] }}
                    </label>
                  </div>
                </div>
              </td>
            {% endif %}
            {% if data['third-party'] == "yes" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="country-dup1" name="party-country1" type="radio" value="{{data['dup-party-country1']}}">
                    <label class="govuk-label govuk-radios__label" for="country-dup1">
                      {{data['dup-party-country1'] }}
                    </label>
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="country-int" name="party-country1" type="radio" value="{{data['party-country1']}}">
                    <label class="govuk-label govuk-radios__label" for="country-int">
                      {{data['party-country1'] }}
                    </label>
                  </div>
                </div>
              </td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Reg number</th>
            {% if data['third-party'] == "no" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    {% if (data['dup-party-org-number1'] == null) %}
                      <input class="govuk-radios__input" id="org-number-dup1" name="party-org-number1" type="radio" value="{{data['dup-party-org-number1']}}">
                      <label class="govuk-label govuk-radios__label" for="org-number-dup1">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="org-number-dup1" name="party-org-number1" type="radio" value="{{data['dup-party-org-number1']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="org-number-dup1">
                        {{data['dup-party-org-number1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">  
                    {% if (data['party-org-number1'] == null) %}
                      <input class="govuk-radios__input" id="org-number-dup" name="party-org-number1" type="radio" value="{{data['party-org-number1']}}">
                      <label class="govuk-label govuk-radios__label" for="org-number-dup">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="org-number-dup" name="party-org-number1" type="radio" value="{{data['party-org-number1']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="org-number-dup">
                        {{data['party-org-number1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
            {% endif %}
            {% if data['third-party'] == "yes" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    {% if (data['dup-party-org-number1'] == null) %}
                      <input class="govuk-radios__input" id="org-number-dup1" name="party-org-number1" type="radio" value="{{data['dup-party-org-number1']}}">
                      <label class="govuk-label govuk-radios__label" for="org-number-dup1">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="org-number-dup1" name="party-org-number1" type="radio" value="{{data['dup-party-org-number1']}}">
                      <label class="govuk-label govuk-radios__label" for="org-number-dup1">
                        {{data['dup-party-org-number1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">  
                    {% if (data['party-org-number1'] == null) %}
                      <input class="govuk-radios__input" id="org-number-dup" name="party-org-number1" type="radio" value="{{data['party-org-number1']}}">
                      <label class="govuk-label govuk-radios__label" for="org-number-dup">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="org-number-dup" name="party-org-number1" type="radio" value="{{data['party-org-number1']}}">
                      <label class="govuk-label govuk-radios__label" for="org-number-dup">
                        {{data['party-org-number1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Website</th>
            {% if data['third-party'] == "no" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    {% if (data['dup-party-web1'] == null) %}
                      <input class="govuk-radios__input" id="web-dup1" name="party-web1" type="radio" value="{{data['dup-party-web1']}}">
                      <label class="govuk-label govuk-radios__label" for="web-dup1">
                        (empty)
                      </label>
                      {% else %}                      
                      <input class="govuk-radios__input" id="web-dup1" name="party-web1" type="radio" value="{{data['dup-party-web1']}}">
                      <label class="govuk-label govuk-radios__label" for="web-dup1">
                        {{data['dup-party-web1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">  
                   {% if (data['dup-party-web3'] == null) %}
                      <input class="govuk-radios__input" id="web-dup" name="party-web1" type="radio" value="{{data['party-web1']}}">
                      <label class="govuk-label govuk-radios__label" for="web-dup">
                        (empty)
                      </label>
                      {% else %}                      
                      <input class="govuk-radios__input" id="web-rep" name="party-web1" type="radio" value="{{data['party-web1']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="web-rep">
                        {{data['party-web1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
            {% endif %}
            {% if data['third-party'] == "yes" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    {% if (data['dup-party-web1'] == null) %}
                      <input class="govuk-radios__input" id="web-dup1" name="party-web1" type="radio" value="{{data['dup-party-web1']}}">
                      <label class="govuk-label govuk-radios__label" for="web-dup1">
                        (empty)
                      </label>
                      {% else %}                      
                      <input class="govuk-radios__input" id="web-dup1" name="party-web1" type="radio" value="{{data['dup-party-web1']}}">
                      <label class="govuk-label govuk-radios__label" for="web-dup1">
                        {{data['dup-party-web1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">  
                   {% if (data['dup-party-web3'] == null) %}
                      <input class="govuk-radios__input" id="web-dup" name="party-web1" type="radio" value="{{data['party-web1']}}">
                      <label class="govuk-label govuk-radios__label" for="web-dup">
                        (empty)
                      </label>
                      {% else %}                      
                      <input class="govuk-radios__input" id="web-rep" name="party-web1" type="radio" value="{{data['party-web1']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="web-rep">
                        {{data['party-web1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">VAT number</th>
            {% if data['third-party'] == "no" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    {% if (data['dup-party-vat1'] == null) %}
                      <input class="govuk-radios__input" id="vat-dup1" name="party-vat1" type="radio" value="{{data['dup-party-vat1']}}">
                      <label class="govuk-label govuk-radios__label" for="vat-dup1">
                       (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="vat-dup1" name="party-vat1" type="radio" value="{{data['dup-party-vat1']}}">
                      <label class="govuk-label govuk-radios__label" for="vat-dup1">
                        {{data['dup-party-vat1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    {% if (data['party-vat1'] == null) %}
                      <input class="govuk-radios__input" id="vat-dup" name="party-vat1" type="radio" value="{{data['party-vat1']}}">
                      <label class="govuk-label govuk-radios__label" for="vat-dup">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="vat-dup" name="party-vat1" type="radio" value="{{data['party-vat1']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="vat-dup">
                        {{data['party-vat1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
            {% endif %}
            {% if data['third-party'] == "yes" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    {% if (data['dup-party-vat1'] == null) %}
                      <input class="govuk-radios__input" id="vat-dup1" name="party-vat1" type="radio" value="{{data['dup-party-vat1']}}">
                      <label class="govuk-label govuk-radios__label" for="vat-dup1">
                       (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="vat-dup1" name="party-vat1" type="radio" value="{{data['dup-party-vat1']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="vat-dup1">
                        {{data['dup-party-vat1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    {% if (data['party-vat1'] == null) %}
                      <input class="govuk-radios__input" id="vat-dup" name="party-vat1" type="radio" value="{{data['party-vat1']}}">
                      <label class="govuk-label govuk-radios__label" for="vat-dup">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="vat-dup" name="party-vat1" type="radio" value="{{data['party-vat1']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="vat-dup">
                        {{data['party-vat1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">EORI number</th>
             {% if data['third-party'] == "no" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    {% if (data['dup-party-eori1'] == null) %}
                      <input class="govuk-radios__input" id="eori-dup1" name="party-eori1" type="radio" value="{{data['dup-party-eori1']}}">
                      <label class="govuk-label govuk-radios__label" for="eori-dup1">
                      (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="eori-dup1" name="party-eori1" type="radio" value="{{data['dup-party-eori1']}}"checked>
                      <label class="govuk-label govuk-radios__label" for="eori-dup1">
                        {{data['dup-party-eori1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">  
                    {% if (data['party-eori1'] == null) %}
                      <input class="govuk-radios__input" id="eori-dup" name="party-eori1" type="radio" value="{{data['party-eori1']}}">
                      <label class="govuk-label govuk-radios__label" for="eori-dup">
                      (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="eori-dup" name="party-eori1" type="radio" value="{{data['party-eori1']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="eori-dup">
                        {{data['party-eori1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
            {% endif %}
            {% if data['third-party'] == "yes" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    {% if (data['dup-party-eori1'] == null) %}
                      <input class="govuk-radios__input" id="eori-dup1" name="party-eori1" type="radio" value="{{data['dup-party-eori1']}}">
                      <label class="govuk-label govuk-radios__label" for="eori-dup1">
                      (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="eori-dup1" name="party-eori1" type="radio" value="{{data['dup-party-eori1']}}">
                      <label class="govuk-label govuk-radios__label" for="eori-dup1">
                        {{data['dup-party-eori1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">  
                    {% if (data['party-eori1'] == null) %}
                      <input class="govuk-radios__input" id="eori-dup" name="party-eori1" type="radio" value="{{data['party-eori1']}}">
                      <label class="govuk-label govuk-radios__label" for="eori-dup">
                      (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="eori-dup" name="party-eori1" type="radio" value="{{data['party-eori1']}}" >
                      <label class="govuk-label govuk-radios__label" for="eori-dup">
                        {{data['party-eori1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">DUNS number</th>
            {% if data['third-party'] == "no" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    {% if (data['dup-party-duns1'] == null) %}
                      <input class="govuk-radios__input" id="duns-dup1" name="party-duns1" type="radio" value="{{data['dup-party-duns1']}}">
                      <label class="govuk-label govuk-radios__label" for="duns-dup1">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="duns-dup1" name="party-duns1" type="radio" value="{{data['dup-party-duns1']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="duns-dup1">
                        {{data['dup-party-duns1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                  {% if (data['party-duns1'] == null) %}
                    <input class="govuk-radios__input" id="duns-rep" name="party-duns1" type="radio" value="{{data['party-duns1']}}">
                    <label class="govuk-label govuk-radios__label" for="duns-rep">
                      (empty)
                    </label>
                    {% else %}
                    <input class="govuk-radios__input" id="duns-rep" name="party-duns1" type="radio" value="{{data['party-duns1']}}" checked>
                    <label class="govuk-label govuk-radios__label" for="duns-rep">
                      {{data['party-duns1'] }}
                    </label>
                  {% endif %}
                  </div>
                </div>
              </td>
            {% endif %}
            {% if data['third-party'] == "yes" %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    {% if (data['dup-party-duns1'] == null) %}
                      <input class="govuk-radios__input" id="duns-dup1" name="party-duns1" type="radio" value="{{data['dup-party-duns1']}}">
                      <label class="govuk-label govuk-radios__label" for="duns-dup1">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="duns-dup1" name="party-duns1" type="radio" value="{{data['dup-party-duns1']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="duns-dup1">
                        {{data['dup-party-duns1'] }}
                      </label>
                    {% endif %}
                  </div>
                </div>
              </td>
              {% else %}
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                  {% if (data['party-duns1'] == null) %}
                    <input class="govuk-radios__input" id="duns-rep" name="party-duns1" type="radio" value="{{data['party-duns1']}}">
                    <label class="govuk-label govuk-radios__label" for="duns-rep">
                      (empty)
                    </label>
                    {% else %}
                    <input class="govuk-radios__input" id="duns-rep" name="party-duns1" type="radio" value="{{data['party-duns1']}}" checked>
                    <label class="govuk-label govuk-radios__label" for="duns-rep">
                      {{data['party-duns1'] }}
                    </label>
                  {% endif %}
                  </div>
                </div>
              </td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
    {% if data['who-signin'] == "lead" %}
      {{ govukWarningText({
        text: "Merging organisations cannot be undone",
        iconFallbackText: "Warning"
      }) }}
    {% endif %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Please confirm the following
            </h1>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="check-1" name="check" type="checkbox" value="caseworker-check">
              <label class="govuk-label govuk-checkboxes__label" for="check-1">
                I have completed all of the checks required to merge these organisations
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        {% if data['who-signin'] == "invest" %}
          {{ govukButton({
            text: "Request merge approval"
          }) }}  

          {% else %}
          {% if data['who-signin'] == "lead" %}
            {{ govukButton({
              text: "Merge organisations"
            }) }}  
          {% endif %}  
        {% endif %}
        <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
      </div>
    </form>
  </div>
</div>


{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


