{% extends "layout.html" %}

{% block pageTitle %}
  Confirm parties on to case – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">1.  Review parties</span>
    <h1 class="govuk-heading-xl">
      Verify representative
    </h1>


    <div class="govuk-inset-text govuk-inset-text__reginterest">
      <strong>{{data['representative1']}}</strong> has been verified on 1 cases <br>
      The last confirmation was on <strong>21 Jan 2022</strong> by <strong>Bobby Caseworker</strong>
    </div>
   
    <div class="address-card">
      <div class="address-container">
        <h2 class="govuk-heading-m"><a href="" class="govuk-link--no-visited-state">{{data['representative1']}}</a>  
        </h2> 

        <dl class="govuk-summary-list govuk-!-margin-bottom-1">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Contact:</dt>
            <dd class="govuk-summary-list__value">{{data['rep-user1']}} <br>
              {{data['rep-email1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address:</dt>
            <dd class="govuk-summary-list__value">345, The Shard, London <br>
              EC2 3TF<br>
              United Kingdom
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company number: </dt>
            <dd class="govuk-summary-list__value">456794936 <img src="/public/images/checkmark.png" class="verified-tick" alt="Registered UK Company" title="Registered UK Company" width="18px">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Web address: </dt>
            <dd class="govuk-summary-list__value"><a href="www.steeluk.com" target="_blank">www.BlueSteelLawyers.com</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EORI: </dt>
            <dd class="govuk-summary-list__value">GB205672212000</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">VAT no: </dt>
            <dd class="govuk-summary-list__value">GB123456789</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">D-U-N-S: </dt>
            <dd class="govuk-summary-list__value">150483782</dd>
          </div>
        </dl>
        <br>
        <div>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Acting as a representative: 2 cases
              </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="" class="govuk-link--no-visited-state">AD3456: Jelly Tots from Japan</a> <img src="/public/images/verfied-tick.png" class="verified-check" alt="Confirmed representative" title="Confirmed representative" width="32px"> 12 April 2021</li>
                  <li><a href="" class="govuk-link--no-visited-state">AD245: Gems from Guatamala</a> </li>               
                </ul>
            </div>
          </details>
        </div>

        <div>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Users: 3
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                <li><a href="#" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a> - {{data['rep-email1']}}</li>
                <li><a href="#" class="govuk-link--no-visited-state">Simon Williams</a> - s.williams@BlueSteelPartners.com</li>
                <li><a href="#" class="govuk-link--no-visited-state">Tina Fray</a> - tina.fray@BlueSteelPartners.com</li>
              </ul>
            </div>
          </details>
        </div>

          
        
      </div>
    </div>

    <form action="/reginterest-representative-party-route" method="post" id="reginterest-representative-party-form">

      {% set validHTML %}
      Have you been able to verify {{data['representative1']}}?
      {% endset %}

      {{ govukRadios({
        idPrefix: "reginterest-valid-representative",
        name: "reginterest-valid-representative",
        fieldset: {
          legend: {
            html: validHTML,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "verified",
            text: "Yes I have verified the party",
            checked: checked("reginterest-valid-representative", "verified")
          },
          {
            value: "unverified",
            text: "No I am unable to verify party",
            checked: checked("reginterest-valid-representative", "unverified")
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link" href="reginterest-tasks">Back</a>
      </div>

    </form>
    
  </div>

</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


