{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Verify Registered Interest – GOV.UK Trade Remedies Prototype
{% endblock %}

{% set bodyClasses = 'caseworker' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
 {% include "includes/caseworker-nav-case.html" %}
{% endblock %}

{% block beforeContent %}
 <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../cases-all">Cases</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../cases/case">{{data['case-ref1']}}: {{data['case-name1']}}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Registration of Interest
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">2.  Submit approval</span>
    <h1 class="govuk-heading-xl"> 
     Accept registration of interest
    </h1>
    <form action="/reginterest-accept-on-case-route" method="post" id="reginterest-accept-on-case-form">

      {{ govukRadios({
        idPrefix: "reginterest-accecpt-on-case",
        name: "reginterest-accecpt-on-case",
        fieldset: {
          legend: {
            html: "What type of party is this organsiation in this case?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "domestic_producer",
            text: "Domestic Producer",
            checked: checked("reginterest-accecpt-on-case", "domestic_producer")
          },
          {
            value: "importer",
            text: "Importer",
            checked: checked("reginterest-accecpt-on-case", "importer")
          },
          {
            value: "exporter",
            text: "Exporter",
            checked: checked("reginterest-accecpt-on-case", "exporter")
          },
          {
            value: "foreign_government",
            text: "Foreign Government",
            checked: checked("reginterest-accecpt-on-case", "foreign_government")
          },
          {
            value: "product_user",
            text: "Industrial User of Product",
            checked: checked("reginterest-accecpt-on-case", "product_user")
          },
          {
            value: "trade_body",
            text: "Trade Body",
            checked: checked("reginterest-accecpt-on-case", "trade_body")
          },
          {
            value: "contributor",
            text: "Contributor",
            checked: checked("reginterest-accecpt-on-case", "contributor")
          }
        ]
      }) }}
        
      {{ govukRadios({
        idPrefix: "reginterest-accecpt-on-case",
        name: "reginterest-accecpt-on-case",
        fieldset: {
          legend: {
            html: "Do you want to accept this registration of interest?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "accept",
            text: "Accept on to case",
            checked: checked("reginterest-accecpt-on-case", "accept")
          },
          {
            value: "decline",
            text: "Decline",
            checked: checked("reginterest-accecpt-on-case", "decline")
          }
        ]
      }) }}

     

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link" href="javascript: history.back()">Cancel</a>
      </div>

    </form>
    
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Case overview</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <strong>Case</strong><br>
            {{data['case-name1']}}
          </li>
          <li>
            <strong>Registration of Interest for</strong><br>
            {{data ['party1']}}
          </li> 
          <li>
            <strong>Registered by</strong><br>
            {{data ['user1']}}
          </li>
          
        </ul>
      </nav>
    </aside>
  </div>

</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


