{% extends "layout.html" %}

{% block pageTitle %}
Cancel merge - {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Matching organisations resolved
      </h1>
    </div>

    <p>The organisation(s) have been marked as not being duplicates.</p>
  

      {% if data['verify-type'] =="rep-invite" %}
      <form action="/caseworker/reg-interest/reginterest-tasks?duplicate-org=none" method="post" id="cancel-invite-form">
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Return to representative invite"
        }) }} 
      </div> 
      {% else %}
      {% if data['verify-type'] =="reg-interest"%}
        {% if data['duplicate-org'] == "int" or data['duplicate-org'] == "rep" %}
          <form action="/caseworker/reg-interest/reginterest-tasks?duplicate-org=none" method="post" id="cancel-invite-form">
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Return to registration of interest"
            }) }} 
          </div> 
          {% else %}
          <form action="/caseworker/reg-interest/reginterest-tasks-dup" method="post" id="cancel-invite-form">
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Return to representative invite"
            }) }} 
          </div> 
        {% endif %}
      {% endif %}
    {% endif %}



    
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}