{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Verify Registered Interest – GOV.UK Trade Remedies Prototype
{% endblock %}

{% set bodyClasses = 'caseworker' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">1.  Review interested parties</span>
    <h1 class="govuk-heading-xl">
      Verify primary party
    </h1>
  </div>

    <div class="govuk-grid-column-two-thirds">

    <!--
    <div class="govuk-inset-text">
      <strong>{{data['party1']}}</strong><br>
      Involvement in other cases: 3<br>
      Verification in other cases: 1
    </div>
    -->
    <div class="card">
      <div class="container">
          <span class="app-task-list__task-name">
          <h2 class="govuk-heading-m"><a href="" class="govuk-link--no-visited-state">{{data['party1']}}</a>  
          </h2> 
        </span>
        <a href="#" alt="Remove Document 2 panel" class="app-task-list__tag remove-panel govuk-link--no-visited-state">Edit details
        <span class="govuk-visually-hidden"> of {{data['party1']}}</span>
        </a>

        <dl class="govuk-summary-list govuk-!-margin-bottom-1">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address:</dt>
            <dd class="govuk-summary-list__action">20 Highbury Place, Bramley, Leeds <br>
              LS13 4PW<br>
              United Kingdom
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Registered number: </dt>
            <dd class="govuk-summary-action">068482855 <img src="/public/images/checkmark.png" class="verified-tick" alt="Registered UK Company" title="Registered UK Company" width="18px">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EORI: </dt>
            <dd class="govuk-summary-action">n/a</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">VAT no: </dt>
            <dd class="govuk-summary-list__action">n/a</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">D-U-N-S: </dt>
            <dd class="govuk-summary-list__action">n/a</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Web address: </dt>
            <dd class="govuk-summary-list__action">n/a</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Cases directly involved in: </dt>
            <dd class="govuk-summary-list__action">
              <details class="case-details govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    4 cases
                  </span>
                  (2 verified)
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <li><a href="">Garnets from Gabon</a> <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified party on this case" title="Verified party on this case" width="32px"> </li>
                    <li><a href="">cheese from Chad</a> <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified party on this case" title="Verified party on this case" width="32px"></li>
                    <li><a href="">Jelly Tots from Japan</a></li>
                    <li><a href="">Jellied desserts from Jamaica</a></li>
                  </ul>
                </div>
              </details>
           </dd> 
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Acting as a representative in: </dt>
            <dd class="govuk-summary-list__action">
              0 cases
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Users: </dt>
            <dd class="govuk-summary-list__action">
              <details class="case-details govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    1 user
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <li><a href="">BobHoskins (bobhoskins@steeluk.com)</a></li>
                  </ul>
                </div>
              </details>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <form action="/reginterest-primary-party-route" method="post" id="reginterest-primary-party-form">
    {% set validHTML %}
    Can you verify {{data['party1']}}?
    {% endset %}

      {{ govukRadios({
        idPrefix: "reginterest-valid-primary",
        name: "reginterest-valid-primary",
        fieldset: {
          legend: {
            html: validHTML,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "valid",
            text: "They are a valid organisation",
            checked: checked("reginterest-valid-primary", "valid")
          },
          {
            value: "fraudulent",
            text: "They are a fraudulent organisation",
            checked: checked("reginterest-valid-primary", "fraudulent")
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link" href="javascript: history.back()">Back</a>
      </div>

    </form>
    
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Registration of Interest</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <strong>Case</strong><br>
            {{data['case-name1']}}
          </li>
          <li>
            <strong>Primary party</strong><br>
            {{data ['party1']}}
          </li> 
          <li>
            <strong>Registered by</strong><br>
            {{data ['user1']}}
          </li>          
        </ul>
      </nav>
    </aside>
  </div>

</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


