{% extends "layout.html" %}

{% block pageTitle %}
  Verify interested party – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks?primary-party-task=started">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">1.  Review parties</span>
    <h1 class="govuk-heading-xl">
      Verify interested party
    </h1>


    <div class="govuk-inset-text govuk-inset-text__reginterest">
      <strong>{{data['party1']}}</strong> is waiting to be verified<br>
    </div>
   
  
    <div class="address-card">
      <div class="address-container">
        <h2 class="govuk-heading-m"><a href="../orgs/org-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>  
        </h2> 
        <dl class="govuk-summary-list govuk-!-margin-bottom-1">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Contact:</dt>
            <dd class="govuk-summary-list__value">{{data['party-user1']}} <br>
              {{data['party-email1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address:</dt>
            <dd class="govuk-summary-list__value">20 Highbury Place, Bramley, Leeds <br>
              LS13 4PW<br>
              United Kingdom
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company number: </dt>
            <dd class="govuk-summary-list__value">068482855 <img src="/public/images/checkmark.png" class="verified-tick" alt="Registered UK Company" title="Registered UK Company" width="18px">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Web address: </dt>
            <dd class="govuk-summary-list__value"><a href="www.steeluk.com" target="_blank">www.steeluk.com</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EORI: </dt>
            <dd class="govuk-summary-list__value">GB205672212000</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">VAT no: </dt>
            <dd class="govuk-summary-list__value">GB123456789</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">D-U-N-S: </dt>
            <dd class="govuk-summary-list__value">150483782</dd>
          </div>
        </dl>
        <br>
        <div>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Interested party: 0
              </span>
            </summary>
            <div class="govuk-details__text">
              <strong>{{data['party1']}}</strong> is waiting to be verified<br>
            </div>
          </details>
        </div>
        <div>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Users: 1
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user1']}}</a> - {{data['party-email1']}}</li>
              </ul>
            </div>
          </details>
        </div>   
      </div>
    </div>

    <form action="/reginterest-interested-party-route" method="post" id="reginterest-interested-party-form">

      {% set validHTML %}
      Have you been able to verify the interested party?
      {% endset %}

      {{ govukRadios({
        idPrefix: "reginterest-valid-primary",
        name: "reginterest-valid-primary",
        fieldset: {
          legend: {
            html: validHTML,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Verified",
            text: "Yes, I have been able to verify the interested party",
            checked: checked("reginterest-valid-representative", "Verified")
          },
          {
            value: "Unverified",
            text: "No, I have not been able to verify the interested party",
            checked: checked("reginterest-valid-representative", "Unverified")
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link govuk-link--no-visited-state" href="reginterest-tasks?primary-party-task=started">Back</a>
      </div>

    </form>
    
  </div>

</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


