{% extends "layout.html" %}

{% block pageTitle %}
  Complete - {{serviceName}} - GOV.UK
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Matching organisations complete 
        </h1>
      </div>

      {% if data['merge-duplicates'] == "1c" or data['merge-duplicates'] == "1b" %} 
        {% if data['reginterest-matching-orgs-question'] =="no" %}
          <p>Matching organisation(s) marked as not duplicate.</p>
          {% else %}
          <p>The duplicate organisations have been merged.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Cases are now registered under one organisation</li>
            <li>Users are now registered under one organisation</li>
            <li>Lead investigators assigned to the matching cases have been notified</li>
          </ul> 
        {% endif %} 
        {% else %}
        <p>The duplicate organisations have been merged.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Cases are now registered under one organisation</li>
          <li>Users are now registered under one organisation</li>
          <li>Lead investigators assigned to the matching cases have been notified</li>
        </ul> 

      {% endif %}  

       {% if data['verify-type'] =="rep-invite" %}
      <form action="/caseworker/reg-interest/reginterest-tasks?duplicate-org=none&merge-rep-task=Complete" method="post" id="cancel-invite-form">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Review representative invite"
          }) }} 
        </div> 
      </form>
      {% else %}
      {% if data['verify-type'] =="reg-interest" %}
        {% if data['duplicate-org'] =="both" and data['merge-int-task'] == "Complete" and data['merge-rep-task'] == "Complete" %}
          <form action="/caseworker/reg-interest/reginterest-tasks?duplicate-org=none" method="post" id="cancel-invite-form">
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Review registration of interest"
              }) }} 
            </div> 
          </form>
          {% else %}
          {% if data['duplicate-org'] =="both" and (data['merge-rep-task'] == "Complete" or data['merge-int-task'] == "Complete")  %}
            <form action="/caseworker/reg-interest/reginterest-tasks-dup" method="post" id="cancel-invite-form">
              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Review matching organisations"
                }) }} 
              </div> 
            </form>
            {% else %}
            <form action="/caseworker/reg-interest/reginterest-tasks?duplicate-org=none" method="post" id="cancel-invite-form">
              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Review registration of interest"
                }) }} 
              </div> 
            </form>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}

    {{data['duplicate-org']}}
  
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}