{% extends "layout.html" %}

{% block pageTitle %}
  Choose data – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">1.  
      {% if data['verify-type'] == "rep-invite" %}
        Review representative
      {% else %}
        Review parties
      {% endif %}
    </span>
    <h1 class="govuk-heading-xl">
      Resolve duplicates
    </h1>
    <p>Select which of the following is the correct information.</p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table sortable">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden">
        A table show the diffent fields that need to be merged
      </caption>      
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Field</th>
          <th scope="col" class="govuk-table__header">Interested party</th>
          <th scope="col" class="govuk-table__header">Duplicate party</th>
          <th scope="col" class="govuk-table__header">Keep</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row no-border">
          <th scope="row" class="govuk-table__header">Name</th>
          <td class="govuk-table__cell">{{data['party1'] }}</td>
          <td class="govuk-table__cell">{{data['dup-party1'] }}</td>
          <td class="govuk-table__cell"><div class="govuk-form-group">
            <label class="govuk-visually-hidden" for="name">
              Choose which name field to keep
            </label>
            <select class="govuk-select" id="name" name="name">
              <option id="select" value="Interested party">{{data['party1'] }}</option>
              <option value="Duplicate party">{{data['dup-party1'] }}</option>
            </select>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Street address</th>
          <td class="govuk-table__cell">{{data['party-address1'] }}</td>
          <td class="govuk-table__cell">{{data['dup-party-address1'] }}</td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <label class="govuk-visually-hidden" for="address">
                Choose which address field to keep
              </label>
              <select class="govuk-select" id="address" name="address">
                <option id="select" value="Interested party">{{data['party-address1'] }}</option>
                <option value="Duplicate party">{{data['dup-party-address1'] }}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Postcode/zip</th>
          <td class="govuk-table__cell">{{data['party-postcode1'] }}</td>
          <td class="govuk-table__cell">{{data['dup-party-postcode1'] }}</td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <label class="govuk-visually-hidden" for="postcode">
                Choose which address field to keep
              </label>
              <select class="govuk-select" id="postcode" name="postcode">
                <option id="select" value="data['party-postcode1']">{{data['party-postcode1'] }}</option>
                <option value="data['dup-party-postcode1']">{{data['dup-party-postcode1'] }}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Country</th>
          <td class="govuk-table__cell">{{data['party-country1'] }}</td>
          <td class="govuk-table__cell">{{data['dup-party-country1'] }}</td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <label class="govuk-visually-hidden" for="country">
                Choose which address field to keep
              </label>
              <select class="govuk-select" id="country" name="country">
                <option id="select" value="data['party-country1']">{{data['party-country1'] }}</option>
                <option value="data['dup-party-country1']">{{data['dup-party-country1'] }}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Reg number</th>
          <td class="govuk-table__cell">{{data['party-org-number1'] }}</td>
          <td class="govuk-table__cell">{{data['dup-party-org-number1'] }}</td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <label class="govuk-visually-hidden" for="org-number">
                Choose which address field to keep
              </label>
              <select class="govuk-select" id="org-number" name="org-number">
                <option id="select" value="data['party-org-number1']">{{data['party-org-number1'] }}</option>
                <option value="data['dup-party-org-number1']">{{data['dup-party-org-number1'] }}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Website</th>
          <td class="govuk-table__cell">{{data['party-web1'] }}</td>
          <td class="govuk-table__cell">{{data['dup-party-web1'] }}</td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <label class="govuk-visually-hidden" for="web">
                Choose which address field to keep
              </label>
              <select class="govuk-select" id="web" name="web">
                <option id="select" value="data['party-web1']">{{data['party-web1'] }}</option>
                <option value="data['dup-party-web1']">{{data['dup-party-web1'] }}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">VAT number</th>
          <td class="govuk-table__cell">{{data['party-vat1'] }}</td>
          <td class="govuk-table__cell">{{data['dup-party-vat1'] }}</td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <label class="govuk-visually-hidden" for="vat">
                Choose which address field to keep
              </label>
              <select class="govuk-select" id="vat" name="vat">
                <option id="select" value="data['party-vat1']">{{data['party-vat1'] }}</option>
                <option value="data['dup-party-vat1']">{{data['dup-party-vat1'] }}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">EORI number</th>
          <td class="govuk-table__cell">{{data['party-eori1'] }}</td>
          <td class="govuk-table__cell">{{data['dup-party-eori1'] }}</td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <label class="govuk-visually-hidden" for="eori">
                Choose which address field to keep
              </label>
              <select class="govuk-select" id="eori" name="eori">
                <option id="select" value="data['party-eori1']">{{data['party-eori1'] }}</option>
                <option value="data['dup-party-eori1']">{{data['dup-party-eori1'] }}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">DUNS number</th>
          <td class="govuk-table__cell">{{data['party-duns1'] }}</td>
          <td class="govuk-table__cell">{{data['dup-party-duns1'] }}</td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <label class="govuk-visually-hidden" for="duns">
                Choose which address field to keep
              </label>
              <select class="govuk-select" id="duns" name="duns">
                <option id="select" value="data['party-duns1']">{{data['party-duns1'] }}</option>
                <option value="data['dup-party-duns1']">{{data['dup-party-duns1'] }}</option>
              </select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


