{% extends "layout.html" %}

{% block pageTitle %}
  Verify Registered Interest – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">1.  Review parties</span>
    <h1 class="govuk-heading-xl">
      {% if data['party-type'] == "int" %}
      Unverified interested party
          {% else %}
            Unverified representative
      {% endif %}
    </h1>

    <form action="reginterest-complete" method="post" id="reginterest-valid-org-form">
      {{ govukCharacterCount({
        name: "unverfied-reason",
        id: "unverfied-reason",
        maxlength: 200,
        label: {
          text: "Explain why the party cannot be verified",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "This information helps other caseworkers should this organisation be involved in other cases or asks to register interest again."
        }
      }) }}

      <h2 class="govuk-heading-s">Next steps</h2> 
      <ul class="govuk-list govuk-list--bullet">
        <li>This registration of interest will be declined and the party informed by email</li>
        <li>If the organisation is involved in other cases this decision will be flagged to relevant caseworkers</li>
      </ul>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Confirm"
        }) }}    
        <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
      </div>

    </form>
    
  </div>

</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


