{% extends "layout.html" %}

{% block pageTitle %}
  Merge complete – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">
      Resolve matches
     </span>      
    <h1 class="govuk-heading-xl">
      Confirm final details for merge
    </h1>
    <p>Our records will be updated with these details. Check that they are correct.</p>
    <div class="address-card">
      <div class="address-container">
        <h3 class="govuk-heading-m clearfix"><a href="../orgs/org-bluesteel" class="govuk-link--no-visited-state">{{data['party1']}}</a>  
        </h3>
        <dl class="govuk-summary-list govuk-!-margin-bottom-1">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address:</dt>
            <dd class="govuk-summary-list__value">{{data['party-address1']}} <br>
              {{data['party-postcode1']}}<br>
              {{data['party-country1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reg number: </dt>
            <dd class="govuk-summary-list__value">{{data['party-org-number1']}} <img src="/public/images/checkmark.png" class="verified-tick" alt="Valid Companies House registration number" title="Valid Companies House registration number" width="20px"><span class="govuk-body-s">Valid</span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Web address: </dt>
            <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['party-web1']}}</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">VAT no: </dt>
            <dd class="govuk-summary-list__value">{{data['party-vat1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EORI: </dt>
            <dd class="govuk-summary-list__value">{{data['party-eori1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">D-U-N-S: </dt>
            <dd class="govuk-summary-list__value">{{data['party-duns1']}}</dd>
          </div>
        </dl> 
        <br>
        <div>
          <details class="case-details govuk-details">
            <summary>
              Cases acting as an interested party: 0
            </summary>
          </details>
        </div>
        <details class="case-details govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Users: 1
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list">
              <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user1']}}</a> - {{data['party-email1']}}</li>
              <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user111']}}</a> - {{data['party-email111']}}</li>
            </ul>
          </div>
        </details>
      </div>
    </div>
    <h2 class="govuk-heading-m">For reference</h2>
    <details class="case-details govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Organisations before merge
        </span>
      </summary>
            <div class="govuk-details__text">
        <div class="address-card">
          <div class="address-container">   
            <h3 class="govuk-heading-m clearfix">Steel UK</a>  
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-1"> 
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Contact:</dt>
                <dd class="govuk-summary-list__value"><a href="#" class="govuk-link--no-visited-state">Jane Winder</a><br>
                j.winder@steeluk.org
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address:</dt>
                <dd class="govuk-summary-list__value">345, The Shard, London<br>
                  SE1 9QU<br>
                  United Kingdom
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Reg number: </dt>
                <dd class="govuk-summary-list__value">456794936
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Web address: </dt>
                <dd class="govuk-summary-list__value">www.steeluk.org</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">VAT no: </dt>
                <dd class="govuk-summary-list__value"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">EORI: </dt>
                <dd class="govuk-summary-list__value">GB123456789</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                <dd class="govuk-summary-list__value"></dd>
              </div>
            </dl> 
            <br>
            <details class="case-details govuk-details">
              <summary>
                Cases acting as an interested party: 0
              </summary>
            </details>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Users: 1
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user1']}}</a> - {{data['party-email1']}}</li>
                </ul>
              </div>
            </details> 
          </div>
        </div>
      </div>
      <div class="govuk-details__text">
        <div class="address-card">
          <div class="address-container">   
            <h3 class="govuk-heading-m clearfix"><a href="/caseworker/orgs/org-steeel" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>  
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-1"> 
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Contact:</dt>
                <dd class="govuk-summary-list__value"><a href="#" class="govuk-link--no-visited-state">{{data['party-user111']}}</a><br>
                {{data['party-email111']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address:</dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-address1']}}<br>
                  {{data['dup-party-postcode1']}}<br>
                  {{data['dup-party-country1']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Reg number: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-org-number1']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Web address: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-web1']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">VAT no: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-vat1']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">EORI: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-eori1']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-duns1']}}</dd>
              </div>
            </dl> 
            <br>
            <details class="case-details govuk-details">
              <summary>
                Cases acting as an interested party: 0
              </summary>
            </details>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Users: 1
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user111']}}</a> - {{data['party-email111']}}</li>
                </ul>
              </div>
            </details> 
          </div>
        </div>
      </div>
    </details>
      
        {{ govukWarningText({
          text: "Merging organisations cannot be undone",
          iconFallbackText: "Warning"
        }) }}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Please confirm the following
            </legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="check-1" name="check" type="checkbox" value="caseworker-check">
                <label class="govuk-label govuk-checkboxes__label" for="check-1">
                  I have completed all the checks required to merge the organisations.<br>
                  I have the authority to complete this merge????? We know as they are a lead??
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Merge organisations",
            href: "reginterest-merge-complete?merge-rep-task=Complete"
          }) }}   
          <a class="govuk-link govuk-link--no-visited-state" href="reginterest-merge-cancel">Cancel merge</a>
        </div>
  </div>
</div>


{% endblock %}
{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}


