{% extends "layout.html" %}

{% block pageTitle %}
  Choose data – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">1.  Review parties</span>
    <h1 class="govuk-heading-xl">
      Resolve duplicates
    </h1>
    <p>Select which of the following is the correct information.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form action="reginterest-merge-choose-radio" method="post" id="reginterest-loa-existing-form">

      {{ govukRadios({
        idPrefix: "reginterest-merge-name",
        name: "reginterest-merge-name",
        fieldset: {
          legend: {
            text: "Interested party name",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
               
        items: [
          {
            value: data['party1'],
            html: data['party1'],
            checked: checked("reginterest-merge-name", data['party1'])
          },
          {
            value: data['dup-party1'],
            html: data['dup-party1'],
            checked: checked("reginterest-merge-name", data['dup-party1'])
          }
        ]
      }) }}  

      {{ govukRadios({
        idPrefix: "reginterest-merge-street-address",
        name: "reginterest-merge-street-address",
        fieldset: {
          legend: {
            text: "Street address",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
               
        items: [
          {
            value: data['party-address1'],
            html: data['party-address1'],
            checked: checked("reginterest-merge-street-address", data['party-address1'])
          },
          {
            value: data['dup-party-address1'],
            html: data['dup-party-address1'],
            checked: checked("reginterest-merge-street-address", data['dup-party-address1'])
          }
        ]
      }) }}  

      {{ govukRadios({
        idPrefix: "reginterest-merge-postcode",
        name: "reginterest-merge-postcode",
        fieldset: {
          legend: {
            text: "Postcode/ zipcode",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
               
        items: [
          {
            value: data['party-postcode1'],
            html: data['party-postcode1'],
            checked: checked("reginterest-merge-postcode", data['party-postcode1'])
          },
          {
            value: data['dup-party-postcode1'],
            html: data['dup-party-postcode1'],
            checked: checked("reginterest-merge-postcode", data['dup-party-postcode1'])
          }
        ]
      }) }}
      
      {{ govukRadios({
        idPrefix: "reginterest-merge-country",
        name: "reginterest-merge-country",
        fieldset: {
          legend: {
            text: "Country",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
               
        items: [
          {
            value: data['party-country1'],
            html: data['party-country1'],
            checked: checked("reginterest-merge-country", data['party-country1'])
          },
          {
            value: data['dup-party-country1'],
            html: data['dup-party-country1'],
            checked: checked("reginterest-merge-country", data['dup-party-country1'])
          }
        ]
      }) }}  

     

      {{ govukRadios({
        idPrefix: "reginterest-merge-org-number",
        name: "reginterest-merge-org-number",
        fieldset: {
          legend: {
            text: "Reg number",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
               
        items: [
          {
            value: data['party-org-number1'],
            html: data['party-org-number1'],
            checked: checked("reginterest-merge-org-number", data['party-org-number1'])
          },
          {
            value: data['dup-party-org-number1'],
            html: data['dup-party-org-number1'],
            checked: checked("reginterest-merge-org-number", data['dup-party-org-number1'])
          }
        ]
      }) }}  

      {{ govukRadios({
        idPrefix: "reginterest-merge-web",
        name: "reginterest-merge-web",
        fieldset: {
          legend: {
            text: "Website",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
               
        items: [
          {
            value: data['party-web1'],
            html: data['party-web1'],
            checked: checked("reginterest-merge-web", data['party-web1'])
          },
          {
            value: data['dup-party-web1'],
            html: data['dup-party-web1'],
            checked: checked("reginterest-merge-web", data['dup-party-web1'])
          }
        ]
      }) }}  

      {{ govukRadios({
        idPrefix: "reginterest-merge-vat",
        name: "reginterest-merge-vat",
        fieldset: {
          legend: {
            text: "VAT number",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        }, 
        items: [
          {
            value: data['party-vat1'],
            html: data['party-vat1'],
            checked: checked("reginterest-merge-vat", data['party-vat1'])
          },
          {
            value: data['dup-party-vat1'],
            html: data['dup-party-vat1'],
            checked: checked("reginterest-merge-vat", data['dup-party-vat1'])
          }
        ]
      }) }}  

      {{ govukRadios({
        idPrefix: "reginterest-merge-eori",
        name: "reginterest-merge-eori",
        fieldset: {
          legend: {
            text: "EORI number",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        }, 
        items: [
          {
            value: data['party-eori1'],
            html: data['party-eori1'],
            checked: checked("reginterest-merge-eori", data['party-eori1'])
          },
          {
            value: data['dup-party-eori1'],
            html: data['dup-party-eori1'],
            checked: checked("reginterest-merge-eori", data['dup-party-eori1'])
          }
        ]
      }) }}  

      {{ govukRadios({
        idPrefix: "reginterest-merge-duns",
        name: "reginterest-merge-duns",
        fieldset: {
          legend: {
            text: "duns number",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        }, 
        items: [
          {
            value: data['party-duns1'],
            html: data['party-duns1'],
            checked: checked("reginterest-merge-duns", data['party-duns1'])
          },
          {
            value: data['dup-party-eori1'],
            html: data['dup-party-eori1'],
            checked: checked("reginterest-merge-duns", data['dup-party-duns1'])
          }
        ]
      }) }}  

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Preview changes"
        }) }}    
        <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
      </div>
    </form>
  </div>
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Preview
    </h2>
    <div class="address-card">
      <div class="address-container">
        <dl class="govuk-summary-list govuk-!-margin-bottom-1">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name:</dt>
            <dd class="govuk-summary-list__value">{{data['reginterest-merge-name'] or data['party1'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address:</dt>
            <dd class="govuk-summary-list__value">{{data['reginterest-merge-street-address'] or data['party-address1'] }} <br>
              {{data['reginterest-merge-postcode'] or data['party-postcode1']}}<br>
              {{data['reginterest-merge-country'] or data['party-country1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reg number: </dt>
            <dd class="govuk-summary-list__value">{{data['reginterest-merge-org-number'] or data['party-org-number1']}} 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Web address: </dt>
            <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['reginterest-merge-web'] or data['party-web1']}}</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">VAT no: </dt>
            <dd class="govuk-summary-list__value">{{data['reginterest-merge-vat'] or data['party-vat1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EORI: </dt>
            <dd class="govuk-summary-list__value">{{data['reginterest-merge-eori'] or data['party-eori1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">D-U-N-S: </dt>
            <dd class="govuk-summary-list__value">{{data['reginterest-merge-duns'] or data['party-duns1']}}</dd>
          </div>
        </dl> 
        <br>
        <div>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Acting as a representative: 1 case
              </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="../cases/case-overview" class="govuk-link--no-visited-state">{{data['case-ref5']}} - {{data['case-name5']}}</a> <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified party" title="Verified party" width="32px"> 21 Jan 2022</li>
                </ul>
            </div>
          </details>
        </div>
        <div>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Users: 1
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user1']}}</a> - {{data['party-email1']}}</li>
              </ul>
            </div>
          </details>
        </div>    
      </div>
    </div>  
  </div>
</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


