{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Verify Registered Interest – GOV.UK Trade Remedies Prototype
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">1.  Review interested parties</span>
    <h1 class="govuk-heading-xl"> 
      Review primary party
    </h1>
  </div>

    <div class="govuk-grid-column-two-thirds">

    <form action="reginterest-tasks?primary-party-complete=yes" method="post" id="reginterest-accept-on-case-form">

      {{ govukRadios({
        idPrefix: "reginterest-accecpt-on-case",
        name: "reginterest-accecpt-on-case",
        fieldset: {
          legend: {
            html: "What type of party is this organsiation acting as in this case?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "domestic_producer",
            text: "Domestic Producer",
            checked: checked("reginterest-accecpt-on-case", "domestic_producer")
          },
          {
            value: "importer",
            text: "Importer",
            checked: checked("reginterest-accecpt-on-case", "importer")
          },
          {
            value: "exporter",
            text: "Exporter",
            checked: checked("reginterest-accecpt-on-case", "exporter")
          },
          {
            value: "foreign_government",
            text: "Foreign Government",
            checked: checked("reginterest-accecpt-on-case", "foreign_government")
          },
          {
            value: "product_user",
            text: "Industrial User of Product",
            checked: checked("reginterest-accecpt-on-case", "product_user")
          },
          {
            value: "trade_body",
            text: "Trade Body",
            checked: checked("reginterest-accecpt-on-case", "trade_body")
          },
          {
            value: "contributor",
            text: "Contributor",
            checked: checked("reginterest-accecpt-on-case", "contributor")
          }
        ]
      }) }}   

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link" href="javascript: history.back()">Back</a>
      </div>

    </form>
    
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Registration of Interest</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <strong>Case</strong><br>
            {{data['case-ref1']}}: {{data['case-name1']}}
          </li>
          <li>
            <strong>Primary party</strong><br>
            {{data ['party1']}}
          </li> 
          <li>
            <strong>Registered by</strong><br>
            {{data ['user1']}}
          </li>
        </ul>
      </nav>
    </aside>
  </div>

</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


