{% extends "layout.html" %}

{% block pageTitle %}
  Duplicate organisations – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
     {% if (data['verify-type'] == "rep-invite") %}
      <span class="govuk-caption-xl">1.
        Review representative 
      </span>
      {% else %}
      {% if (data['verify-type'] == "reg-interest") and (data['third-party'] == "yes") %}
        <span class="govuk-caption-xl">2.
          Review representative 
        </span>
        {% else %}
        <span class="govuk-caption-xl">1.
          Review interested party
        </span>
      {% endif %}
    {% endif %}
    <h1 class="govuk-heading-xl">
      Duplicate organisations
    </h1>
    <p>We have found one or more registered organisations with similar details to the representative .</p>
    <p>Check if the registered organisation is a duplicate and update any incorrect information.</p>
    {{ govukDetails({
      summaryText: "How are duplicates determined?",
      text: "Matches are made based on the website domain, organisation registration number, EORI, VAT, and DUNS number. Some more information about how caes/ users get merged."
    }) }}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-s">Interested party
    </h2>
    <!--If there is a rep then the Int Party is Steel UK-->
    {% if data['third-party'] == "yes" %}
      <div class="address-card">
        <div class="address-container">
          <h3 class="govuk-heading-m"><a href="../orgs/org-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>  
            <p class="right-aligned-link govuk-heading-s">
              <a href="/caseworker/orgs/org-edit-int-dets?org-edit-type=merge-int&party-type=int" class="govuk-link--no-visited-state">Edit</a>
            </p> 
          </h3> 
          <dl class="govuk-summary-list govuk-!-margin-bottom-1">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Contact:</dt>
              <dd class="govuk-summary-list__value">{{data['party-user1']}} <br>
                {{data['party-email1']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Address:</dt>
              <dd class="govuk-summary-list__value">{{data['party-address1']}} <br>
                {{data['party-postcode1']}}<br>
                {{data['party-country1']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Reg number: </dt>
              <dd class="govuk-summary-list__value">{{data['party-org-number1']}} <img src="/public/images/checkmark.png" class="verified-tick" alt="Valid Companies House registration number" title="Valid Companies House registration number" width="20px"><span class="govuk-body-s">Valid</span>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Web address: </dt>
              <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['party-web1']}}</a></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">VAT no: </dt>
              <dd class="govuk-summary-list__value">{{data['party-vat1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">EORI: </dt>
              <dd class="govuk-summary-list__value">{{data['party-eori1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">D-U-N-S: </dt>
              <dd class="govuk-summary-list__value">{{data['party-duns1']}}</dd>
            </div>
          </dl> 
          <br>
          <details class="case-details govuk-details">
            <summary>
                Cases acting as an interested party: 0
            </summary>
          </details>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Users: 1
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user1']}}</a> - {{data['party-email1']}}</li>
              </ul>
            </div>
          </details>  
        </div>
      </div>
      <!--If there is not a rep then the Int Party is Steeel-->
      {% else %}
      <div class="address-card">
        <div class="address-container">   
          <h3 class="govuk-heading-m clearfix"><a href="" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>  
            <p class="right-aligned-link govuk-heading-s">
              <a href="/caseworker/orgs/org-edit-rep-dets?org-edit-type=merge-rep&party-type=rep-dup-1a" class="govuk-link--no-visited-state">Edit</a>
            </p> 
          </h3>
          <dl class="govuk-summary-list govuk-!-margin-bottom-1">
             <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Contact:</dt>
              <dd class="govuk-summary-list__value">{{data['party-user111']}} <br>
                {{data['party-email111']}}
              </dd>
            </div> 
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Address:</dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-address1']}}<br>
                {{data['dup-party-postcode1']}}<br>
                {{data['dup-party-country1']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Reg number: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-org-number1']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Web address: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-web1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">VAT no: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-vat1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">EORI: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-eori1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">D-U-N-S: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-duns1']}}</dd>
            </div>
          </dl> 
          <br>
          <details class="case-details govuk-details">
            <summary>
                Cases acting as an interested party: 0
            </summary>
          </details>
          <details class="case-details govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Users: 1
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user111']}}</a> - {{data['party-email111']}}</li>
              </ul>
            </div>
          </details>
        </div>
      </div>
    {% endif %}
  </div>
  <!--List of duplicates-->
  <div class="govuk-grid-column-one-half">
    <!--Show header according to how many dups there are - only showing 1-->
    <h2 class="govuk-heading-s">Duplicate
    </h2> 

    {% if (data['merge-duplicates'] == "0") %}
      <div class="address-card address-card-duplicate">
        <div class="address-container">
          <p>No more duplicates to resolve.</p>
        </div>
      </div>
      {% else %}

      {% if (data['merge-duplicates'] == "1b") %}
        <div class="address-cover clearfix">
          {% if data['third-party'] == "no" %}
            <div class="address-card address-card-duplicate">
              <div class="address-container">
                <h3 class="govuk-heading-m"><a href="../orgs/org-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>  
                  <p class="right-aligned-link govuk-heading-s">
                    <a href="/caseworker/orgs/org-edit-int-dets?org-edit-type=merge-int&party-type=int" class="govuk-link--no-visited-state">Edit</a>
                  </p> 
                </h3> 
                <dl class="govuk-summary-list govuk-!-margin-bottom-1">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Contact:</dt>
                    <dd class="govuk-summary-list__value">{{data['party-user1']}} <br>
                      {{data['party-email1']}}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Address:</dt>
                    <dd class="govuk-summary-list__value">{{data['party-address1']}} <br>
                      {{data['party-postcode1']}}<br>
                      {{data['party-country1']}}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Reg number: </dt>
                    <dd class="govuk-summary-list__value"><mark>{{data['party-org-number1']}}</mark> 
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Web address: </dt>
                    <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['party-web1']}}</a></dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">VAT no: </dt>
                    <dd class="govuk-summary-list__value">{{data['party-vat1']}}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">EORI: </dt>
                    <dd class="govuk-summary-list__value">{{data['party-eori1']}}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                    <dd class="govuk-summary-list__value">{{data['party-duns1']}}</dd>
                  </div>
                </dl> 
                <br>
                <details class="case-details govuk-details">
                  <summary>
                      Cases acting as an interested party: 0
                  </summary>
                </details>
                <details class="case-details govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Users: 1
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="govuk-list">
                      <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user1']}}</a> - {{data['party-email1']}}</li>
                    </ul>
                  </div>
                </details>
              </div>
            </div>
            {% else %}        
            <div class="address-card address-card-duplicate">
              <div class="address-container">   
                <h3 class="govuk-heading-m clearfix"><a href="" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>  
                  <p class="right-aligned-link govuk-heading-s">
                    <a href="/caseworker/orgs/org-edit-rep-dets?org-edit-type=merge-rep&party-type=rep-dup-1a" class="govuk-link--no-visited-state">Edit</a>
                  </p> 
                </h3>
                <dl class="govuk-summary-list govuk-!-margin-bottom-1"> 
                   <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Contact:</dt>
                    <dd class="govuk-summary-list__value">{{data['party-user111']}} <br>
                      {{data['party-email111']}}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Address:</dt>
                    <dd class="govuk-summary-list__value">{{data['dup-party-address1']}}<br>
                      {{data['dup-party-postcode1']}}<br>
                      {{data['dup-party-country1']}}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Reg number: </dt>
                    <dd class="govuk-summary-list__value">{{data['dup-party-org-number1']}}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Web address: </dt>
                    <dd class="govuk-summary-list__value">{{data['dup-party-web1']}}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">VAT no: </dt>
                    <dd class="govuk-summary-list__value">{{data['dup-party-vat1']}}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">EORI: </dt>
                    <dd class="govuk-summary-list__value">{{data['dup-party-eori1']}}</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                    <dd class="govuk-summary-list__value">{{data['dup-party-duns1']}}</dd>
                  </div>
                </dl> 
                <br>
                <details class="case-details govuk-details">
                  <summary>
                      Cases acting as an interested party: 0
                  </summary>
                </details>
                <details class="case-details govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Users: 1
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="govuk-list">
                      <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user111']}}</a> - {{data['party-email111']}}</li>
                    </ul>
                  </div>
                </details>
              </div>
            </div>
          {% endif %}
          <form action="/reginterest-merge-rep-party1-merge-1b-route" method="post" id="reginterest-matching-orgs-1b-question-form">
            {{ govukRadios({
              name: "reginterest-matching-orgs-1b-question",
              id: "reginterest-matching-orgs-1b-question",
              classes: "govuk-radios--inline",
              fieldset: {
                legend: {
                  text: "Is this the same organisation as the Interested Party?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: checked("reginterest-matching-orgs-1b-question", "yes")
                },
                {
                  value: "no",
                  text: "No",
                  checked: checked("reginterest-matching-orgs-1b-question", "no")
                }
              ]
            }) }}
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Confirm"
              }) }} 
            </div>
          </form>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        href: "reginterest-tasks"
      }) }} 
        
      <a class="govuk-link" govuk-link--no-visited-state href="reginterest-tasks">Back</a>
    </div>
  </div>
</div>


{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


