{% extends "layout.html" %}

{% block pageTitle %}
  Choose data – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">1.  
      {% if data['verify-type'] == "rep-invite" %}
        Review representative
      {% else %}
        Review parties
      {% endif %}
    </span>
    <h1 class="govuk-heading-xl">
      Choose the correct details
    </h1>
    <p>Before continuing please ensure that you have:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Liased with the caseworkers and organisations involved</li>
      <li>Carefully reviewed the matching details</li>
      <li>Updated any details that are incorrect</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="reginterest-merge-int-complete?merge-duplicates=0&merge-task=complete" method="post" id="reginterest-merge-form">


      <table class="govuk-table sortable">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-bold">
          Select the information to keep once the merge is complete:
        </caption>      
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Field</th>
            <th scope="col" class="govuk-table__header">Interested party</th>
            <th scope="col" class="govuk-table__header">Duplicate party</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="name-int" name="party1" type="radio" value="{{data['party1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="name-int">
                    {{data['party1'] }}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    <input class="govuk-radios__input" id="name-dup" name="party1" type="radio" value="{{data['dup-party1']}}" >
                    <label class="govuk-label govuk-radios__label" for="name-dup">
                      {{data['dup-party1'] }}
                    </label>
                    {% else %}
                    {% if (data['merge-duplicates'] == "1b") or (data['merge-duplicates'] == "2of2") %}
                      <input class="govuk-radios__input" id="name-dup" name="party1" type="radio" value="{{data['dup-party2']}}" >
                      <label class="govuk-label govuk-radios__label" for="name-dup">
                        {{data['dup-party2'] }}
                      </label>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="address-int" name="party-address1" type="radio" value="{{data['party-address1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="address-int">
                    {{data['party-address1'] }}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    <input class="govuk-radios__input" id="address-dup" name="party-address1" type="radio" value="{{data['dup-party-address1']}}">
                    <label class="govuk-label govuk-radios__label" for="address-dup">
                    {{data['dup-party-address1'] }}
                    </label>
                    {% else %}
                    {% if (data['merge-duplicates'] == "1b") or (data['merge-duplicates'] == "2of2") %}
                      <input class="govuk-radios__input" id="address-dup" name="party-address1" type="radio" value="{{data['dup-party-address2']}}">
                      <label class="govuk-label govuk-radios__label" for="address-dup">
                        {{data['dup-party-address2'] }}
                      </label>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Postcode/ zip</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="postcode-int" name="party-postcode1" type="radio" value="{{data['party-postcode1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="postcode-int">
                    {{data['party-postcode1'] }}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    <input class="govuk-radios__input" id="postcode-dup" name="party-postcode1" type="radio" value="{{data['dup-party-postcode1']}}">
                    <label class="govuk-label govuk-radios__label" for="postcode-dup">
                      {{data['dup-party-postcode1'] }}
                    </label>
                    {% else %}
                    {% if (data['merge-duplicates'] == "1b") or (data['merge-duplicates'] == "2of2") %}
                      <input class="govuk-radios__input" id="postcode-dup" name="party-postcode1" type="radio" value="{{data['dup-party-postcode2']}}">
                      <label class="govuk-label govuk-radios__label" for="postcode-dup">
                        {{data['dup-party-postcode2'] }}
                      </label>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Country</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="country-int" name="party-country1" type="radio" value="{{data['party-country1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="country-int">
                    {{data['party-country1'] }}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    <input class="govuk-radios__input" id="country-dup" name="party-country1" type="radio" value="{{data['dup-party-country1']}}">
                    <label class="govuk-label govuk-radios__label" for="country-dup">
                      {{data['dup-party-country1'] }}
                    </label>
                    {% else %}
                    {% if (data['merge-duplicates'] == "1b") or (data['merge-duplicates'] == "2of2") %}
                      <input class="govuk-radios__input" id="country-dup" name="party-country1" type="radio" value="{{data['dup-party-country2']}}">
                      <label class="govuk-label govuk-radios__label" for="country-dup">
                        {{data['dup-party-country2'] }}
                      </label>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Reg number</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="org-number-int" name="party-org-number1" type="radio" value="{{data['party-org-number1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="org-number-int">
                    {{data['party-org-number1'] }}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    {% if (data['dup-party-org-number1'] == null) %}
                      <input class="govuk-radios__input" id="org-number-dup" name="party-org-number1" type="radio" value="{{data['dup-party-org-number1']}}">
                      <label class="govuk-label govuk-radios__label" for="org-number-dup">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="org-number-dup" name="party-org-number1" type="radio" value="{{data['dup-party-org-number1']}}">
                      <label class="govuk-label govuk-radios__label" for="org-number-dup">
                        {{data['dup-party-org-number1'] }}
                      </label>
                    {% endif %}
                    {% else %}
                    {% if (data['dup-party-org-number2'] == null) %}
                      <input class="govuk-radios__input" id="org-number-dup" name="party-org-number1" type="radio" value="{{data['dup-party-org-number2']}}">
                      <label class="govuk-label govuk-radios__label" for="org-number-dup">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="org-number-dup" name="party-org-number1" type="radio" value="{{data['dup-party-org-number2']}}">
                      <label class="govuk-label govuk-radios__label" for="org-number-dup">
                        {{data['dup-party-org-number2'] }}
                      </label>
                    {% endif %}
                  {% endif %}                
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">Website</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="web-int" name="party-web1" type="radio" value="{{data['party-web1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="web-int">
                    {{data['party-web1'] }}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    {% if (data['dup-party-web1'] == null) %}
                      <input class="govuk-radios__input" id="web-dup" name="party-web1" type="radio" value="{{data['dup-party-web1']}}">
                      <label class="govuk-label govuk-radios__label" for="web-dup">
                        (empty)
                      </label>
                      {% else %}                      
                      <input class="govuk-radios__input" id="web-dup" name="party-web1" type="radio" value="{{data['dup-party-web1']}}">
                      <label class="govuk-label govuk-radios__label" for="web-dup">
                        {{data['dup-party-web1'] }}
                      </label>
                    {% endif %}
                    {% else %}
                    {% if (data['dup-party-web2'] == null) %}
                      <input class="govuk-radios__input" id="web-dup" name="party-web1" type="radio" value="{{data['dup-party-web2']}}">
                      <label class="govuk-label govuk-radios__label" for="web-dup">
                        (empty)
                      </label>
                      {% else %}                      
                      <input class="govuk-radios__input" id="web-dup" name="party-web1" type="radio" value="{{data['dup-party-web2']}}">
                      <label class="govuk-label govuk-radios__label" for="web-dup">
                        {{data['dup-party-web2'] }}
                      </label>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">VAT number</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="vat-int" name="party-vat1" type="radio" value="{{data['party-vat1']}}">
                  <label class="govuk-label govuk-radios__label" for="vat-int">
                    {% if (data['party-vat1'] == null) %}
                      (empty)
                      {% else %}
                      {{data['party-vat1'] }}
                    {% endif %}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    {% if (data['dup-party-vat1'] == null) %}
                      <input class="govuk-radios__input" id="vat-dup" name="party-vat1" type="radio" value="{{data['dup-party-vat1']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="vat-dup">
                       (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="vat-dup" name="party-vat1" type="radio" value="{{data['dup-party-vat1']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="vat-dup">
                        {{data['dup-party-vat1'] }}
                      </label>
                    {% endif %}

                    {% else %}
                    {% if (data['dup-party-vat2'] == null) %}
                      <input class="govuk-radios__input" id="vat-dup" name="party-vat1" type="radio" value="{{data['dup-party-vat2']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="vat-dup">
                      (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="vat-dup" name="party-vat1" type="radio" value="{{data['dup-party-vat2']}}" checked>
                      <label class="govuk-label govuk-radios__label" for="vat-dup">
                        {{data['dup-party-vat2'] }}
                      </label>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">EORI number</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="eori-int" name="party-eori1" type="radio" value="{{data['party-eori1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="eori-int">
                    {% if (data['party-eori1'] == null) %}
                      (empty)
                      {% else %}
                      {{data['party-eori1'] }}
                    {% endif %}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    {% if (data['dup-party-eori1'] == null) %}
                      <input class="govuk-radios__input" id="eori-dup" name="party-eori1" type="radio" value="{{data['dup-party-eori1']}}">
                      <label class="govuk-label govuk-radios__label" for="vat-eori">
                      (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="eori-dup" name="party-eori1" type="radio" value="{{data['dup-party-eori1']}}">
                      <label class="govuk-label govuk-radios__label" for="eori-dup">
                        {{data['dup-party-eori1'] }}
                      </label>
                    {% endif %}

                    {% else %}
                    {% if (data['dup-party-eori2'] == null) %}
                      <input class="govuk-radios__input" id="eori-dup" name="party-eori1" type="radio" value="{{data['dup-party-eori2']}}">
                      <label class="govuk-label govuk-radios__label" for="eori-dup">
                      (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="eori-dup" name="party-eori1" type="radio" value="{{data['dup-party-eori2']}}" >
                      <label class="govuk-label govuk-radios__label" for="v-dup">
                        {{data['dup-party-eori2'] }}
                      </label>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <th scope="row" class="govuk-table__header">DUNS number</th>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="duns-int" name="party-duns1" type="radio" value="{{data['party-duns1']}}" checked>
                  <label class="govuk-label govuk-radios__label" for="duns-int">
                    {% if (data['party-duns1'] == null) %}
                        (empty)
                        {% else %}
                        {{data['party-duns1'] }}
                    {% endif %}
                  </label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
                    {% if (data['dup-party-duns1'] == null) %}
                      <input class="govuk-radios__input" id="duns-dup" name="party-duns1" type="radio" value="{{data['dup-party-duns1']}}">
                      <label class="govuk-label govuk-radios__label" for="duns-dup">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="duns-dup" name="party-duns1" type="radio" value="{{data['dup-party-duns1']}}">
                      <label class="govuk-label govuk-radios__label" for="duns-dup">
                        {{data['dup-party-duns1'] }}
                      </label>
                    {% endif %}

                    {% else %}
                    {% if (data['dup-party-duns2'] == null) %}
                      <input class="govuk-radios__input" id="duns-dup" name="party-duns1" type="radio" value="{{data['dup-party-duns2']}}">
                      <label class="govuk-label govuk-radios__label" for="duns-dup">
                        (empty)
                      </label>
                      {% else %}
                      <input class="govuk-radios__input" id="duns-dup" name="party-duns1" type="radio" value="{{data['dup-party-duns2']}}">
                      <label class="govuk-label govuk-radios__label" for="duns-dup">
                        {{data['dup-party-duns2'] }}
                      </label>
                    {% endif %}
                  {% endif %}
                  
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      {{ govukWarningText({
        text: "Merging organisations cannot be undone",
        iconFallbackText: "Warning"
      }) }}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Please confirm
            </h1>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="check-1" name="check" type="checkbox" value="caseworker-check">
              <label class="govuk-label govuk-checkboxes__label" for="check-1">
                I have alerted all caseworkers who are involved in the cases affected
              </label>
            </div>
              <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="check-2" name="check" type="checkbox" value="org-check">
              <label class="govuk-label govuk-checkboxes__label" for="check-2">
                I have permission to proceed from the orgnaisations involved
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Merge organisations now"
        }) }}    
        <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
      </div>
    </form>
  </div>
</div>


{% endblock %}
{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}


