{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Verify Registered Interest – GOV.UK Trade Remedies Prototype
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Confirm party on case
    </h1>
  </div>

    <div class="govuk-grid-column-two-thirds">

    <!-- 
    <div class="govuk-inset-text">
      <strong>{{data['case-name1']}}</strong><br><strong>{{data['user1']}}</strong> has registered interest on-behalf of <strong>{{data ['party1']}}</strong>
    </div>
    -->

   
    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>Review parties
        </h2>
        <ul class="app-task-list__items">

          {% include "includes/task-list-caseworker-org.html" %}


          <!-- Test data -->
          <!--<div class="govuk-inset-text">
            Test data: <br>
            Who reg started: {{ data['which-org-started']}}<br> 
            Type of reg org: {{ data['reginterest-what-org']}}
          </div> -->          
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span>Confirm
        </h2>
        <ul class="app-task-list__items">

          <!-- 
          Test data 
          <div class="govuk-inset-text">
            Test data:<br>
            Check started: {{ data['check-started']}}<br>
            Upload complete: {{ data['upload-complete']}}
          </div>
          -->

          {% include "includes/task-list-caseworker-accept.html" %}

        </ul>
      </li>
    </ol>

    <a class="govuk-link" href="../cases/case">Back to Case</a>

  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Registration of Interest</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <strong>Case</strong><br>
            {{data['case-ref1']}}: {{data['case-name1']}}
          </li>  
          <li>
            <strong>Interested party</strong><br>
            {{data ['party1']}}
          </li> 

          {% if data['third-party'] == "yes" %}
          <li>
            <strong>Representative party</strong><br>
            {{data ['representative1']}}
          </li>
          {% endif %} 

          <li>
            <strong>Registered by</strong><br>
            {{data ['user1']}}
          </li>

        </ul>
      </nav>
    </aside>
  </div>

</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


