{% extends "layout.html" %}

{% block pageTitle %}
  Confirm not duplicate – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">1.  
      {% if data['verify-type'] == "rep-invite" %}
        Review representative
      {% else %}
        Review parties
      {% endif %}
    </span>
    <h1 class="govuk-heading-xl">
      Confirm not a duplicate
    </h1>
    <p>Before continuing please ensure that you have:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Carefully reviewed the matching details</li>
      <li>Updated any details that are incorrect</li>
      <li>Received confirmation from the organisation if required</li>
    </ul>
    
    {% if (data['merge-duplicates'] == "1a") or (data['merge-duplicates'] == "1of2") %}
      <div class="address-card address-card-duplicate">
        <div class="address-container">
          <h3 class="govuk-heading-m"><a href="" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>  
            <p class="right-aligned-link govuk-heading-s">
              <a href="/caseworker/orgs/org-edit-int-dets?org-edit-type=merge-int&party-type=int-dup1" class="govuk-link--no-visited-state">Edit</a>
            </p> 
          </h3>
          <dl class="govuk-summary-list govuk-!-margin-bottom-1"> 
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Address:</dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-address1']}}<br>
                {{data['dup-party-postcode1']}}<br>
                {{data['dup-party-country1']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Reg number: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-org-number1']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Web address: </dt>
              <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['dup-party-web1']}}</a></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">VAT no: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-vat1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">EORI: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-eori1']}}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">D-U-N-S: </dt>
              <dd class="govuk-summary-list__value">{{data['dup-party-duns1']}}</dd>
            </div>
          </dl> 
          <br>
        </div>
      </div>
      {% else %}
      {% if (data['merge-duplicates'] == "1b") or (data['merge-duplicates'] == "2of2") %}
        <div class="address-card address-card-duplicate">
          <div class="address-container">
            <h3 class="govuk-heading-m"><a href="" class="govuk-link--no-visited-state">{{data['dup-party2']}}</a>  
              <p class="right-aligned-link govuk-heading-s">
                <a href="/caseworker/orgs/org-edit-int-dets?org-edit-type=merge-int&party-type=int-dup2" class="govuk-link--no-visited-state">Edit</a>
              </p> 
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-1">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address:</dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-address2']}}<br>
                  {{data['dup-party-postcode2']}}<br>
                  {{data['dup-party-country2']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Reg number: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-org-number2']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Web address: </dt>
                <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['dup-party-web2']}}</a></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">VAT no: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-vat2']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">EORI: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-eori2']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-duns2']}}</dd>
              </div>
            </dl> 
            <br>
          </div>
        </div>
      {% endif %}
    {% endif %}
     
    {% if (data['merge-duplicates'] == "1of2") %}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Mark as not a duplicate",
          href: "reginterest-merge-rep-party?merge-duplicates=1b&merge-rep-task=started"
        }) }}    
        <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
      </div>
      {% else %}
      {% if (data['merge-duplicates'] == "2of2") %}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Mark as not a duplicate",
            href: "reginterest-merge-rep-party?merge-duplicates=1a&merge-rep-task=started"
          }) }}    
          <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
        </div>
        {% else %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Mark as not a duplicate",
            href: "reginterest-merge-rep-party?merge-duplicates=0&merge-rep-task=complete"
          }) }}    
          <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


