{% extends "layout.html" %}

{% block pageTitle %}
  Choose data – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">1.  
      {% if data['verify-type'] == "rep-invite" %}
        Review representative
      {% else %}
        Review parties
      {% endif %}
    </span>
    <h1 class="govuk-heading-xl">
      Duplicate organisations
    </h1>
    <p>Organisations have been found with similar details to the party concerned. Ensure that: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Duplicates are only merged after consulting the parties and caseworkers involved</li>
      <li>Non-duplicates should have incorrect details updated and marked as 'Not duplicate'</li>
    </ul>
    {{ govukDetails({
      summaryText: "How are duplicates determined?",
      text: "Matches are made based on the website domain, organisation registration number, EORI, VAT, and DUNS number."
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-s">Representative
    </h2>
    <div class="address-card">
      <div class="address-container">
        <h3 class="govuk-heading-m"><a href="../orgs/org-bluesteel" class="govuk-link--no-visited-state">{{data['representative1']}}</a>  
          <p class="right-aligned-link govuk-heading-s">
            <a href="/caseworker/orgs/org-edit-rep-dets?org-edit-type=merge-rep&party-type=rep" class="govuk-link--no-visited-state">Edit</a>
          </p> 
        </h3> 
        <dl class="govuk-summary-list govuk-!-margin-bottom-1">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address:</dt>
            <dd class="govuk-summary-list__value">{{data['rep-address1']}} <br>
              {{data['rep-postcode1']}}<br>
              {{data['rep-country1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reg number: </dt>
            <dd class="govuk-summary-list__value">{{data['rep-org-number1']}} 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Web address: </dt>
            <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['rep-web1']}}</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">VAT no: </dt>
            <dd class="govuk-summary-list__value">{{data['rep-vat1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EORI: </dt>
            <dd class="govuk-summary-list__value">{{data['rep-eori1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">D-U-N-S: </dt>
            <dd class="govuk-summary-list__value">{{data['rep-duns1']}}</dd>
          </div>
        </dl> 
        <br>
        {% if data['merge-rep-task'] == "complete" %}
          <div>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Interested party: 1 case
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="" class="govuk-link--no-visited-state">{{data['case-ref6']}} - {{data['case-name6']}}</a> ({{data['rep-role6']}}) <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified party" title="Verified party" width="32px"> 29 July 2021</li>
                </ul>
              </div>
            </details>
          </div>
          <div>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Acting as a representative: 2 cases
                </span>
              </summary>
              <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <li><a href="../cases/case-overview" class="govuk-link--no-visited-state">{{data['case-ref5']}} - {{data['case-name5']}}</a> <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified party" title="Verified party" width="32px"> 21 Jan 2022</li>
                    <li><a href="" class="govuk-link--no-visited-state">{{data['case-ref2']}} - {{data['case-name2']}}</a> <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified party" title="Verified party" width="32px"> 29 July 2022</li>
                  </ul>
              </div>
            </details>
          </div>
          <div>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Users: 4
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="#" class="govuk-link--no-visited-state">{{data['rep-user6']}}</a> - {{data['rep-email6']}}</li>
                  <li><a href="#" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a> - {{data['rep-email1']}}</li>
                  <li><a href="#" class="govuk-link--no-visited-state">{{data['rep-user3']}}</a> - {{data['rep-email3']}}</li>
                  <li><a href="#" class="govuk-link--no-visited-state">{{data['dup-user3']}}</a> - {{data['dup-email3']}}</li>
                </ul>
              </div>
            </details>
          </div>    
          {% else %}
          <div>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Interested party: 1 case
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="" class="govuk-link--no-visited-state">{{data['case-ref6']}} - {{data['case-name6']}}</a> ({{data['rep-role6']}}) <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified party" title="Verified party" width="32px"> 29 July 2021</li>
                </ul>
              </div>
            </details>
          </div>
          <div>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Acting as a representative: 1 case
                </span>
              </summary>
              <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <li><a href="../cases/case-overview" class="govuk-link--no-visited-state">{{data['case-ref5']}} - {{data['case-name5']}}</a> <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified party" title="Verified party" width="32px"> 21 Jan 2022</li>
                  </ul>
              </div>
            </details>
          </div>
          <div>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Users: 3
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="#" class="govuk-link--no-visited-state">{{data['rep-user6']}}</a> - {{data['rep-email6']}}</li>
                  <li><a href="#" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a> - {{data['rep-email1']}}</li>
                  <li><a href="#" class="govuk-link--no-visited-state">{{data['rep-user3']}}</a> - {{data['rep-email3']}}</li>
                </ul>
              </div>
            </details>
          </div> 
        {% endif %}   
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">

    {% if (data['merge-duplicates'] == "0") %}
      <h2 class="govuk-heading-s">Duplicate organisation</h2> 
      <div class="address-card address-card-duplicate">
        <div class="address-container">
          <p>No more duplicates to resolve.</p>
        </div>
      </div>
      {% else %}
      {% if (data['merge-duplicates'] == "1a") %}
        <h2 class="govuk-heading-s">Duplicate organisation</h2>
        <div class="address-card address-card-duplicate">
          <div class="address-container">
            <h3 class="govuk-heading-m"><a href="" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>  
              <p class="right-aligned-link govuk-heading-s">
                <a href="/caseworker/orgs/org-edit-rep-dets?org-edit-type=merge-rep&party-type=int-dup1" class="govuk-link--no-visited-state">Edit</a>
              </p> 
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-1"> 
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address:</dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-address1']}}<br>
                  {{data['dup-party-postcode1']}}<br>
                  {{data['dup-party-country1']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Reg number: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-org-number1']}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Web address: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-web1']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">VAT no: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-vat1']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">EORI: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-eori1']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                <dd class="govuk-summary-list__value"><mark>{{data['dup-party-duns1']}}</mark></dd>
              </div>
            </dl> 
            <br>
            <div>
              <details class="case-details govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Users: 1
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user111']}}</a> - {{data['party-email111']}}</li>
                  </ul>
                </div>
              </details>
            </div> 
          </div>
        </div>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Review merge details",
            href: "reginterest-merge-rep-choose-table-radio"
          }) }} 
              
          {{ govukButton({
            text: "Not duplicate",
            classes: "govuk-button--secondary",
            href: "reginterest-merge-not-duplicate"
          }) }} 
        </div>
        {% else %}
        {% if (data['merge-duplicates'] == "1c") %}
          <h2 class="govuk-heading-s">Duplicate organisation</h2>
          <div class="address-card address-card-duplicate">
            <div class="address-container">
              <h3 class="govuk-heading-m"><a href="" class="govuk-link--no-visited-state">{{data['dup-party3']}}</a>  
                <p class="right-aligned-link govuk-heading-s">
                  <a href="/caseworker/orgs/org-edit-rep-dets?org-edit-type=merge-rep&party-type=int-dup2" class="govuk-link--no-visited-state">Edit</a>
                </p> 
              </h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-1">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Address:</dt>
                  <dd class="govuk-summary-list__value">{{data['dup-party-address3']}}<br>
                    {{data['dup-party-postcode3']}}<br>
                    <mark>{{data['dup-party-country3']}}</mark>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Reg number: </dt>
                  <dd class="govuk-summary-list__value"><mark>{{data['dup-party-org-number3']}}</mark>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Web address: </dt>
                  <dd class="govuk-summary-list__value"><a href="" target="_blank"><mark>{{data['dup-party-web3']}}</mark></a></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">VAT no: </dt>
                  <dd class="govuk-summary-list__value"><mark>{{data['dup-party-vat3']}}</mark></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">EORI: </dt>
                  <dd class="govuk-summary-list__value">{{data['dup-party-eori3']}}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                  <dd class="govuk-summary-list__value">{{data['dup-party-duns3']}}</dd>
                </div>
              </dl> 
              <br>
              <div>
                <details class="case-details govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Acting as a representative: 1 case
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="govuk-list">
                      <li><a href="" class="govuk-link--no-visited-state">{{data['case-ref2']}} - {{data['case-name2']}}</a> <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified party" title="Verified party" width="32px"> 29 July 2022</li>
                    </ul>
                  </div>
                </details>
              </div>
              <div>
                <details class="case-details govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Users: 1
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="govuk-list">
                      <li><a href="#" class="govuk-link--no-visited-state">{{data['dup-user3']}}</a> - {{data['dup-email3']}}</li>
                    </ul>
                  </div>
                </details>
              </div> 
            </div> 
          </div> 
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Review merge details",
              href: "reginterest-merge-rep-choose-table-radio"
            }) }} 
                
            {{ govukButton({
              text: "Not duplicate",
              classes: "govuk-button--secondary",
              href: "reginterest-merge-not-duplicate"
            }) }} 
          </div>
          {% else %}
          {% if data['merge-duplicates'] == "1of2" or data['merge-duplicates'] == "2of2"  %}
            <form action="reginterest-merge-rep-choose-table-radio" method="post" id="reginterest-merge-form">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h2 class="govuk-fieldset__heading">
                        Duplicate organisations (2)
                    </h2>
                  </legend>
                  <div id="waste-hint" class="govuk-hint">
                    Select organisations you wish to merge in one step.
                  </div>
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="merge-duplicates-1a" name="merge-duplicates" type="checkbox" value="10f2">
                      <label class="govuk-label govuk-checkboxes__label" for="merge-duplicates-1a">
                        <div class="address-card address-card-duplicate">
                          <div class="address-container">
                             <h3 class="govuk-heading-m"><a href="" class="govuk-link--no-visited-state">{{data['dup-party1']}}</a>  
                              <p class="right-aligned-link govuk-heading-s">
                                <a href="/caseworker/orgs/org-edit-rep-dets?org-edit-type=merge-rep&party-type=int-dup1" class="govuk-link--no-visited-state">Edit</a>
                              </p> 
                            </h3>
                            <dl class="govuk-summary-list govuk-!-margin-bottom-1"> 
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Address:</dt>
                                <dd class="govuk-summary-list__value">{{data['dup-party-address1']}}<br>
                                  {{data['dup-party-postcode1']}}<br>
                                  {{data['dup-party-country1']}}
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Reg number: </dt>
                                <dd class="govuk-summary-list__value">{{data['dup-party-org-number1']}}
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Web address: </dt>
                                <dd class="govuk-summary-list__value">{{data['dup-party-web1']}}</dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">VAT no: </dt>
                                <dd class="govuk-summary-list__value">{{data['dup-party-vat1']}}</dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">EORI: </dt>
                                <dd class="govuk-summary-list__value">{{data['dup-party-eori1']}}</dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                                <dd class="govuk-summary-list__value"><mark>{{data['dup-party-duns1']}}</mark></dd>
                              </div>
                            </dl> 
                            <br>
                            <div>
                              <details class="case-details govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                  <span class="govuk-details__summary-text">
                                    Users: 1
                                  </span>
                                </summary>
                                <div class="govuk-details__text">
                                  <ul class="govuk-list">
                                    <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user111']}}</a> - {{data['party-email111']}}</li>
                                  </ul>
                                </div>
                              </details>
                            </div> 
                          </div>
                        </div>
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="merge-duplicates-1c" name="merge-duplicates" type="checkbox" value="20f2">
                      <label class="govuk-label govuk-checkboxes__label" for="merge-duplicates-1c">
                        <div class="address-card address-card-duplicate">
                          <div class="address-container">
                             <h3 class="govuk-heading-m"><a href="" class="govuk-link--no-visited-state">{{data['dup-party3']}}</a>  
                              <p class="right-aligned-link govuk-heading-s">
                                <a href="/caseworker/orgs/org-edit-rep-dets?org-edit-type=merge-rep&party-type=int-dup1" class="govuk-link--no-visited-state">Edit</a>
                              </p> 
                            </h3>
                            <dl class="govuk-summary-list govuk-!-margin-bottom-1">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Address:</dt>
                                <dd class="govuk-summary-list__value">{{data['dup-party-address3']}}<br>
                                  {{data['dup-party-postcode3']}}<br>
                                  <mark>{{data['dup-party-country3']}}</mark>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Reg number: </dt>
                                <dd class="govuk-summary-list__value"><mark>{{data['dup-party-org-number3']}}</mark>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Web address: </dt>
                                <dd class="govuk-summary-list__value"><a href="" target="_blank"><mark>{{data['dup-party-web3']}}</mark></a></dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">VAT no: </dt>
                                <dd class="govuk-summary-list__value"><mark>{{data['dup-party-vat3']}}</mark></dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">EORI: </dt>
                                <dd class="govuk-summary-list__value">{{data['dup-party-eori3']}}</dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                                <dd class="govuk-summary-list__value">{{data['dup-party-duns3']}}</dd>
                              </div>
                            </dl> 
                            <br>
                             <div>
                              <details class="case-details govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                  <span class="govuk-details__summary-text">
                                    Acting as a representative: 1 case
                                  </span>
                                </summary>
                                <div class="govuk-details__text">
                                  <ul class="govuk-list">
                                    <li><a href="" class="govuk-link--no-visited-state">{{data['case-ref2']}} - {{data['case-name2']}}</a> <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified party" title="Verified party" width="32px"> 29 July 2022</li>
                                  </ul>
                                </div>
                              </details>
                            </div>
                            <div>
                              <details class="case-details govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                  <span class="govuk-details__summary-text">
                                    Users: 1
                                  </span>
                                </summary>
                                <div class="govuk-details__text">
                                  <ul class="govuk-list">
                                    <li><a href="#" class="govuk-link--no-visited-state">{{data['dup-user3']}}</a> - {{data['dup-email3']}}</li>
                                  </ul>
                                </div>
                              </details>
                            </div>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Review merge details"
                }) }} 
                
              {{ govukButton({
                text: "Not duplicate",
                classes: "govuk-button--secondary",
                href: "reginterest-merge-not-duplicate"
              }) }} 
            </form>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        href: "reginterest-tasks"
      }) }} 
        
      <a class="govuk-link" govuk-link--no-visited-state href="reginterest-tasks">Back</a>
    </div>
  </div>
</div>


{% endblock %}
{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}


