{% extends "layout.html" %}

{% block pageTitle %}
  Duplicate organisations – {{serviceName}}
{% endblock %}

{% set bodyClasses = 'caseworker-width' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">1.  
      {% if data['verify-type'] == "rep-invite" %}
        Review representative
      {% else %}
        Review parties
      {% endif %}
    </span>
    <h1 class="govuk-heading-xl">
      Check for duplicate organisations
    </h1>
    <p>Organisations have been found with similar details to the party concerned. Ensure that: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Duplicates are only merged after consulting the parties and caseworkers involved</li>
      <li>Non-duplicates should have incorrect details updated and marked as 'Not duplicate'</li>
    </ul>
    {{ govukDetails({
      summaryText: "How are duplicates determined?",
      text: "Matches are made based on the website domain, organisation registration number, EORI, VAT, and DUNS number. Some more information about how caes/ users get merged."
    }) }}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-s">Interested party
    </h2>
    <div class="address-card">
      <div class="address-container">
        <h3 class="govuk-heading-m"><a href="../orgs/org-steeluk" class="govuk-link--no-visited-state">{{data['party1']}}</a>  
          <p class="right-aligned-link govuk-heading-s">
            <a href="/caseworker/orgs/org-edit-int-dets?org-edit-type=merge-int&party-type=int" class="govuk-link--no-visited-state">Edit</a>
          </p> 
        </h3> 
        <dl class="govuk-summary-list govuk-!-margin-bottom-1">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address:</dt>
            <dd class="govuk-summary-list__value">{{data['party-address1']}} <br>
              {{data['party-postcode1']}}<br>
              {{data['party-country1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reg number: </dt>
            <dd class="govuk-summary-list__value">{{data['party-org-number1']}} 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Web address: </dt>
            <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['party-web1']}}</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">VAT no: </dt>
            <dd class="govuk-summary-list__value">{{data['party-vat1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EORI: </dt>
            <dd class="govuk-summary-list__value">{{data['party-eori1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">D-U-N-S: </dt>
            <dd class="govuk-summary-list__value">{{data['party-duns1']}}</dd>
          </div>
        </dl> 
        <br>
        {% if data['merge-int-task'] == "complete" %}
          <div>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Interested party: 0 cases
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="" class="govuk-link--no-visited-state">{{data['case-ref1']}} - {{data['case-name1']}}</a> - Unverified</li>
                </ul>
              </div>
            </details>
          </div>
          <div>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Users: 1
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user1']}}</a> - {{data['party-email1']}}</li>
                </ul>
              </div>
            </details>
          </div> 
          {% else %}

          <div>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Interested party: 1 case
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="" class="govuk-link--no-visited-state">{{data['case-ref1']}} - {{data['case-name1']}}</a> ({{data['rep-role6']}}) <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified party" title="Verified party" width="32px"> 29 July 2022</li>
                </ul>
              </div>
            </details>
          </div>
          <div>
            <details class="case-details govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Users: 2
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list">
                  <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user1']}}</a> - {{data['party-email1']}}</li>
                  <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user11']}}</a> - {{data['party-email11']}}</li>
                </ul>
              </div>
            </details>
          </div> 
        {% endif %}

      </div>
    </div>
  </div>
  <!--List of duplicates-->
  <div class="govuk-grid-column-one-half">
    <!--Show header according to how many dups there are - only showing 1-->
    <h2 class="govuk-heading-s">Duplicate organisation
    </h2> 

    <!--Show content according to how many dups there are - only showing 1 -->
    {% if (data['merge-duplicates'] == "0") %}
      <div class="address-card address-card-duplicate">
        <div class="address-container">
          <p>No more duplicates to resolve.</p>
        </div>
      </div>
      {% else %}
      {% if (data['merge-duplicates'] == "1b") %}
        <div class="address-card address-card-duplicate">
          <div class="address-container">
            <h3 class="govuk-heading-m"><a href="" class="govuk-link--no-visited-state"><mark>{{data['dup-party2']}}</mark></a>  
              <p class="right-aligned-link govuk-heading-s">
                <a href="/caseworker/orgs/org-edit-int-dets?org-edit-type=merge-int&party-type=int-dup2" class="govuk-link--no-visited-state">Edit</a>
              </p> 
            </h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-1">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address:</dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-address2']}}<br>
                  {{data['dup-party-postcode2']}}<br>
                  <mark>{{data['dup-party-country2']}}</mark>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Reg number: </dt>
                <dd class="govuk-summary-list__value"><mark>{{data['dup-party-org-number2']}}</mark>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Web address: </dt>
                <dd class="govuk-summary-list__value"><a href="" target="_blank"><mark>{{data['dup-party-web2']}}</mark></a></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">VAT no: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-vat2']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">EORI: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-eori2']}}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">D-U-N-S: </dt>
                <dd class="govuk-summary-list__value">{{data['dup-party-duns2']}}</dd>
              </div>
            </dl> 
            <br>
            <div>
              <details class="case-details govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    <mark>Interested party: 1 case</mark>
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <li><a href="" class="govuk-link--no-visited-state">{{data['case-ref1']}} - {{data['case-name1']}}</a> ({{data['rep-role6']}}) <img src="/public/images/verfied-tick.png" class="verified-check" alt="Verified party" title="Verified party" width="32px"> 29 July 2022</li>
                  </ul>
                </div>
              </details>
            </div>
            <div>
              <details class="case-details govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Users: 1
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <li><a href="#" class="govuk-link--no-visited-state">{{data['party-user11']}}</a> - {{data['party-email11']}}</li>
                  </ul>
                </div>
              </details>
            </div> 
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Review merge details",
                href: "reginterest-merge-int-choose-table-radio"
              }) }} 
                
              {{ govukButton({
                text: "Not duplicate",
                classes: "govuk-button--secondary",
                href: "reginterest-merge-not-duplicate"
              }) }} 
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}

    <!--Show pagenation if there are 2 or more dups-->

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        href: "reginterest-tasks"
      }) }} 
        
      <a class="govuk-link" govuk-link--no-visited-state href="reginterest-tasks">Back</a>
    </div>
  </div>
</div>


{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


