
.govuk-header__logo {
  width: initial;
}

.govuk-header__content {
  width: initial;
}

.login-nav__list {
  @include govuk-clearfix;
  margin: 0;
  padding: 0;
  margin: 8px 0 8px 0;
  list-style-type: none;
  float: right;
}

.login-nav__list-item {
    position: relative;
    margin-bottom: govuk-spacing(1);
    padding-right: govuk-spacing(1);
    padding-left: 0;
    float: left;
  }

  #profile .profile, #account .account {
    text-decoration: none;
    font-weight: 600;
  }

  .login-nav__link {
    margin-right: govuk-spacing(1);
  }

  .login-nav__details {
    @include govuk-clearfix;
    @include govuk-font($size: 16);
    @include govuk-text-colour;
    margin: 0;
    padding-bottom: govuk-spacing(2);
    float: left;
  }

/*** Small viewports ***/
@media all and (max-width: 40.0625em) {
  .login-nav__details {
    float: none;
  }

  .login-nav__list {
    float: none;
  }

}
