
/* Account Navigation & Caseworker Navigation */
/* Account Navigation */
/* Account Navigation */
/* Account Navigation */



.govuk-header__logo {
  width: initial;
}

.govuk-header__content {
  width: initial;
}

.login-nav__list {
  @include govuk-clearfix;
  margin: 0;
  padding: 0;
  margin: 8px 0 8px 0;
  list-style-type: none;
  float: right;
}

.login-nav__list-item {
    position: relative;
    margin-bottom: govuk-spacing(1);
    padding-right: govuk-spacing(1);
    padding-left: 0;
    float: left;
  }

  #profile .profile, #account .account {
    text-decoration: none;
    font-weight: 600;
  }

  .login-nav__link {
    margin-right: govuk-spacing(1);
  }

  .login-nav__details {
    @include govuk-clearfix;
    @include govuk-font($size: 16);
    @include govuk-text-colour;
    margin: 0;
    padding-bottom: govuk-spacing(2);
    float: left;
  }

/*** Small viewports ***/
@media all and (max-width: 40.0625em) {
  .login-nav__details {
    float: none;
  }

  .login-nav__list {
    float: none;
  }

}

 /* Caseworker Navigation */
 /* Caseworker Navigation */
 /* Caseworker Navigation */

 #nav .govuk-link {
  color: #fff;
}

@media (min-width: 40.0625em) {
.app-navigation {
    display: block;
    float: left;
}

.app-navigation__list {
  position: relative;
  left: -15px;
}

.app-navigation__list-item--current {
  border-bottom: 4px solid #fff;
}

.app-navigation__list-item {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  box-sizing: border-box;
  height: 3.125rem;
  padding: 0 15px;
  float: left;
}

.app-navigation__link:not([hidden]) {
  display: inline;
}

  .app-navigation__list-item {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 2.63158;
  }

}

.app-navigation__link:after, .app-navigation__button:after {
content: "";
position: absolute;
top: 0;
right: 0; 
bottom: 0;
left: 0;
}

.app-navigation__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.app-navigation__list-item {
  position: relative;
}


.app-navigation__link, .app-navigation__button {
margin: 15px 0;
padding: 0;
font-weight: 700;
font-size: 19px;
font-size: 1.1875rem;
}

.app-navigation__link:after, .app-navigation__button:after {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.app-navigation__button:not(:hover):not(:active) {
text-decoration: none;
}
.app-navigation [hidden], .app-navigation[hidden] {
display: none;
}

/* Case Navigation */
/* Case Navigation */
/* Case Navigation */



@media (min-width: 40.0625em) {

.case-navigation {
    display: block;
}

.case-navigation__list {
  position: relative;
  left: -15px;
}

.case-navigation__list-item--current {
  border-bottom: 2px solid #1d70b8;
}

.case-navigation__list-item {
  padding: 0 15px;
  float: left;
}

.case-navigation__link:not([hidden]) {
  display: inline;
}

.case-navigation__list-item {
  line-height: 2.63158;
}
}


.case-navigation__link:after, .case-navigation__button:after {
content: "";
position: absolute;
top: 0;
right: 0; 
bottom: 0;
left: 0;
}

.case-navigation {
border-bottom: 1px solid #b1b4b6;
}

.case-navigation__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.case-navigation__list-item {
  position: relative;
}


.case-navigation__link, .case-navigation__button {
margin: 15px 0;
padding: 0;
}

.case-navigation__link:after, .case-navigation__button:after {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.case-navigation__button:not(:hover):not(:active) {
text-decoration: none;
}
.case-navigation [hidden], .case-navigation[hidden] {
display: none;
}

