
.govuk-header__logo {
  width: initial;
}

.govuk-header__content {
  width: initial;
}

/* Account Navigation */
/* Account Navigation */
/* Account Navigation */
/* Account Navigation */
.govuk-header__account {
  float: right;
}

.login-nav__list {
  @include govuk-clearfix;
  margin: 0;
  padding: 0;
  margin: 8px 0 8px 0;
  list-style-type: none;
  
}

.login-nav__list-item {
    position: relative;
    margin-bottom: govuk-spacing(1);
    padding-right: govuk-spacing(1);
    padding-left: 0;
    float: left;
  }

  #profile .profile, #account .account {
    text-decoration: none;
    font-weight: 600;
  }

  .login-nav__link {
    margin-right: govuk-spacing(1);
  }

/*** Small viewports ***/
@media all and (max-width: 48.0625em) {
  .govuk-header__account {
    float: none;
  }
}







 /*  Navigation */
 /*  Navigation */
 /*  Navigation */

 #nav .govuk-link {
  color: #fff;
}

.govuk-header__nav {
  float: left;
}



.app-navigation__list-item {
  display: list-item;
}

/* Main nav active states*/
.dash-nav .app-navigation__list-item--dash, .cases-nav .app-navigation__list-item--cases, .notices-nav .app-navigation__list-item--notices, .myorg-nav .app-navigation__list-item--myorgs {
  border-left: 2px solid #fff;
  padding-left: 10px;
}

/* Full screen size */
/* Full screen size */
@media (min-width: 40.0625em) {
  .app-navigation__list-item {
    margin: 0 15px 0px 0px;
    line-height: 2.63158;
    display: initial;
  }

  .govuk-list {
    margin-bottom: 5px
  }

  /* Main nav active states*/
  .dash-nav .app-navigation__list-item--dash, .cases-nav .app-navigation__list-item--cases, .notices-nav .app-navigation__list-item--notices, .myorg-nav .app-navigation__list-item--myorgs {
    border-bottom: 2px solid #fff;
    border-left: 0px;
    padding: 0px;
  }

 }

/*end */


/* Case Navigation */
/* Case Navigation */
/* Case Navigation */



@media (min-width: 40.0625em) {

.case-navigation {
    display: block;
}

.case-navigation__list {
  position: relative;
  left: -15px;
}

/* Case active nav */
.case-nav .case-navigation__list-item--case {
  border-bottom: 2px solid #1d70b8;
}

.party-nav .case-navigation__list-item--party {
  border-bottom: 2px solid #1d70b8;
}

.submission-nav .case-navigation__list-item--submission {
  border-bottom: 2px solid #1d70b8;
}

.submission-nav .case-navigation__list-item--file {
  border-bottom: 2px solid #1d70b8;
}

.workflow-nav .case-navigation__list-item--workflow {
  border-bottom: 2px solid #1d70b8;
}

.notice-nav .case-navigation__list-item--notice {
  border-bottom: 2px solid #1d70b8;
}

/*end*/


.case-navigation__list-item {
  margin: 0 15px;
  float: left;
}

.case-navigation__link:not([hidden]) {
  display: inline;
}

.case-navigation__list-item {
  line-height: 2.63158;
}
}


.case-navigation__link:after, .case-navigation__button:after {
content: "";
position: absolute;
top: 0;
right: 0; 
bottom: 0;
left: 0;
}

.case-navigation {
border-bottom: 1px solid #b1b4b6;
}

.case-navigation__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.case-navigation__list-item {
  position: relative;
}


.case-navigation__link, .case-navigation__button {
margin: 15px 0;
padding: 0;
}

.case-navigation__link:after, .case-navigation__button:after {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.case-navigation__button:not(:hover):not(:active) {
text-decoration: none;
}
.case-navigation [hidden], .case-navigation[hidden] {
display: none;
}

