/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

/* ul li.valid:before {
  margin-right: 15px;
  content: "✔";
}
*/

//* if you use FA5 *//
ul li.invalid {
  list-style-type: disc;
}

ul li.valid {
  list-style-type: "\2713";
}

.sr-only{
  border:0 none;
  clip:rect(0px,0px,0px,0px);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
  }  
  
  button {
  cursor: pointer;
  color: black;
  }
  
  :focus {
    outline:red 2px solid;
  }
  
  
  
  