/*** Small viewports ***/
//@media all and (max-width: 40.0625em) {

@include govuk-media-query($until: tablet) {

  /*  Turn table in blocks */
  tr,
  th,
  td {
  display: block;
  }

  th {
    @include govuk-visually-hidden();
  }

  tr:nth-child(even) {
    background-color: govuk-colour("light-grey");
  }

  tr:last-child {
    border-bottom: none;
  }

  tr:first-child {
    border-top: none;
  }

  tr {
    border-bottom: 1px govuk-colour("mid-grey") solid;
  }
      
  .govuk-visually-hidden--mobile {
    @include govuk-visually-hidden();
  } 

  /* border for all mobile tables*/
  .mobile-table-border {
    border: solid 1px govuk-colour("mid-grey");
  }

  .govuk-table__cell {
    border: none;
  }
}

/**** Normal size viewport ****/

/* This border only gets used if the table is NOT in tabs*/
@media (min-width: 40.0625em) {
  .desktop-table-border {
    border-top: solid 1px govuk-colour("mid-grey");
    border-left: solid 1px govuk-colour("mid-grey");
    border-right: solid 1px govuk-colour("mid-grey");
  }
}

.govuk-table__header {
  padding: 10px 10px 10px 0;
}

//Forcing cell aligment
td,
th {
  vertical-align: text-top;
}

.sortable1 tr.govuk-table__row th, .sortable1 tr.govuk-table__row td {
  padding-left: 8px;
  padding-right: 25px;
  vertical-align: middle;
}

.sortable1 th {
  background-color: govuk-colour("light-grey");
}

/*  Accessible table taken from w3c: https://w3c.github.io/aria-practices/examples/table/sortable-table.html */

table.sortable1 th {
  position: relative;
}

table.sortable1 th button {
  padding: 0px;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
  box-shadow: 0 0px;
  background: none;
  margin: 0px;
}

table.sortable1 .govuk-button:active, .govuk-button:hover, .govuk-button:focus {
  border-color: govuk-colour("light-grey");
  outline: govuk-colour("light-grey");
  box-shadow: none;
}

table.sortable1 th button span.indicator {
  position: absolute;
  margin-left: 3px;
}

table.sortable1 th[aria-sort="descending"] span.indicator::before {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-bottom: 7px solid govuk-colour("mid-grey");
}

table.sortable1 th[aria-sort="descending"] span.indicator::after {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-top: 7px solid govuk-colour("black");
}

table.sortable1 th[aria-sort="ascending"] span.indicator::before {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-bottom: 7px solid govuk-colour("black");
}

table.sortable1 th[aria-sort="ascending"] span.indicator::after {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-top: 7px solid govuk-colour("mid-grey");
}

table.sortable1 th .span-indicator::before {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-bottom: 7px solid govuk-colour("mid-grey");
}

table.sortable1 th .span-indicator::after {
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-top: 7px solid govuk-colour("mid-grey");
}

table.show-unsorted-icon th:not([aria-sort]) button span.indicator::after {
  content: "♢";
  color: currentcolor;
  font-size: 100%;
  position: relative;
  top: -3px;
  left: -4px;
}

/* Focus and hover styling */

table.sortable1 th:not([aria-sort]) button:focus span::before,
table.sortable1 th:not([aria-sort]) button:hover span::before {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-bottom: 7px solid govuk-colour("mid-grey");
}

table.sortable1 th:not([aria-sort]) button:focus span::after,
table.sortable1 th:not([aria-sort]) button:hover span::after {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-top: 7px solid govuk-colour("mid-grey");
}

/* For the hiddlen select for sorting on mobile or the visible one used in caseworker caes*/
.table-filter {
  display: inline-block;
}

.table-sort-select {
  float: left;
  padding-right: 20px;
}

#table-sort .govuk-button--secondary, #table-filter .govuk-button--secondary {
width: initial;
}

/* This is the select button in the caseworker table in reg interest */
table.sortable1 td button {
  padding: 0px;
  text-align: left;
  cursor: pointer;
  box-shadow: none;
  margin: 0px;
  color:  govuk-colour("blue");
  background:  none;
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

/*Caseworker case users table - putting border-topback*/ 
.case-user tr:first-child {
  border-top: 1px solid govuk-colour("mid-grey");
}

table.sortable1 .govuk-form-group {
  margin-bottom: 0px;
}