/*** Small viewports ***/
//@media all and (max-width: 40.0625em) {

@include govuk-media-query($until: tablet) {

      /*  Turn table in blocks */
      tr,
      th,
      td {
      display: block;
      }

      th {
        @include govuk-visually-hidden();
      }

      tr:nth-child(even) {
      background-color: govuk-colour("light-grey");
      border-top: 1px govuk-colour("mid-grey") solid;
      border-bottom: 1px govuk-colour("mid-grey") solid;

      }

      //Forcing the header column width on small screens to be full width
      .column-full {
        width: auto !important;
      }
      
      .govuk-visually-hidden--mobile {
        @include govuk-visually-hidden();
      } 

}

/**** Normal size viewport ****/

/* Changing table font size */
/*
@media (min-width: 40.0625em) {
  .govuk-table {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}
*/
table.table-border {
  border: solid 1px govuk-colour("mid-grey");
  border-collapse: unset;
}

thead.head-border {
  border: solid 1px govuk-colour("mid-grey");
}

//Forcing cell aligment

td,
th {
  vertical-align: text-top;
}

#table-header tr.govuk-table__row th, #table-header tr.govuk-table__row td {
  padding-left: 8px;
  padding-right: 25px;
}

#table-header th {
  background-color: govuk-colour("light-grey");
}

//Visibly hiding certain fields on desktop only
.govuk-visually-hidden--desktop {
    @include govuk-media-query($from: tablet) {
    @include govuk-visually-hidden();
  }
}

//Sortable table headers / buttons

.sortable-button[role="button"]:hover, .sortable-button[role="button"]:focus {
    background-color: govuk-colour("light-grey");
    cursor: default;
}

.sortable th i {
    padding-left: 2px;
}

table.sortable th .sort-indicator, table.sortable th .A-to-Z, table.sortable th .Z-to-A {
  margin: 1px 5px 0 5px;
  position: absolute;
  padding-top: 2px;
}

table.sortable th .A-to-Z:before {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-bottom: 7px solid govuk-colour("mid-grey");
}

table.sortable th .A-to-Z:after {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-top: 7px solid govuk-colour("black");
}

table.sortable th .Z-to-A:before {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-bottom: 7px solid govuk-colour("black");
}

table.sortable th .Z-to-A:after {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-top: 7px solid govuk-colour("mid-grey");
}

table.sortable th .sort-indicator:before {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-bottom: 7px solid govuk-colour("mid-grey");
}

table.sortable th .sort-indicator:after {
  content: "";
  display: block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  margin-top: 2px;
  border-top: 7px solid govuk-colour("mid-grey");
}


// In a parent/child list show the parent make a distinction between the last child and the next parent
.govuk-table__row.top-row .govuk-table__cell{
  border-top-style: solid;
  border-top-color: #808080;
  border-top-width: 1px;
  border-bottom: none;
}
// In a parent/child list don't show borders between services for the same organisation
.govuk-table__row.no-border .govuk-table__cell{
  // border-top:1px solid #fff;
  border-bottom: none;
}

.table-sort-select {
  float: left;
  padding-right: 20px;
}

#table-sort .govuk-button--secondary {
width: initial;
}

.field-grey {
  color: govuk-colour("mid-grey");
}
