{% extends "layout.html" %}

{% block pageTitle %}
  Upload a Letter of Authority – {{serviceName}}
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="invite-rep-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">3. Upload forms</span>
    <h1 class="govuk-heading-xl">
      Upload a Letter of Authority 
    </h1>
    <p>Download and complete your Letter of Authority. This is a letter confirming that your representative can act on your behalf.</p> 
    <p>Upload your completed letter of authority (max. file size 30MB). Your information is kept confidential.</p>
    <ul class="govuk-list">
      <li>
        {% if (data['loa-download'] == "yes" ) %}
        <a href="invite-upload-loa?loa-download=yes" class="govuk-link--no-visited-state"><img src="/public/images/doc.png" alt="File icon" width="24px"> letter_of_authority.docx (344KB) </a><span>&#10003;</span>
        {% else %}
        <a href="invite-upload-loa?loa-download=yes" class="govuk-link--no-visited-state"><img src="/public/images/doc.png" alt="File icon" width="24px"> letter_of_authority.docx (344KB) </a>
        {% endif %}
      </li>
    </ul>    

  </div>
</div>
<form action="invite-rep-tasks?invite-loa-task=complete" method="post" id="invite-upload-form">
  
    <!-- Add LOA -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Letter of Authority
      </h2>
    </div>
  </div>
    
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="row-colour">
        <div class="govuk-grid-column-full">      
          {% set id="5" %}
          {% include 'includes/drag_drop_upload.html' %}
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">    
    <div class="govuk-grid-column-full">
        <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}
            <a class="govuk-link govuk-link--no-visited-state" href="invite-rep-tasks">Back</a>
        </div>      
    </div>
  </div>

</form>

<script type="text/javascript">

  function showDoc2Panel() {
    var x = document.getElementById("doc-2");
    if (x.style.display === "none") {
      x.style.display = "block";
    } 
  }

  function hideDoc2Panel() {
    var x = document.getElementById("doc-2");
    if (x.style.display === "block") {
      x.style.display = "none";
    } 
  }

  function removeDoc() {
    var x = document.getElementById("complete-upload-1");
    var y = document.getElementById("waiting-upload-1");
    if (x.style.display === "") {
      x.style.display = "none";
      y.style.display = "block";
    } 
  }

</script>


{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        },
        {
        },
        {
        },
        {
          href: "reginterest-upload-flow.html",
          text: "Uploading flow"
        }
      ]
    }
  }) }}
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/drag_and_drop.js"></script>
{% endblock %}