{% extends "layout.html" %}

{% block pageTitle %}
  Check and submit – {{serviceName}}
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="invite-rep-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop"><span class="govuk-caption-xl">4.  Invite representative</span>
    <h1 class="govuk-heading-xl">
      Review your answers
    </h1>

    <h2 class="govuk-heading-m">Your invite</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case details
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['existing-cases-reps'] !="no" %}
            {{data ['case-ref'] or "AD2224"}} - {{data ['case-name'] or "Steel plate from Russia"}}
            {% else %}
            No case
          {% endif %}
        </dd>
      </div>
    </dl>
    {% if data['existing-cases-reps'] !="no" %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      {% else %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
    {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          My representative
        </dt>
        <dd class="govuk-summary-list__value">
            <!-- Show client name-->
            {{data['invite-rep-name'] or "Tiny Williams"}}<br>
            {{data['invite-rep-email'] or "t.w@email.com"}}<br><br>

            <!-- And show new or existing org name-->
            {% if data['invite-rep-what-org'] == "new-org" %}
              {% if (data['invite-uk-reg'] == "yes") %}
                Steel UK<br>
                  {% else %}
                    {{data['invite-org-name']}}<br>
              {% endif %}
                {% else %}
                  {{data['invite-rep-what-org'] or "Borris and Sons"}}<br>
            {% endif %}
          
            345, The Shard, London <br>
            EC2 3TF<br>
            United Kingdom
            <br><br>

            Company number: 595934925<br>
            VAT number: {{data['reginterest-vat'] or "205672212000"}}<br>
            EORI number: {{data['reginterest-eori'] or "GB205672212000"}}<br>
            DUNS number: {{data['reginterest-duns'] or "123456789"}}<br>
            <a href="">www.orglongnameurlthatisannoying.com</a>

        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="invite-rep-which-org">
            Change
            <span class="govuk-visually-hidden"> who is registering interest</span>
          </a>
        </dd>
        
      </div>
    
    </dl>
    {% if data['existing-cases-reps'] !="no" %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Letter of Authority 
          </dt>
          <dd class="govuk-summary-list__value">
            loa.docx
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="invite-upload-loa">
              Change
              <span class="govuk-visually-hidden"> Letter of Authority</span>
            </a>
          </dd>
        </div> 
      </dl>
    {% endif %}

    <h2 class="govuk-heading-m">Now send your invite</h2>
    <p>Check this information carefully. After it’s sent, you can only correct errors by contacting the Trade Remedy Authority.  </p>
    
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm and submit invite",
        href: "invite-rep-complete?invite-rep-task=Sent"
      }) }}    
      <a class="govuk-link govuk-link--no-visited-state" href="invite-rep-tasks">Back</a>

    </div>

    </form>


</div>

</div>
{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}