{% extends "layout.html" %}

{% block pageTitle %}
  Further details about your representative - {{serviceName}}
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">2. About your representative</span>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <form action="invite-rep-tasks?invite-which-org-task=complete" method="post" id="invite-your-org-dets-form">  

        
        {% call govukFieldset({
          legend: {
            text: "About your representative",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p>Provide as many details as you can to help us understand your representative's organisation.</p>

        {{ govukInput({
          label: {
            text: "Organisation website (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "Provide your representative's website if it has one."
          },
          classes: "govuk-input--width-20",
          id: "invite-web",
          name: "invite-web",
          type: "text",
          value: data['invite-web']  
        }) }}

        {{ govukInput({
          label: {
            text: "VAT registration number (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "The organisation may be registered for VAT (Value Added Tax) or an international equivalent."
          },
          classes: "govuk-input--width-20",
          id: "invite-vat",
          name: "invite-vat",
          type: "text",
          value: data['invite-vat']
        }) }}

        {{ govukInput({
          label: {
            text: "EORI number (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "The organisation will have an EORI (Economic Operators Registration and Identification) number if you have brought goods into the UK or EU."
          },
          classes: "govuk-input--width-20",
          id: "invite-eori",
          name: "invite-eori",
          type: "text",
          value: data['invite-eori']          
        }) }}

        {{ govukInput({
          label: {
            text: "DUNS number (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "The organisation may have a 9-digit DUNS (Data Universal Numbering System) number."
          },
          classes: "govuk-input--width-20",
          id: "invite-duns",
          name: "invite-duns",
          type: "text",
          value: data['invite-duns']  
        }) }}
  
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
          <a class="govuk-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
        </div>

        {% endcall %} 

      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}