{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Activate your account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Activate your account    
      </h1>
      {% if (data['rerequestEmail'] == "yes") %}

      {% set requestSent %}
          We have sent a new account activation email link to {{data['account-email']}}.
      {% endset %}

      {{ govukInsetText({
        text: requestSent
      }) }}

      {% endif %}

      <p>You need to verify your email address before you can take part in a trade remedy investigation.</p>
      <p>We sent an email to <strong>{{ data['account-email'] }}</strong> when your account was created.</p>
      <p>Open the email and click on the link to active your account.</p>
      <p>The link in the email is only valid for 24 hours, after that you will need to request a new activation email.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I have not received an email
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Please check the email address above to ensure that you entered it correctly. If it is incorrect you will need to create the account again using the correct email address. </p>
          <p>Check your email spam folders and add our email address to your contact list: trade.remedies.service@notifications.service.gov.uk.</p>
          <p>If the email still hasn't arrived <a href="account-activate-account?rerequestEmail=yes">click here to resend the email</a>.</p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            The link in my email has expired
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>The link in the email is only valid for 24 hours, after that you will need to request a new activation email.</p>
          <p><a href="account-activate-account?rerequestEmail=yes">Click here to resend the email</a>.</p>
        </div>
      </details>

      <form action="dashboard-new?rerequestEmail=no" method="post">  

      {{ govukButton({
        text: "Back to dashboard"
      }) }}
    </form>


      
        
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        },
        {
        },
        {
        },
        {
          href: "email/email-createaccount-activate-account",
          text: "For user testing: Go to email"
        }
      ]
    }
  }) }}
{% endblock %}