{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Verify your email address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
 {% include "includes/header-signedin.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Verify your email address     
      </h1>
      <p>You will need to verify your email address before you can take part in any trade remedy investigations.</p>
      <p>To verify <strong>{{ data['account-email'] }}</strong> we have sent you an email.</p>
      <p>Open the email and click on the link inside to finish creating your account.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I have not received an email
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Please check the message above to ensure that the email address you entered is correct and check your email spam folders.</p>
          <p>If the email still hasn't arrived then.....???????</p>
          <p><a href="createaccount-email">Re-enter email address</a></p>
        </div>
      </details>

      <form action="dashboard" method="post" id="createaccount-email-form">  

      {{ govukButton({
        text: "Continue to dashboard"
      }) }}
    </form>


      
        
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        },
        {
        },
        {
        },
        {
          href: "email/email-createaccount-verify-email",
          text: "For user testing: Go to email"
        }
      ]
    }
  }) }}
{% endblock %}