{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Your copmany – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="createaccount-your-org-dets" method="post" id="createaccount-your-org-uk-form">  

        
        {% call govukFieldset({
          legend: {
            text: "Your company",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p>This should be <strong>your direct employer</strong> and not someone you represent as a third party. You should have permission to create this account on behalf of your company.</p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="search-reg-org">
            Search for your company
          </label>
          <select class="govuk-select" id="search-reg-org" name="search-reg-org">
            <option value="opt0" class="selected"></option>
            <option value="opt1">ALUMINUM TRADE LTD (05850450) Suite 19 Old Anglo House, Mitton Street, Stourport-On-Severn, Worcestershire, DY13 9AQ</option>
            <option value="opt2">ALUMINUM ELECTRICS LIMITED (05337101) 20 Highbury Place, Bramley, Leeds, United Kingdom, LS13 4PW</option>
            <option value="opt3">ALUMINUM SQUIRREL LIMITED (SOUTH WALES) (08199303)16 Bracken Park, Bingley, United Kingdom, BD16 3LG</option>
            <option value="opt4">ALUMINIUM PROFILE SERVICES LIMITED (09849849) Clock Cottage, Corneybury Farm, Royston Road, Buntingford, Hertfordshire, England, SG9 9RS</option>
            <option value="opt5">ALUMINIUM INTEGRATED SOLUTIONS LIMITED (09424974) 61 Great North Road, Newcastle Upon Tyne, Tyne And Wear, United Kingdom, NE3 2DQ</option>
            <option value="opt6">ALUMINIUM STAR LIMITED (07751077) 21 Princess Mary House, Vincent Street Westminster, London, England, SW1P 4HL</option>
            <option value="opt7">ALUMINUMNOW LIMITED (07650927) 29 Belfont Walk, London, 29 Belfont Walk, London, Greater London, England, N7 0SN</option>
            <option value="opt8">ALUMINUMNOW MARITIME SOLUTIONS LTD. (08567105) 29 Belfont Walk 29 Belfont Walk, London, Greater London, England, N7 0SN<option>
            <option value="opt9">AEROSPACE ALUMINUM CO., LTD (08667181) Unit G25 Waterfront Studios, 1 Dock Road, London, United Kingdom, E16 1AH</option>
          </select>
        </div>

        {{ govukDetails({
          summaryText: "I can't find my company",
          html: ' <p class="govuk-body">You can search for your company on the <a href="https://www.gov.uk/get-information-about-a-company" target="_blank" rel="noopener noreferrer" class="govuk-link">Companies House register (opens in a new tab).</a></p>
          <p>If the company is not on the register you need to return to the previous page and select "No" your organisation is not registered in the UK.</p>'
        }) }}

   
        {{ govukButton({
          text: "Continue"
        }) }}
        {% endcall %} 

        </form>        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}