{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Your account has been activated – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your account has been activated
      </h1>

      <p>Your email address has been verified and your account is activated. You can now apply to take part in a trade remedy investigation.</p>
      <p>Click below to sign in to your Trade Remedies account.</p>
     
      <form action="dashboard" method="post" id="createaccount-verify-email-complete-form">              

        {{ govukButton({
          text: "Sign in"
        }) }}

      </form>
        


    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}