{% extends "layout.html" %}

{% block pageTitle %}
  Proto: 2 factor authentication – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    

      <form action="createaccount-uk-reg" method="post" id="create-account-2fa-form">   
        
        {% call govukFieldset({
          legend: {
            text: "Two-factor authentication",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p>When you sign in, we will send you a code as part of our two-factor authentication. This helps ensure that your account is kept safe and secure.</p>

   
        
        {% set mobileHtml %} 
        
          {{ govukInput({
            id: "2FA-mobile",
            name: "2FA-mobile",
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-!-width-one-third",
            label: {
              text: "Enter your mobile number"
            }
          }) }}

          {% include "includes/country-code-list.html" %}    

        {% endset -%}

        {% set emailText %}
          Email address: <strong>{{ data['account-email'] }}</strong>
        {% endset -%}

        {{ govukRadios({
          idPrefix: "2fa",
          name: "2fa",
          fieldset: {
            legend: {
              text: "How would you like to receive your code?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
          {
            value: "mobile",
            text: "Mobile",
            checked: false,
            conditional: {
              html: mobileHtml
            }
          },
          {
              value: "email",
              html: emailText
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        {% endcall %}
        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}