{% extends "layout.html" %}

{% block pageTitle %}
  Proto: 2 factor authentication – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

{{ govukBackLink({
  href: "createaccount-password",
  text: "Back"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    

      <form action="createaccount-your-org" method="post" id="forgotpass-newpass">   
        
        {% call govukFieldset({
          legend: {
            text: "Two-factor authentication",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p>When you sign in, we will send you a code as part of our two-factor authentication. This helps ensure that your account is kept safe and secure.</p>

   
        
        {% set mobileHtml %} 
        
          {{ govukInput({
            id: "2FA-mobile",
            name: "2FA-mobile",
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-!-width-one-third",
            label: {
              text: "Enter your mobile number"
            }
          }) }}

<!-- This uses includes/country-list to change title and font of country select -->
          {% set countryHtml %}
            Select where your mobile is registered
          {% endset -%}
          
          {% include "includes/country-list.html" %}    

        {% endset -%}

        {{ govukRadios({
          idPrefix: "contact",
          name: "contact",
          fieldset: {
            legend: {
              text: "How would you like to recieve your code?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "email",
              text: "Email address used for this account",
              checked: true
            },
            {
              value: "mobile",
              text: "Mobile",
              conditional: {
                html: mobileHtml
              }
            }
          ]
        }) }}
        





        {{ govukButton({
          text: "Continue"
        }) }}
        {% endcall %}
        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}