{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Your work contact details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% include "includes/beta-banner.html"%}

{{ govukBackLink({
  href: "createaccount-2fa",
  text: "Back"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="createaccount-your-org-dets" method="post" id="createaccount-email-form">  
        
        {% call govukFieldset({
          legend: {
            text: "Your work contact details",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p>Provide contact details for your day-to-day place of work so that we can contact you when needed.</p>

        {{ govukInput({
          label: {
            text: "Your organisations name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "If this differs from the parent org."
          },
          classes: "govuk-input--width-20",
          id: "createaccount-org-name",
          name: "createaccount-org-name",
          type: "text"
        }) }}

        {{ govukTextarea({
          label: {
            text: "Street address",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-20",
          id: "createaccount-office-street",
          name: "createaccount-office-street",
          type: "email"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode or Zipcode",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-5",
          id: "createaccount-office-zip",
          name: "createaccount-office-zip",
          type: "text"
        }) }}

  <!-- This uses includes/country-list to change title and font of country select -->
        {% set countryHtml %}
          Country
        {% endset -%}  

        {% set classHTML %}
          govuk-label--s
        {% endset -%} 

        {% include "includes/country-list.html" %}    

        {{ govukButton({
          text: "Continue"
        }) }}
        {% endcall %} 

        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}