{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Your organisation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

{{ govukBackLink({
  href: "createaccount-2fa",
  text: "Back"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/createaccount-contact-address-answer" method="post" id="createaccount-email-form">  
        
        {% call govukFieldset({
          legend: {
            text: "Your organisations details",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        {{ govukInput({
          label: {
            text: "Your organisations name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "This is your direct employer and not someone you represent as a third party."
          },
          classes: "govuk-input--width-20",
          id: "createaccount-org-name",
          name: "createaccount-org-name",
          type: "text"
        }) }}   

        {{ govukTextarea({
          label: {
            text: "Your organisations street address",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "This is typically where your main office is located or registered, and not necessarily the address of where you work day-to-day"
          },
          classes: "govuk-input--width-20",
          id: "createaccount-org-address",
          name: "createaccount-org-address",
          type: "email"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode or Zipcode",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-5",
          id: "createaccount-org-zip",
          name: "createaccount-org-zip",
          type: "text"
        }) }}

        {% include "includes/country-list.html" %} 

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "createaccount-contact-address",
          name: "createaccount-contact-address",
          fieldset: {
            legend: {
              text: "Is this address the office that you work in day-to-day?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "This is so that we can contact you if necessary."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
        {% endcall %} 

        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}