{% extends "layout.html" %}

{% block pageTitle %}
  Proto: 2 factor authentication – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    

      <form action="createaccount-uk-reg" method="post" id="create-account-2fa-form">   
        
        {% call govukFieldset({
          legend: {
            text: "Two-factor authentication",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p>When you sign in, we will send you a code as part of our two-factor authentication. This helps ensure that your account is kept safe and secure.</p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                How would you prefer to be contacted?
              </h1>
            </legend>
            <div id="contact-hint" class="govuk-hint">
              Select one option.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" checked data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Email
                </label>
              </div>
              <div class="govuk-radios__conditional" id="conditional-contact">
                <div class="govuk-form-group govuk-form-group--error">
                  <label class="govuk-label" for="contact-by-email">
                    Email address
                  </label>
                  <p id="contact-by-email-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Email address cannot be blank
                  </p>
                  <input class="govuk-input govuk-!-width-one-half govuk-input--error" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" aria-describedby="contact-by-email-error" autocomplete="email">
                </div>
        
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  Phone
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-phone">
                    Phone number
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
                </div>
        
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
                <label class="govuk-label govuk-radios__label" for="contact-3">
                  Text message
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-text">
                    Mobile phone number
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel">
                </div>
        
              </div>
            </div>
        
          </fieldset>
        </div>

   
        
        {% set mobileHtml %} 
        
          {{ govukInput({
            id: "2FA-mobile",
            name: "2FA-mobile",
            value: data['2FA-mobile'],
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-!-width-one-third",
            label: {
              text: "Enter your mobile number"
            }
          }) }}

          {% include "includes/country-code-list.html" %}    

        {% endset -%}

        {% set emailText %}
          Email address: <strong>{{ data['account-email'] }}</strong>
        {% endset -%}


        {{ govukRadios({
          name: "2fa-choice",
          fieldset: {
            legend: {
              text: "How would you like to receive your code?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
          {
            value: "mobile",
            text: "Mobile",
            id: "mobile",
            checked: checked("2fa-choice", "mobile"),
            conditional: {
              html: mobileHtml
            }
          },
          {
              value: "email",
              html: emailText,
              id: "email",
              checked: checked("2fa-choice", "email")
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        {% endcall %}
        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}