{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Enter your password – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

{{ govukBackLink({
  href: "createaccount-auth-email",
  text: "Back"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    

        <h2>Accessible show password and password hints</h2>

        <form>
        <p id="password-hints">Password: <span class="sr-only">Must be at least 8 characters. Must have at least 1 number. Must have at least 1 uppercase letter. Must have at least 1 special character.</span></p>
        <ul aria-hidden="true">
        <li>Must be at least 8 characters.</li>
        <li>Must have at least 1 number.</li>
        <li>Must have at least 1 uppercase letter.</li>
        <li>Must have at least 1 special character.</li>
        </ul>

        /* */
        <p aria-live="polite" id="password-text" class="sr-only">Password hidden.</p>

        <div class="input-with-button">
        <button id="show-password" type="button" role="switch" aria-pressed="false">
        <img class="show-icon" src="https://assets.codepen.io/400935/show-password.png" alt="Show password">
        </button>
        <label for="password">Password</label>
        <input aria-required="true" type="password" aria-describedby="password-hints" autocomplete="new-password">
        </div>
        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}