{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }}
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'dash-nav' %}

{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Welcome
      </h1>

      {% if (data['account-activated'] == "no")  %}

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Verify your email address
            </p>
            <p>Verify your email address to take part in a trade remedy investigation. <a href="account/account-activate-account">How to verify my email address</a>.
            </p>
          </div>
        </div>

      {% endif %}

      <p>This is your Trade Remedies Service (TRS) dashboard.</p>

      <p>View cases you are involved in on this page. Click on the case to see more information and a record of your interactions with the TRA.</p>

      <!-- Active cases interest -->
      <h2 class="govuk-heading-m">
        Active cases
      </h2>
      <p>You have no active cases</p>

      <!-- Reg interest -->
      {% if (data['reginterest-task'] == "complete")  %}
        <h2 class="govuk-heading-m">
          Registration of Interest
        </h2>
        <p><a href="reg-interest/reginterest-app-details">
          {% if (data['regnterest-due-date'] == "current") %}
            {{data ['case-ref1']}} - {{data ['case-name1']}}
            {% else %}
              {{data['case-ref']}} - {{data['case-name']}}
          {% endif %}</a><br>
          Submitted: <span id="date"></span><br>
          Status: {{data ['reginterest-app-status']}}
        </p>
      {% endif %}

      <!-- Applications in progress -->
      {% if (data['reginterest-task'] == "started")  %}

        <h2 class="govuk-heading-m">
          Draft applications
        </h2>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          Registration of Interest:
        </h3>
        <p><a href="reg-interest/reginterest-tasks">
          {% if (data['regnterest-due-date'] == "current") %}
            {{data ['case-ref1']}} - {{data ['case-name1']}}
            {% else %}
              {{data['case-ref']}} - {{data['case-name']}}
          {% endif %}</a><br>
          Draft saved: <span id="date"></span>
        </p>
      {% endif %}

      <script>
        const d = new Date();
        document.getElementById("date").innerHTML = d.toDateString();
      </script>

      
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Quick links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="reg-interest/reginterest-tasks">Register interest in a case</a> 
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">Apply for an investigation</a> 
            </li>
            {% if data['invite-user-permissions'] != "Regular user" %}
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="manage-org/manage-org#manage-team">Manage team</a>
              </li>  
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="manage-org/invite-user-type">Invite user to join this account</a>
              </li>  
            {% endif %}
          </ul>
        </nav>
      </aside>
      <br>
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Read the guidance documents
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link--no-visited-state" href="https://www.gov.uk/government/organisations/trade-remedies-authority" target="_blank">Trade Remedies Authority news (opens in a new window or tab)</a> 
            </li>
            <li>
              <a class="govuk-link--no-visited-state" href="https://www.gov.uk/government/organisations/trade-remedies-authority/about" target="_blank">Who is the Trade Remedies Authority (opens in a new window or tab)</a> 
            </li>
            <li>
              <a class="govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process" target="_blank">Trade remedies investigations process (opens in a new window or tab)</a>
            </li>      
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
