{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/header-signedin.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Welcome
      </h1>

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Activate your account
          </p>
          <p>You need to verify your email address before you can take part in a trade remedy investigation. <a href="account-activate-account">Learn how to activate your account</a>
          </p>
        </div>
      </div>

      <p>This is your dashboard to interact with the Trade Remedies Authority (TRA) on trade remedies investigations.</p>

      <p>Cases you are involved in will display on your dashboard below. Clicking on a case will allow you to see more information relating to the case as well as your interactions with TRA. </p>

      <h2 class="govuk-heading-m">
        Active cases
      </h2>
      <p>You have no active cases</p>
      
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Quick links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="link" href="cases/cases-all">My cases</a> 
            </li>
            <li>
              <a class="link" href="account-activate-account">Register interest in a case</a> 
            </li>
            <li>
              <a class="link" href="account-activate-account">Apply for an investigation</a> 
            </li>
            <li>
              <a class="link" href="account-activate-account">Manage your team</a>
            </li>  
            <li>
              <a class="link" href="account-activate-account">Invite a 3rd party representative</a>
            </li>    
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
