{% extends "layout.html" %}

{% block pageTitle %}
  Feedback complete - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Feedback complete"
      }) }}

      <p class="govuk-body">Thank you for providing your invaluable feedback on our service.</p>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue to dashboard",
          href: "dashboard"
        }) }}    
      </div>

  </div>
</div>

{% endblock %}
{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}