{% extends "layout.html" %}

{% block pageTitle %}
  Give feedback - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="feedback-complete" method="post" id="feedback-form">

        <h1 class="govuk-heading-l">
          Give feedback on the Trade Remedies Service      
        </h1>

        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><h2 class="govuk-fieldset__heading">
                Overall, how did you feel about the Trade Remedies Service you used today?
              </h2>
            </legend>
             <div class="govuk-radios star-rating3__stars" data-module="govuk-radios">
                <input class="star-rating3__input" type="radio" name="rating" value="1" id="rating-1" {{ checked("rating", "1") }} />
                <label class="star-rating3__label" for="rating-1" aria-label="Very dissatisfied"><span class="govuk-label text">Very dissatisfied</span></label></a>
                <input class="star-rating3__input" type="radio" name="rating" value="2" id="rating-2" {{ checked("rating", "2") }} />
                <label class="star-rating3__label" for="rating-2" aria-label="Dissatisfied"><span class="govuk-label text">Dissatisfied</span></label>
                <input class="star-rating3__input" type="radio" name="rating" value="3" id="rating-3" {{ checked("rating", "3") }} />
                <label class="star-rating3__label" for="rating-3" aria-label="Neither satisified or dissatisfied"><span class="govuk-label text">Neither satisified or dissatisfied</span></label>
                <input class="star-rating3__input" type="radio" name="rating" value="4" id="rating-4" {{ checked("rating", "4") }} />
                <label class="star-rating3__label" for="rating-4" aria-label="Satisfied"><span class="govuk-label text">Satisfied</span></label>
                <input class="star-rating3__input" type="radio" name="rating" value="5" id="rating-5" {{ checked("rating", "5") }} />
                <label class="star-rating3__label" for="rating-5" aria-label="Very satisfied"><span class="govuk-label text">Very satisfied</span></label>
                <div class="star-rating3__focus"></div>
              </div>
          </fieldset>
        </div>

        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          label: {
            text: "How could we improve this service (optional)?",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        {% call govukFieldset({
          legend: {
            text: "If you would like to take part in future feedback sessions please provide your contact details below (optional).",
            classes: "govuk-fieldset__legend--s",
            isPageHeading: false
          }
        }) %}

          {{ govukInput({
            label: {
              text: 'Name'
            },
            id: "name",
            name: "name",
            classes: "govuk-!-width-three-quarters"
          }) }}

          {{ govukInput({
            label: {
              text: 'Email address'
            },
            id: "email",
            name: "email",
            autocomplete: "email",
            classes: "govuk-!-width-three-quarters"
          }) }}

        {% endcall %}

        {{ govukButton({
          text: "Submit"
        }) }}

    </form>
  </div>
</div>

{% endblock %}
{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}