{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Registration of Interest completed application – GOV.UK Trade Remedies Prototype
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Regitration of Interest
    </h1>

    <h2 class="govuk-heading-m">Case</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case details
        </dt>
        <dd class="govuk-summary-list__value">
          {{data ['case-ref']}} - {{data ['case-name']}} <br>
          {{data ['case-type']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submitted
        </dt>
        <dd class="govuk-summary-list__value">
          23rd May 2022
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Who is registering interest</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Registering for
        </dt>
        <dd class="govuk-summary-list__value">
          {% if (data['reginterest-what-org'] == "my-org") %}
          My employer:<br><br>
            {% else %}
            My client:<br><br>
          {% endif %}

          {% if (data['reginterest-what-org'] == "my-org") %}
            Cheesy chips Ltd<br>
              {% else %}
                {% if (data['reginterest-what-org'] == "existing-org") %}
                  {{ data['reginterest-existing-org'] }}<br>
                    {% else %}
                      {% if (data['reginterest-what-org'] == "new-org") and (data['reginterest-uk-reg'] == "yes") %}
                        {{ data[''] }}ACompany<br>
                          {% else %}
                            {{ data['reginterest-org-name'] }}<br>
                      {% endif %}
                {% endif %}
          {% endif %}
          
          
          Company number: 595934925<br>
          Address<br>
          Postcode/ zip<br>
          Country<br>
          <br>
          {% if data['reginterest-what-org'] == "new-org" %}
            VAT number: 68593069894<br>
            DUNS number: 123456789<br>
            www.orglongnameurlthatisannoying.com
          {% endif %}

        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="reginterest-which-org">
            Change
            <span class="govuk-visually-hidden"> who is registering interest</span>
          </a>
        </dd>
        
      </div>
    
    </dl>
    <h2 class="govuk-heading-m">Registration documentation</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      {% if (data['reginterest-what-org'] != "my-org") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Uploaded Letter of Authority
          </dt>
          <dd class="govuk-summary-list__value">
            loa.docx
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="reginterest-upload-loa">
              Change
              <span class="govuk-visually-hidden"> uploaded Letter of Authority</span>
            </a>
          </dd>
        </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Uploaded Pre-sampling documentation
        </dt>
        <dd class="govuk-summary-list__value">
          confidentialdocument1.docx<br>
          unconfidentialdocument1.docx
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="reginterest-upload-pre">
            Change
            <span class="govuk-visually-hidden"> uploaded Pre-sampling documents</span>
          </a>
        </dd>
      </div>   
    </dl>
</div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Read the guidance documents</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="link" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process" target="_blank">Trade remedies investigations process (opens in a new window or tab)</a>
          </li>  
          
          {% if data['case-ref'] != null %}
          <li>
            <br>
            <strong>Email the case team</strong>        
            <a class="link" href="">{{data['case-ref']}}@traderemedies.gov.uk</a>
          </li>     
          {% endif %}    
        </ul>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}