{% extends "layout.html" %}

{% block pageTitle %}
You have a new password  - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You have a new password 
      </h1>

      <p>You have successfully reset your password. </p>
        <p><a href="signin">Sign in</a> to your Trade Remedies Service account with your new password.</p>
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}