{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/header-public-signedout.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Trade Remedies
      </h1>

      <p>The UK’s Trade Remedies Authority (TRA) investigates whether new trade remedies are needed to prevent injury to UK industries caused by unfair trading practices and unforeseen surges in imports. </p>

      <h2 class="govuk-heading-m">
        Active cases
      </h2>
      <p>We publish all active trade remedy cases so that anyone can view and track existing case progress. </p>
      <p><a class="link" href="public-cases">View active cases on the public file </a></p>
      <h2 class="govuk-heading-m">
        Trade Remedies Service
      </h2>
      <p>You can use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Request a new trade remedy investigation</li>
        <li>Participate in an existing trade remedy case</li>
        <li>Add work colleagues to a case</li>
        <li>Invite others to represent you on a case</li>
      </ul>
      <p>To create an account it take around 10 minutes. Have ready details that will help us confirm your organisation, such as address and company number.</p>

<!-- Using two links on Start page as per most recent GDS guidance: https://design-system.service.gov.uk/patterns/start-using-a-service/ -->        

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Sign in",
          href: "signin",
          isStartButton: true
        }) }}
        <a class="govuk-link" href="create-account/createaccount-your-account">Create an account</a>
      </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          More information
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="link" href="https://www.gov.uk/government/organisations/trade-remedies-authority" target="_blank">Trade Remedies Authority news (opens in a new window or tab)</a> 
            </li>
            <li>
              <a class="link" href="https://www.gov.uk/government/organisations/trade-remedies-authority/about" target="_blank">Who is the Trade Remedies Authority (opens in a new window or tab)</a> 
            </li>
            <li>
              <a class="link" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process" target="_blank">Trade remedies investigations process (opens in a new window or tab)</a>
            </li>      
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
