{% extends "layout.html" %}

{% block pageTitle %}
  Start page template - {{serviceName}}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'dash-nav' %}

{% block header %}
  {% include "includes/header-public-signedout.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-bluepanel govuk-bluepanel--confirmation">
        <span class="govuk-caption-l inverse-header">Trade Remedies Authority</span> 
        <h1 class="govuk-heading-l inverse-header">
          Trade Remedies Service
        </h1>
      </div>
      <p>The UK Trade Remedies Authority (TRA) investigates if trade remedies are needed to prevent injury to UK industries caused by unfair trading practices or unforeseen import surges.</p><br>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h2 class="govuk-heading-m">
        Active cases
      </h2>
      <p>We publish active cases so everyone can keep track of ongoing cases. </p>
      <p><a class="link" href="cases/cases-all">View all investigations on the public file </a></p>
      <h2 class="govuk-heading-m">
        Using the Trade Remedies Service
      </h2>
      <p>You can use the Trade Remedies Service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>request a new trade investigation</li>
        <li>ask to participate in an open trade remedy case</li>
        <li>add a colleague to an open case</li>
        <li>invite another party to represent you in an open case</li>
      </ul>
      <p>You will need to create an account to use the service. Have your Companies House registration number and address ready before you start. It takes about 10 minutes.</p>

      <!-- Using two links on Start page as per most recent GDS guidance: https://design-system.service.gov.uk/patterns/start-using-a-service/ -->        

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Sign in",
          href: "signin",
          isStartButton: true
        }) }}
        <a class="govuk-link" href="create-account/createaccount-your-account">Create an account</a>
      </div>

    </div>

    

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          More information
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="link" href="https://www.gov.uk/government/organisations/trade-remedies-authority" target="_blank">Trade Remedies Authority news (opens in a new window or tab)</a> 
            </li>
            <li>
              <a class="link" href="https://www.gov.uk/government/organisations/trade-remedies-authority/about" target="_blank">Who is the Trade Remedies Authority (opens in a new window or tab)</a> 
            </li>
            <li>
              <a class="link" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process" target="_blank">Trade remedies investigations process (opens in a new window or tab)</a>
            </li>      
          </ul>
        </nav>
      </aside>
    </div>

  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
