{% extends "layout.html" %}

{% block pageTitle %}
  Is your representative a UK-registered company?  – {{ serviceName }}
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">2. About your representative</span>

      <form action="/invite-uk-reg-route" method="post" id="invite-uk-reg-form"> 
               
        {{ govukRadios({
          classes: "govuk-radioss",
          idPrefix: "invite-uk-reg",
          name: "invite-uk-reg",
          fieldset: {
            legend: {
              text: "Is your representative a UK-registered company?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("invite-uk-reg", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("invite-uk-reg", "no")
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "How do I find out if my representative is registered in the UK?",
          html: ' <p class="govuk-body">Search the <a href="https://www.gov.uk/get-information-about-a-company" target="_blank" rel="noopener noreferrer" class="govuk-link">Companies House Register (opens in a new tab)</a>.</p>
          <p>If you cannot find the company on the register, select ‘No’.  This means your representative’s company is not registered in the UK.</p>'
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
           
        </div>

        </form>

         <!-- Test data 
        <div class="govuk-inset-text">
          Test data: <br>
          Org type : {{ data['reginterest-what-org']}}
          <br>
        </div>
        -->
        
    </div>

  </div>
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}