{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Dashboard – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width dash-nav' %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Welcome
      </h1>

      <p>This is your dashboard for trade remedies you are involved in.</p>

      <table class="govuk-table sortable table-border" id="table-header" role="grid">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">A table listing all of your open Trade Remedies cases</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Type <i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" aria-sort="descending" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>No. <i class="A-to-Z"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Case <i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Applicant<i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="date">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Initiated <i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Next task<i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Status<i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Alerts<i class="sort-indicator"></i>
            </th>
          </tr>
        </thead>
  
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Type: </span><span title="{{data['case-type1']}}">{{data['case-typeabr1']}}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">No.: </span><a href="cases/case" class="govuk-link--no-visited-state">{{data['case-ref1']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="cases/case" class="govuk-link--no-visited-state">{{data['case-name1']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Applicant: </span><a href="#" class="govuk-link--no-visited-state">{{data['applicant1']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Initiated: </span>{{data['initiated1']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Next task: </span>{{data['next-task1']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Status: </span>{{data['status1']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Alerts: </span>8
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Type: </span><span title="{{data['case-type1']}}">{{data['case-typeabr4']}}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">No.: </span><a href="cases/case" class="govuk-link--no-visited-state">{{data['case-ref4']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="cases/case" class="govuk-link--no-visited-state">{{data['case-name4']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Applicant: </span><a href="#" class="govuk-link--no-visited-state">{{data['applicant4']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Initiated: </span>{{data['initiated4']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Next task: </span>{{data['next-task4']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Status: </span>{{data['status4']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Alerts: </span>0
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Type: </span><span title="{{data['case-type1']}}">{{data['case-typeabr6']}}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">No.: </span><a href="cases/case" class="govuk-link--no-visited-state">{{data['case-ref6']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="cases/case" class="govuk-link--no-visited-state">{{data['case-name6']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Applicant: </span><a href="#" class="govuk-link--no-visited-state">{{data['applicant6']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Initiated: </span>{{data['initiated6']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Next task: </span>{{data['next-task6']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Status: </span>{{data['status6']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Alerts: </span>0
          </td>
        </tr>
      </table>   

     

  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
