{% extends "layout.html" %}

{% block pageTitle %}
  Who is registering? – {{serviceName}}
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="/public-site/create-account/createaccount-your-account-invite" method="post" id="invite-rep-who-reg-form">
      <p><p>

      {{ govukRadios({
        idPrefix: "invite-rep-who-reg",
        name: "invite-rep-who-reg",
        fieldset: {
          legend: {
            html: "Who is registering?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Email recipient",
            text: "I am the email recipient: {bob}",
            checked: checked("invite-rep-who-reg", "Steel UK")
          },
          {
            value: "Colleague",
            text: "I work for {Bob's org}",
            checked: checked("invite-rep-who-reg", "Alummium Electrics Limited")
          },
          {
            value: "Representative",
            text: "I am a representative of {Bob's org}",
            checked: checked("invite-rep-who-reg", "Alummium Squirrel Limited")
          }
        ]
      }) }} 

      {{ govukDetails({
        summaryText: "I work for a different organisation",
        html:'<p>If you work for a different organisation then you need to ask the person that orginally sent the invite to send you an invitation directly. </p><p>If there is a mistake in the name of your organisation you will need to ask the person that originally sent the invite to create a new one with the correct details.</p>'
      }) }}
    
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
        <a class="govuk-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
      </div>

    </form>
  </div>
</div>

{% endblock %}

{% block footer %}  
  {% include "includes/footer.html" %}
{% endblock %}


