{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Further details about the organisation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
 {% include "includes/public-header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">2.  Who is registering interest</span>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <form action="reginterest-tasks?reginterest-what-org=new" method="post" id="reginterest-your-org-dets-form">  

        
        {% call govukFieldset({
          legend: {
            text: "Further details about the organisation",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p>Please provide as much of the following information as you can to help us verify the orgnaisation.</p>

        {{ govukInput({
          label: {
            text: "Organisation website (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "For example mycompany.com"
          },
          classes: "govuk-input--width-20",
          id: "reginterest-web",
          name: "reginterest-web",
          type: "text",
          value: data['reginterest-web']  
        }) }}

        {{ govukInput({
          label: {
            text: "VAT registration number (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "The organisation will have a VAT number if registered for Value Added Tax"
          },
          classes: "govuk-input--width-20",
          id: "reginterest-vat",
          name: "reginterest-vat",
          type: "text",
          value: data['reginterest-vat']
        }) }}

        {{ govukInput({
          label: {
            text: "EORI number (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "The organisation will have an EORI number if they have brought goods into the UK or EU"
          },
          classes: "govuk-input--width-20",
          id: "reginterest-eori",
          name: "reginterest-eori",
          type: "text",
          value: data['reginterest-eori']          
        }) }}

        {{ govukInput({
          label: {
            text: "D‑U‑N‑S Number (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "The organisation might have a 9 digit Data Universal Numbering System identifier"
          },
          classes: "govuk-input--width-20",
          id: "reginterest-duns",
          name: "reginterest-duns",
          type: "text",
          value: data['reginterest-duns']  
        }) }}
  
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
          <a class="govuk-link" href="javascript: history.back()">Back</a>
        </div>

        {% endcall %} 

      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}