{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Upload registration documentation – GOV.UK Trade Remedies Prototype
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">3.  Registration documentation</span>
    <h1 class="govuk-heading-xl">
      Upload documentation
    </h1>
     
    <p>Please upload the following documents. Maximum file size is 30MB</p>

    <!-- Add LOA -->
    {% if (data['loa-download'] == "yes")  %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Letter of Authority
        </h2>
      </div>
    </div>
    
    <div class="govuk-grid-row">    
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Private version
            </h3>
            <p><img src="/public/images/download.png"></p>
            <p><input type="file" name="public-file" id="public-file" class="inputfile" />
            <label for="public-file" class="govuk-link">Choose a file</label> or drag it here</p>
          </div>
        </div>
      </div>
    </div><br><br>
      
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Registration Document
        </h2>
      </div>
    </div>
    
    <div class="govuk-grid-row">    
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Private version
            </h3>
            <p><img src="/public/images/download.png"></p>
            <p><input type="file" name="public-file" id="public-file" class="inputfile" />
            <label for="public-file" class="govuk-link">Choose a file</label> or drag it here</p>
          </div>
        </div>
      </div>
    
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public version
            </h3>
            <p><img src="/public/images/download.png"></p>
            <p><input type="file" name="public-file" id="public-file" class="inputfile" />
            <label for="public-file" class="govuk-link">Choose a file</label> or drag it here</p>
          </div>
        </div>
      </div>
    </div><br><br>


      <!-- Add another document panel -->

      {% if (data['add-doc-button'] == "yes")  %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">
            Registration Document 2
          </h2>
          
          <a href="reginterest-upload?add-doc-button=no" alt="Delete panel" title="Delete panel" class="app-task-list__tag remove-doc-link">
            <img src="/public/images/cancel-icon.png" width="32px">
          <span class="govuk-visually-hidden">Delete panel</span>
          </a>
        </div>
      </div>
      
      <div class="govuk-grid-row">    
        <div class="govuk-grid-column-one-half">
          <div class="upload-card">
            <div class="upload-container">
              <br>
              <h3 class="govuk-heading-s">
                Private version
              </h3>
              <p><img src="/public/images/download.png"></p>
              <p><input type="file" name="public-file" id="public-file" class="inputfile" />
              <label for="public-file" class="govuk-link">Choose a file</label> or drag it here</p>
            </div>
          </div>
        </div>
      
        <div class="govuk-grid-column-one-half">
          <div class="upload-card">
            <div class="upload-container">
              <br>
              <h3 class="govuk-heading-s">
                Public version
              </h3>
              <p><img src="/public/images/download.png"></p>
              <p><input type="file" name="public-file" id="public-file" class="inputfile" />
              <label for="public-file" class="govuk-link">Choose a file</label> or drag it here</p>
            </div>
          </div>
        </div>
      </div><br><br>
      {% endif %} 
    </ol>

    <!-- Add another document button -->
   
    <div id="add-doc2-button">
      <button class="govuk-button govuk-button--secondary govuk-!-margin-top-2" id="add-doc-button" data-module="govuk-button" onclick="showDoc2Panel()">
      Add another document
      </button>
    </div>

  <script type="text/javascript">
      function showDoc2Panel() {
      location.href = "reginterest-upload?add-doc-button=yes";
    }
  </script>
        

    <form action="reginterest-tasks?upload-complete=yes" method="post" id="upload-form">

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link" href="reginterest-tasks">Back</a>
      </div>

    </form>

    <!-- Test data 
    <div class="govuk-inset-text">
      Test data: <br>
      Upload started:{{ data['upload-started']}}<br>
      Type of org: {{data['reginterest-what-org']}}<br>
      Upload1 complete: {{data['upload1-complete']}}<br>
      Upload1 started: {{data['upload1-started']}}
    </div>

    -->
    

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Read the guidance documents</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="link" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#how-we-handle-confidential-information" target="_blank">Creating confidential and non-confidential documents (opens in a new window or tab)</a>
          </li>  
          <li>
            <a class="link" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#about-our-questionnaires" target="_blank">About our questionnaires (opens in a new window or tab)</a>
          </li> 
          <li>
            <br>
            <strong>Email the case team</strong>        
            <a class="link" href="">{{data['case-ref']}}@traderemedies.gov.uk</a>
          </li>          
        </ul>
      </nav>
    </aside>

  </div>

</div>


{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}