{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Who is registering interest – GOV.UK Trade Remedies Prototype
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">2.  Who is registering interest</span>

    <form action="/reginterest-which-org-route" method="post" id="reginterest-which-org-form">
      
      {% set myorgHTML %}
      My organisation: {{data['createaccount-org-name']}}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "reginterest-what-org",
        name: "reginterest-what-org",
        fieldset: {
          legend: {
            text: "Which organisation is registering interest in this case?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "my-org",
            html: myorgHTML,
            checked: checked("reginterest-what-org", "my-org")
          },
          {
            value: "existing-org",
            text: "Existing: An organisation I have represented before using the Trade Remedies system",
            checked: checked("reginterest-what-org", "existing-org")

          },
          {
            value: "new-org",
            text: "New: An organisation I have not represented before using the Trade Remedies system",
            checked: checked("reginterest-what-org", "new-org")
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link" href="reginterest-tasks">Back</a>
      </div>

    </form>
      <!-- Test data -->
          <!--<div class="govuk-inset-text">
            Test data: <br>
            Which org started?: {{ data['which-org-started']}}<br> 
            Type of reg org: {{ data['reginterest-what-org']}}
          </div> 
        -->
  </div>

  

</div>


{% endblock %}


{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}