{% extends "layout.html" %}

{% block pageTitle %}
  Organisation details – {{serviceName}}
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">2. About you</span>

    <form action="reginterest-contact" method="post" id="reginterest-existing-org-form">

      {{ govukRadios({
        idPrefix: "reginterest-existing-org",
        name: "reginterest-existing-org",
        fieldset: {
          legend: {
            html: "Who are you representing?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Steel UK",
            text: "Steel UK",
            checked: checked("reginterest-existing-org", "Steel UK")
          },
          {
            value: "Alummium Electrics Limited",
            text: "Alummium Electrics Limited",
            checked: checked("reginterest-existing-org", "Alummium Electrics Limited")
          },
          {
            value: "Alummium Squirrel Limited",
            text: "Alummium Squirrel Limited",
            checked: checked("reginterest-existing-org", "Alummium Squirrel Limited")
          },
          {
            value: "New Client",
            text: "New Client",
            checked: checked("reginterest-existing-org", "New Client")
          }
        ]
      }) }} 

    
      

      {{ govukDetails({
        summaryText: "The organisation is not listed",
        html: ' <p class="govuk-body">This is a list of organisations you have previously represented using the Trade Remedies Service.</p>
        <p>If you’re representing an organisation for the first time, go back and change your answer.</p>'
      }) }}
    
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
        <a class="govuk-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block footer %}  
  {% include "includes/footer.html" %}
{% endblock %}


