{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Upload registration documentation – GOV.UK Trade Remedies Prototype
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">3.  Registration documentation</span>
    <h1 class="govuk-heading-xl">
      Upload documentation
    </h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">
          Upload flow via "Choose file"
        </h2>
      </div>
    </div>
  
    <div class="govuk-grid-row">    
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <p><img src="/public/images/download.png"></p>
            <p><input type="file" name="public-file" id="public-file" class="inputfile" />
            <label for="public-file" class="govuk-link">Choose a file</label> or drag it here</p>
          </div>
        </div>
      </div>
  
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <label class="govuk-label" for="progress-1">
              Scanning file: mydocumentation.docx
            </label>
            <progress id="progress-scan"></progress>
            <p><a href="#" class="govuk-link--no-visited-state" id="cancel-upload">
            Cancel <span class="govuk-visually-hidden">file</span></a></p>
          </div>
        </div>
      </div>
    </div>
    
    <br>
    <br>
  
    <div class="govuk-grid-row">    
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <label class="govuk-label" for="progress-10">
              Uploading 10%: mydocumentation.docx
            </label>
            <progress id="progress-10" max="100" value="10">
            </progress>
            <p><a href="#" class="govuk-link--no-visited-state" id="case-selected-status">
            Cancel <span class="govuk-visually-hidden">file</span></a></p>
          </div>
        </div>
      </div>
  
  
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <label class="govuk-label" for="progress-80">
              Uploading 80%: mydocumentation.docx
            </label>
            <progress id="progress-80" max="100" value="80">
            </progress>
            <p><a href="#" class="govuk-link--no-visited-state" id="case-selected-status">
            Cancel <span class="govuk-visually-hidden">file</span></a></p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  
    <div class="govuk-grid-row">  
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <label class="govuk-label" for="progress-complete">
              Upload complete: mydocumentation.docx
            </label>
            <p><a href="#" class="govuk-link--no-visited-state" id="case-selected-status">
              Remove <span class="govuk-visually-hidden">file</span></a></p>
          </div>
        </div>
      </div>
    </div>
  
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">
          Upload flow via Drag and drop
        </h2>
      </div>
    </div>
  
    <div class="govuk-grid-row">    
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <p><img src="/public/images/download.png"></p>
            <p><input type="file" name="public-file" id="public-file" class="inputfile" />
            <label for="public-file" class="govuk-link">Choose a file</label> or drag it here</p>
          </div>
        </div>
      </div>
  
      <div class="govuk-grid-column-one-half">
        <div class="upload-card-hover">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <p><img src="/public/images/download.png"></p>
            <p><input type="file" name="public-file" id="public-file" class="inputfile" />
            <label for="public-file" class="govuk-link">Choose a file</label> or drag it here</p>
          </div>
        </div>
      </div>
    </div>
  
    <br>
    <br>
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <label class="govuk-label" for="progress-1">
              Scanning file: mydocumentation.docx
            </label>
            <progress id="progress-scan"></progress>
            <p><a href="#" class="govuk-link--no-visited-state" id="cancel-upload">
            Cancel <span class="govuk-visually-hidden">file</span></a></p>
          </div>
        </div>
      </div>
  
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <label class="govuk-label" for="progress-10">
              Uploading 10%: mydocumentation.docx
            </label>
            <progress id="progress-10" max="100" value="10"></progress>
            <p><a href="#" class="govuk-link--no-visited-state" id="case-selected-status">
            Cancel <span class="govuk-visually-hidden">file</span></a></p>
          </div>
        </div>
      </div>
    </div>
  
    <br>
    <br>
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <label class="govuk-label" for="progress-80">
              Uploading 80%: mydocumentation.docx
            </label>
            <progress id="progress-80" max="100" value="80"></progress>
            <p><a href="#" class="govuk-link--no-visited-state" id="case-selected-status">
            Cancel <span class="govuk-visually-hidden">file</span></a></p>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <label class="govuk-label" for="progress-complete">
              Upload complete: mydocumentation.docx
            </label>
            <p><a href="#" class="govuk-link--no-visited-state" id="case-selected-status">
              Remove <span class="govuk-visually-hidden">file</span></a></p>
          </div>
        </div>
      </div>  
    </div>
  
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">No javascript / basic
        </h2>
      </div>
    </div>
  
    <div class="govuk-grid-row">    
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <input class="govuk-file-upload upload-button" id="input-js" name="input-js" type="file">
            <br><br>
            <input class="govuk-label upload-button" type="button" value="Upload file">
          </div>
        </div>
      </div>
  
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <label class="govuk-label" for="progress-1">
              Scanning file: mydocumentation.docx
            </label>
            <progress id="progress-scan"></progress>
            <p><a href="#" class="govuk-link--no-visited-state" id="cancel-upload">
            Cancel <span class="govuk-visually-hidden">file</span></a></p>
          </div>
        </div>
      </div>
    </div>
  
    <br>
    <br>
    <div class="govuk-grid-row">  
  
      <div class="govuk-grid-column-one-half">
  
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <label class="govuk-label" for="progress-100">
              Uploading file: mydocumentation.docx
            </label>
            <progress></progress>
            <p><a href="#" class="govuk-link--no-visited-state" id="case-selected-status">
            Cancel <span class="govuk-visually-hidden">file</span></a></p>
          </div>
        </div>
      </div>
      
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <h3 class="govuk-heading-s">
              Public file
            </h3>
            <label class="govuk-label" for="progress-complete">
              Upload complete: mydocumentation.docx
            </label>
            <p><a href="#" class="govuk-link--no-visited-state" id="case-selected-status">
              Remove <span class="govuk-visually-hidden">file</span></a></p>
          </div>
        </div>
      </div>
    </div>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Upload errors
        </h2>
      </div>
    </div>
  
    <div class="govuk-grid-row">  
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-heading-s" for="file-upload-1">
                Public file
              </label>
              <p id="file-upload-1-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error: </span>Select a Public file to upload</p>
                <br>
              <p><input type="file" name="public-file" id="public-file" class="inputfile" />
                <label for="public-file" class="govuk-link">Choose new file</label> or drag it here</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-heading-s" for="file-upload-1">
                Public file
              </label>
              <p id="file-upload-1-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The selected file must be a DOCX, PNG, or PDF: mydocumentation.html
              </p>
              <p><input type="file" name="public-file" id="public-file" class="inputfile" />
                <label for="public-file" class="govuk-link">Choose new file</label> or drag it here</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <br>
    <br>
  
  
    <div class="govuk-grid-row">  
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-heading-s" for="file-upload-1">
                Public file
              </label>
              <p id="file-upload-1-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The selected file must be smaller than 30MB: mydocumentation.docx
              </p>
              <p><input type="file" name="public-file" id="public-file" class="inputfile" />
                <label for="public-file" class="govuk-link">Choose new file</label> or drag it here</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-heading-s" for="file-upload-1">
                Public file
              </label>
              <p id="file-upload-1-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> This file contains a virus: mydocumentation.docx
              </p>
              <p><input type="file" name="public-file" id="public-file" class="inputfile" />
                <label for="public-file" class="govuk-link">Choose new file</label> or drag it here</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <br>
    <br>
  
    <div class="govuk-grid-row">  
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-heading-s" for="file-upload-1">
                Public file
              </label>
              <p id="file-upload-1-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> This file could not be uploaded – try again: mydocumentation.docx
              </p>
              <p><input type="file" name="public-file" id="public-file" class="inputfile" />
                <label for="public-file" class="govuk-link">Choose a file</label> or drag it here</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="govuk-grid-column-one-half">
        <div class="upload-card">
          <div class="upload-container">
            <br>
            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-heading-s" for="file-upload-1">
                Public file
              </label>
              <p id="file-upload-1-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> You cannot add more than one file to represent this Public document 
              </p>
              <p><input type="file" name="public-file" id="public-file" class="inputfile" />
                <label for="public-file" class="govuk-link">Choose a file</label> or drag it here</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Read the guidance documents</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="link" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#how-we-handle-confidential-information" target="_blank">Creating confidential and non-confidential documents (opens in a new window or tab)</a>
          </li>  
          <li>
            <a class="link" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#about-our-questionnaires" target="_blank">About our questionnaires (opens in a new window or tab)</a>
          </li>   
          <li>
            <br>
            <strong>Email the case team</strong>        
            <a class="link" href="">{{data['case-ref']}}@traderemedies.gov.uk</a>
          </li>        
        </ul>
      </nav>
    </aside>
  </div>

</div>


{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}