{% extends "layout.html" %}

{% block pageTitle %}
  Your interest in the case has been registered - {{serviceName}}
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Application complete
        </h1>
        <div class="govuk-panel__body">
          Case number:<br><strong>{{data ['case-ref']}}</strong>
        </div>
      </div>
  
      <p>Thank you for your application. We have sent you a confirmation email.</p>
      
      <p><strong>{{data ['case-ref1']}} - {{data ['case-name1']}}</strong><br>
        Application received on: <span id="date"></span>
      </p>

    
      <script>
        const date = new Date();
        const formattedDate = date.toLocaleDateString('en-GB', {
          day: '2-digit', month: 'short', year: 'numeric'
        }).replace(/ /g, ' ');
        document.getElementById("date").innerHTML = formattedDate;
      </script>
        
      <h2 class="govuk-heading-m">What happens next</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>We will investigate your application, and let you know if your request to participate in this case is successful.  </li>
        <li>You may be asked to complete a further questionnaire. We will contact you if so.  </li>
        <li>Organisations taking part in the investigation will all be placed on a public record of the case. </li>
      </ul>
      <p>If you need to make any changes to your application, contact us as soon as possible at <strong>{{data ['case-ref']}}@traderemedies.gov.uk</strong>.</p>


        {{ govukButton({
          text: "Go to my dashboard",
          href: "../dashboard"
        }) }}

    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        },
        {
        },
        {
        },
        {
          href: "../email/email-reginterest-app-sent.html",
          text: "For user testing: Go to email"
        }
      ]
    }
  }) }}
{% endblock %}