{% extends "layout.html" %}

{% block pageTitle %}
  The organisation you are representing - {{serviceName}}
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">2. Who is registering interest</span>
    </div>
    <div class="govuk-grid-column-two-thirds">

    <form action="reginterest-the-org-dets" method="post" id="reginterest-the-org-form"> 
      
      {% call govukFieldset({
        legend: {
          text: "Your clients details",
          classes: "govuk-fieldset__legend--xl",
          isPageHeading: true
        }
      }) %}

      <p>You should have permission to register interest on behalf of your client.</p>

      {{ govukInput({
        label: {
          text: "Organisation name",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        classes: "govuk-input--width-20",
        id: "reginterest-org-name",
        name: "reginterest-org-name",
        value: data['reginterest-org-name'],
        type: "text"
      }) }}

     
      {% call govukFieldset({
        legend: {
          text: "What is the organisations address?",
          classes: "govuk-fieldset__legend--s",
          isPageHeading: true
        }
      }) %}

      <p>This should be where the main office is located</p>

        {{ govukTextarea({
          label: {
            text: "Street address",
            isPageHeading: false
          },
          classes: "govuk-input--width-20",
          id: "reginterest-org-address",
          name: "reginterest-org-address",
          value: data['reginterest-org-address'],
          type: "text"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode or Zipcode",
            isPageHeading: false
          },
          classes: "govuk-input--width-5",
          id: "reginterest-org-zip",
          name: "reginterest-org-zip",
          value: data['reginterest-org-zip'],
          type: "text"
        }) }}
      
      {% endcall %}

      {% include "includes/country-list.html" %}
      {{ govukInput({
        label: {
          text: "Registered company number",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        hint: {
          text: "This is a unique number that is assigned to companies registered in their home country - not all organisations are registered in this way."
        },
        classes: "govuk-input--width-10",
        id: "reginterest-reg-org-number",
        name: "reginterest-reg-org-number",
        value: data['reginterest-reg-org-number'],
        type: "text"
      }) }}
      
      {% endcall %} 

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
      </div>

      </form>

      <!-- Test data 
      <div class="govuk-inset-text">
        Test data: <br>
        Org type : {{ data['reginterest-what-org']}}
        <br>
      </div>
      -->
        
    </div>

  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}