{% extends "layout.html" %}

{% block pageTitle %}
  Download registration documentation – {{service-name}}
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">3.  Registration documentation</span>
    <h1 class="govuk-heading-xl">
      Download registration documentation
    </h1>

    <!-- Changes the form action according to who is being represented and whether all docs are downloaded or not-->

    {% if ((data['reginterest-what-org'] == "my-org") and (data['sample-download'] == "yes")) or ((data['loa-download'] == "yes") and (data['sample-download'] == "yes")) %}
      <form action="reginterest-tasks?download-complete=yes" method="post" id="reginterest-which-org-form">
      {% else %}
        <form action="reginterest-tasks?download-complete=no" method="post" id="reginterest-which-org-form">
    {% endif %}

    <p>Download the documentation below and complete it to request participation in this case. </p>


    <!-- Show this if they are acting on behalf of a 3rd party -->
    {% if (data['reginterest-what-org'] == "existing-org") or (data['reginterest-what-org'] == "new-org")  %}
      <p>The Letter of Authority gives you permission to act on behalf of <strong>ALUMINUM ELECTRICS LIMITED</strong> in this case only.</p>
    {% endif %}    


      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--s govuk-visually-hidden">Documentation to download</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">File name</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Size</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">
              <span class="govuk-visually-hidden td-header">Download links</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        
          {% include "includes/download-table.html" %}

        </tbody>
      </table>
     
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>
      </div>

    </form>

  </div>

</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


