{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Upload registration documentation – GOV.UK Trade Remedies Prototype
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">3.  Registration documentation</span>
    <h1 class="govuk-heading-xl">
      Presampling documentation
    </h1>
  </div>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p>Download and complete the documentation below. Upload a <strong>Private</strong> and <strong>Public</strong> version of each file you submit (maximum single file upload size is 30MB):</p> 
      <ul class="govuk-list">
        <li>
          {% if (data['sample-download'] == "yes" ) %}
          <a href="reginterest-upload-pre?sample-download=yes" class="govuk-link--no-visited-state"><img src="/public/images/doc.png" alt="File icon" width="24px"> registration-form-presampling.docx (344KB) </a><span>&#10003;</span>
          {% else %}
          <a href="reginterest-upload-pre?sample-download=yes" class="govuk-link--no-visited-state"><img src="/public/images/doc.png" alt="File icon" width="24px"> registration-form-presampling.docx (344KB) </a>
          {% endif %}
        </li>
      </ul>      
    </div>
  </div>

  <div id="doc-1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Upload document 1
        </h2>
        <div class="row-colour">
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-text-align-centre govuk-!-margin-bottom-1">
              Public file
          </h3>
            {% set id="1" %}
            {% include 'includes/drag_drop_upload.html' %}
          </div>
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-text-align-centre govuk-!-margin-bottom-1">
              Private file
          </h3>
            {% set id="2" %}
            {% include 'includes/drag_drop_upload.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add another document panel -->

  <div id="doc-2" style="display:none">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Upload document 2
        </h2>
        <div class="row-colour">
            
            <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-text-align-centre">
              Public file
            </h3>
            {% set id="3" %}
            {% include 'includes/drag_drop_upload.html' %}
          </div>
          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s govuk-!-text-align-centre">
              Private file
            </h3>
            {% set id="4" %}
            {% include 'includes/drag_drop_upload.html' %}
          </div>
          <div class="remove-doc-panel">
            <a href="#doc-2" alt="Delete panel" title="Delete panel" onclick="hideDoc2Panel()"  class="govuk-link govuk-link--no-visited-state" >
              Remove documents
            </a>
          </div> 
          
        </div>
      </div>
    </div>
  </div>

    <!-- Add another document button -->
    <div class="govuk-grid-row">    
      <div class="govuk-grid-column-full">
        <button class="govuk-button govuk-button--secondary govuk-!-margin-top-2" id="add-doc-button" data-module="govuk-button" onclick="showDoc2Panel()">
          Add another document
        </button>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What are Private and Public versions of a document and why are they needed?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>This needs a total re-write I've just stolen it....It’s important that parties involved in a case have the opportunity to understand the evidence provided by other interested parties and contributors and defend their own interests by submitting responses to such information if necessary.</p>
            <p> However, we understand that some of the information parties provide to us may be confidential to them. Therefore, we ask parties to provide non-confidential versions of their evidence as well, so that we can make this available to other parties.</p>
            <p>Find out more:  <a href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#confidential-information-and-non-confidential-summaries" target="_blank" class="link govuk-link--no-visited-state">Creating confidential and non-confidential documents (opens in a new window or tab)</a></p>
            
          </div>
        </details>
        <form action="reginterest-tasks?upload-pre-task=complete" method="post" id="upload-form">

          <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue"
              }) }}
              <a class="govuk-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a> 
          </div>  
        </form>
      </div>
    </div>


<script type="text/javascript">

  function showDoc2Panel() {
    var x = document.getElementById("doc-2");
    if (x.style.display === "none") {
      x.style.display = "block";
    } 
  }

  function hideDoc2Panel() {
    var x = document.getElementById("doc-2");
    if (x.style.display === "block") {
      x.style.display = "none";
    } 
  }

  function removeDoc() {
    var x = document.getElementById("complete-upload-1");
    var y = document.getElementById("waiting-upload-1");
    if (x.style.display === "") {
      x.style.display = "none";
      y.style.display = "block";
    } 
  }

</script>


{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        },
        {
        },
        {
        },
        {
          href: "reginterest-upload-flow.html",
          text: "Uploading flow"
        }
      ]
    }
  }) }}
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/drag_and_drop.js"></script>
{% endblock %}