{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Select Trade Remedies case – GOV.UK Trade Remedies Prototype
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">1. Which case are you interested in</span>
    <h1 class="govuk-heading-xl">Select Trade Remedies case</h1>
    <p>Please select below the Trade Remedies case you are interested in.</p>
  </div>

  <div class="govuk-grid-column-full">

    <table class="govuk-table sortable table-border" id="table-header" role="grid">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden">A table listing all of the public Trade Remedies cases</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header column-full sortable-button sortable-column" aria-sort="descending" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Ref. <i class="Z-to-A"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Case <i class="sort-indicator"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Type <i class="sort-indicator"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Status<i class="sort-indicator"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Started <i class="sort-indicator"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="date">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Reg due <i class="sort-indicator"></i>
          </th>
          <th class="govuk-table__header column-full govuk-visually-hidden--mobile" scope="col">
            <span class="govuk-visually-hidden td-header">Action</span><i class="no-sort govuk-visually-hidden"></i>
          </th>
        </tr>
      </thead>

      <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">No: </span>{{data ['case-ref1']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case: </span>{{data ['case-name1']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Type: </span>{{data ['case-type1']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Status</span>{{data ['submission1']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Start date: </span>{{data ['created1']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Registration due: </span>{{data ['register-date1']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Action:</span><a href="reginterest-tasks?reginterest-task=started&case-task=complete" class="govuk-link--no-visited-state"> Select <span class="govuk-visually-hidden td-header">BA0005</span></a>
        </td>
      </tr>

      <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Ref: </span>AG0404
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case: </span>Farnets from Fabon
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Type: </span>Anti-subsidy investigation
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Status</span>Questionnaires issued
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Start date: </span>12 April 2021
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Registration due: </span>26 April 2021
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Action:</span><a href="reginterest-case-old?reginterest-task=started" class="govuk-link--no-visited-state"> Select <span class="govuk-visually-hidden td-header">AG0404</span></a>
        </td>
      </tr>

      <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Ref: </span>AD0004
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case: </span>Garnets from Gabon
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Type: </span>Anti-dumping investigation
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Status</span>Questionnaires issued
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Start date: </span>01 Dec 2019
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Registration due: </span>15 Dec 2019
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Action:</span><a href="reginterest-case-old?reginterest-task=started" class="govuk-link--no-visited-state"> Select <span class="govuk-visually-hidden td-header">AD0004</span></a>
        </td>
      </tr>

    </table>     
    
    <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

    </div>
  </div>

</div>


{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}