{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Who is registering interest – GOV.UK Trade Remedies Prototype
{% endblock %}

{% block header %}
 {% include "includes/header-signedin.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">2.  Who is registering interest</span>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <form action="/reginterest-which-org-route" method="post" id="reginterest-which-org-form">
      
      {% set myorgHTML %}
      My organisation: {{data['createaccount-org-name']}}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "reginterest-what-org",
        name: "reginterest-what-org",
        fieldset: {
          legend: {
            text: "Which organisation is registering interest in this case?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "my-org",
            html: myorgHTML,
            checked: checked("reginterest-what-org", "my-org")
          },
          {
            value: "existing-org",
            text: "An organisation I have represented before on a trade remedies case",
            checked: checked("reginterest-what-org", "existing-org")

          },
          {
            value: "new-org",
            text: "A new organisation I have not represented before on a trade remedies case",
            checked: checked("reginterest-what-org", "new-org")
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link" href="reginterest-tasks">Back</a>
      </div>

    </form>
      <!-- Test data -->
          <!--<div class="govuk-inset-text">
            Test data: <br>
            Which org started?: {{ data['which-org-started']}}<br> 
            Type of reg org: {{ data['reginterest-what-org']}}
          </div> 
        -->
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Read the guidance documents</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="link" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process" target="_blank">Trade remedies investigations process (opens in a new window or tab)</a>
          </li>  
          
          {% if data['case-ref'] != null %}
          <li>
            <strong>Email the case team</strong>        
            <a class="link" href="">{{data['case-ref']}}@traderemedies.gov.uk</a>
          </li>     
          {% endif %}    
        </ul>
      </nav>
    </aside>
  </div>

</div>


{% endblock %}


{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}