{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Your interest in the case has been registered  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Application complete
        </h1>
        <div class="govuk-panel__body">
          Case number:<br><strong>{{data ['case-ref']}}</strong>
        </div>
      </div>
  
      <p>Thank you for registering your interest in the following case. We have sent confirmation to <strong>{{ data['account-email'] }}</strong>.</p>
      
      <p><strong>{{data ['case-ref1']}} - {{data ['case-name1']}}</strong><br>
        Submitted: <span id="date"></span>
      </p>

    
      <script>
      const d = new Date();
      document.getElementById("date").innerHTML = d.toDateString();
      </script>
        
      <h2 class="govuk-heading-m">What happens next</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>The information you have provided will determine whether you are granted entry to the case. You will be contacted with the results of this initial assessment.</li>
        <li>Your answers will determine whether your company will receive a questionnaire to complete. We will contact you if your company is selected for this.</li>
        <li>The list of companies that receive a questoinnaire will be placed on the Public record of this case.</li>
      </ul>
      <p>If you need to make any changes to your application please contact us as quickly as possible at  <strong>{{data ['case-ref']}}@traderemedies.gov.uk</strong>.</p>


        {{ govukButton({
          text: "Go to my dashboard",
          href: "../dashboard"
        }) }}

    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        },
        {
        },
        {
        },
        {
          href: "../email/email-reginterest-app-sent.html",
          text: "For user testing: Go to email"
        }
      ]
    }
  }) }}
{% endblock %}