{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Find Trade Remedies case – GOV.UK Trade Remedies Prototype
{% endblock %}

{% block header %}
 {% include "includes/header-signedin.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">1. Which case are you interested in</span>
    <h1 class="govuk-heading-xl">Find Trade Remedies case</h1>
    <p>To register your interest in an existing Trade Remedies case, select the relevant case below.</p>

    {{ govukDetails({
      summaryText: "The registration due date",
      html: "<p>Organisations can normally register their interest in a case up to [x days] after the case has started. This is known as the registration due date.</p><p> If you wish to register your interest but the due date has passed be aware that you may not be eligible to receive a questionnaire and your opportunities to participate in the process may be restricted.</p>"
    }) }}

  </div>

  <div class="govuk-grid-column-full">

    <table class="govuk-table sortable" id="cases-table" role="grid">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden">A table listing all of the public Trade Remedies cases</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header column-full sortable-button sortable-column" aria-sort="descending" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Ref. <i class="no-sort"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Case <i class="no-sort"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Type <i class="no-sort"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Start date <i class="no-sort"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="date">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Registration due by <i class="Z-to-A"></i>
          </th>
          <th class="govuk-table__header column-full govuk-visually-hidden--mobile" scope="col">
            <span class="govuk-visually-hidden td-header">Action</span><i class="no-sort govuk-visually-hidden"></i>
          </th>
        </tr>
      </thead>

      <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Ref: </span>
          <span class="idm-table__cell--access-level-content">BA0005</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case: </span>
          <span class="idm-table__cell--access-level-content">Barnets from Tabon</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Type: </span>
          <span class="idm-table__cell--service-name-content">Safeguarding investigation</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Start date: </span>
          <span class="idm-table__cell--service-role-name-content">12 May 2022</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Registration due by: </span>
          <span class="idm-table__cell--service-role-name-content">26 May 2022</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Action:</span><a href="reginterest-tasks?case-selected=yes&case-ref=BA0005&case-name=Barnets from Tabon&case-type=Safeguarding investigation&register-date=26 May 2022" class="govuk-link--no-visited-state"> Select case <span class="govuk-visually-hidden td-header">BA0005</span></a>
        </td>
      </tr>

      <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Ref: </span>
          <span class="idm-table__cell--access-level-content">AG0404</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case: </span>
          <span class="idm-table__cell--access-level-content">Farnets from Fabon</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Type: </span>
          <span class="idm-table__cell--service-name-content">Anti-subsidy investigation</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Start date: </span>
          <span class="idm-table__cell--service-role-name-content">12 April 2021</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Registration due by: </span>
          <span class="idm-table__cell--service-role-name-content">26 April 2021</span>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Action:</span><a href="reginterest-case-old?case-ref=AG0404&case-name=Farnets from Fabon&case-type=Anti-subsidy investigation&register-date=26 April 2021" class="govuk-link--no-visited-state"> Select case <span class="govuk-visually-hidden td-header">AG0404</span></a>
        </td>
      </tr>

      <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Ref: </span>AD0004
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case: </span>Garnets from Gabon
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Type: </span>Anti-dumping investigation
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Start date: </span>01 Dec 2019
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Registration due by: </span>15 Dec 2019
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Action:</span><a href="reginterest-case-old?case-ref=AD0004&case-name=Garnets from Gabon&case-type=Anti-dumping investigation&register-date=15 Dec 2019" class="govuk-link--no-visited-state"> Select case <span class="govuk-visually-hidden td-header">AD0004</span></a>
        </td>
      </tr>

    </table>     
    <a class="govuk-link" href="reginterest-tasks">Back</a>

    </div>
  </div>

</div>


{% endblock %}


