{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Upload registration documentation – GOV.UK Trade Remedies Prototype
{% endblock %}

{% block header %}
 {% include "includes/header-signedin.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="reginterest-tasks">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">3.  Registration documentation</span>
    <h1 class="govuk-heading-xl">
      Upload documentation
    </h1>
     
    <p>Information that you submit needs to be uploaded in two formats: <strong>confidential</strong> and <strong>non-confidential</strong> documents.</p>
    
    <ol class="app-task-list">

      <li>
        <h2 class="app-task-list__section">
          Confidential documentation
        </h2>
        <ul class="app-task-list__items govuk-!-margin-bottom-6">
          {% if (data['upload1-complete'] !=  "yes") and (data['upload2-complete'] != "yes") %}
          <button class="govuk-button govuk-button--secondary" id="confi-button" data-module="govuk-button" onclick="showDiv1()">
            Add confidential document
          </button>
          {% endif %}
          
          {% include "includes/uploads-confi.html" %}
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          Unconfidential documentation
        </h2>
        <ul class="app-task-list__items govuk-!-margin-bottom-6">
          {% if (data['upload3-complete'] !=  "yes") and (data['upload4-complete'] != "yes") %}
          <button class="govuk-button govuk-button--secondary" id="unconfi-button" data-module="govuk-button" onclick="showDiv7()">
            Add confidential document
          </button>
          {% endif %}
          {% include "includes/uploads-unconfi.html" %}            
        </ul>
      </li>

    </ol>
       

    <form action="reginterest-tasks?upload-complete=yes" method="post" id="upload-form">

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link" href="reginterest-tasks">Back</a>
      </div>

    </form>

    <!-- Test data 
    <div class="govuk-inset-text">
      Test data: <br>
      Upload started:{{ data['upload-started']}}<br>
      Type of org: {{data['reginterest-what-org']}}<br>
      Upload1 complete: {{data['upload1-complete']}}<br>
      Upload1 started: {{data['upload1-started']}}
    </div>

    -->
    

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Read the guidance documents</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="link" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#how-we-handle-confidential-information" target="_blank">Creating confidential and non-confidential documents (opens in a new window or tab)</a>
          </li>  
          <li>
            <a class="link" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#about-our-questionnaires" target="_blank">About our questionnaires (opens in a new window or tab)</a>
          </li> 
          <li>
            <br>
            <strong>Email the case team</strong>        
            <a class="link" href="">{{data['case-ref']}}@traderemedies.gov.uk</a>
          </li>          
        </ul>
      </nav>
    </aside>

  </div>

</div>


{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}