{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Is the organisation registered in the UK? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">2.  Who is registering interest</span>

      <form action="/reginterest-uk-reg-route" method="post" id="reginterest-uk-reg-form"> 
               
        {{ govukRadios({
          classes: "govuk-radioss",
          idPrefix: "reginterest-uk-reg",
          name: "reginterest-uk-reg",
          fieldset: {
            legend: {
              text: "Is this organisation a registered UK company?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("reginterest-uk-reg", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("reginterest-uk-reg", "no")
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "How do I find out if the organisation is registered in the UK?",
          html: ' <p class="govuk-body">You can search for the organisation on the <a href="https://www.gov.uk/get-information-about-a-company" target="_blank" rel="noopener noreferrer" class="govuk-link">Companies House register (opens in a new tab).</a></p>
          <p>If you cannot find the organisation on the register you need to select "No" the organisation is not registered in the UK.</p>'
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="javascript: history.back()">Back</a>
        </div>

        </form>

         <!-- Test data 
        <div class="govuk-inset-text">
          Test data: <br>
          Org type : {{ data['reginterest-what-org']}}
          <br>
        </div>
        -->
        
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Read the guidance documents</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="link" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process" target="_blank">Trade remedies investigations process (opens in a new window or tab)</a>
            </li>  
            
            {% if data['case-ref'] != null %}
            <li>
              <br>
              <strong>Email the case team</strong>        
              <a class="link" href="">{{data['case-ref']}}@traderemedies.gov.uk</a>
            </li>     
            {% endif %}    
          </ul>
        </nav>
      </aside>
    </div>

  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}