{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Organisation details– GOV.UK Trade Remedies Prototype
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">2.  Who is registering interest</span>

    <form action="reginterest-tasks?reginterest-what-org=existing" method="post" id="reginterest-existing-org-form">

      {{ govukRadios({
        idPrefix: "reginterest-existing-org",
        name: "reginterest-existing-org",
        fieldset: {
          legend: {
            html: "Who are you representing?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "ALUMINUM TRADE LTD",
            text: "ALUMINUM TRADE LTD",
            checked: checked("reginterest-existing-org", "ALUMINUM TRADE LTD")
          },
          {
            value: "ALUMINUM ELECTRICS LIMITED",
            text: "ALUMINUM ELECTRICS LIMITED",
            checked: checked("reginterest-existing-org", "ALUMINUM ELECTRICS LIMITED")
          },
          {
            value: "ALUMINUM SQUIRREL LIMITED",
            text: "ALUMINUM SQUIRREL LIMITED",
            checked: checked("reginterest-existing-org", "ALUMINUM SQUIRREL LIMITED")
          }
        ]
      }) }} 

     <!-- <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="search-reg-org">
            Who are you representing?
          </label>
        </h1>
       
        <select class="govuk-select" id="reginterest-existing-org" name="reginterest-existing-org" onchange="showDiv('hidden_div', this); update()">
          <option value="0" class="selected">Select organisation</option>
          <option value="ALUMINUM TRADE LTD (05850450) Suite 19 Old Anglo House, Mitton Street, Stourport-On-Severn, Worcestershire, DY13 9AQ">ALUMINUM TRADE LTD</option>
          <option value="ALUMINUM ELECTRICS LIMITED (05337101) 20 Highbury Place, Bramley, Leeds, United Kingdom, LS13 4PW">ALUMINUM ELECTRICS LIMITED</option>
          <option value="ALUMINUM SQUIRREL LIMITED (SOUTH WALES) (08199303) 16 Bracken Park, Bingley, United Kingdom, BD16 3LG">ALUMINUM SQUIRREL LIMITED (SOUTH WALES)</option>
        </select>
      </div>

      <div id="hidden_div">
        <p>Check the organisation details below carefully. If the details do not match those of the organisation you are representing, you should return to the previous step and choose the "New" organisation option.</p>
        <div class="govuk-inset-text" id="text"></div>
      </div>

      <script type="text/javascript">
        function showDiv(divId, element)
        {
          document.getElementById(divId).style.display = element.value != 0 ? 'block' : 'none';
        }

        function update() {
          var select = document.getElementById('reginterest-existing-org');
          var option = select.options[select.selectedIndex];
          
          document.getElementById('text').innerHTML = option.value;
        }

        update();
    </script>

    -->

      {{ govukDetails({
        summaryText: "The organisation is not listed",
        html: ' <p class="govuk-body">This is only a list of organisations that you have previously represented using the Trade Remedies System. If the organisation has not been added to your account it will not appear here.</p>
        <p>To add a new organisation to your account please return to the previous page and select "New" organisation.</p>'
      }) }}
    
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
        <a class="govuk-link" href="javascript: history.back()">Back</a>
      </div>
    

    </form>

       <!-- Test data  
       <div class="govuk-inset-text">
        Test data: <br>
        What org: {{data['reginterest-what-org']}}<br>
        Selected org: {{data['reginterest-existing-org']}}<br>
      </div>
      -->
      
    
  </div>

  

</div>

{% endblock %}

{% block footer %}  
  {% include "includes/footer.html" %}
{% endblock %}


