
{% extends "layout.html" %}

{% block pageTitle %}
Find Trade Remedies case – GOV.UK Trade Remedies Prototype
{% endblock %}

{% block header %}
 {% include "includes/header-signedin.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">1. Which case are you interested in?</span>
    <h1 class="govuk-heading-xl">Find Trade Remedies case</h1>
    {{ govukWarningText({
      text: "The registration due date for this case has passed",
      iconFallbackText: "Warning"
    }) }}
    <ul class="govuk-list">
      <li>Case: {{data['case-name']}}</li>
     <li>Registration due date: {{data['register-date']}}</li>
    </ul>
    <p>If you continue to register your interest in this case you may not be eligible to receive a questionnaire and your opportunities to participate in the process may be restricted.</p>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue registering interest",
        href: "reginterest-tasks"
      }) }}
    
      <a class="govuk-link" href="/public-site/dashboard">Cancel</a>

    </div>
   

  </div>

</div>


{% endblock %}


