{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Your account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="createaccount-password" method="post" id="createaccount-your-account-form">  
        
        {% call govukFieldset({
          legend: {
            text: "Create account",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        {{ govukInput({
          label: {
            text: "Enter your name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "How would you like to be addressed?"
          },
          classes: "govuk-input--width-20",
          id: "createaccount-name",
          name: "createaccount-name",
          type: "text",
          autocomplete: "name",
          value: data['createaccount-name']

        }) }}
  
        {{ govukInput({
          label: {
            text: "Your email address",
            classes: "govuk-label--s"
          },
          hint: {
            text: "This will be used to sign in to your account and must be your professional email address, for example yourname@company.com."
          },
          id: "account-email",
          name: "account-email",
          classes: "govuk-input--width-20",
          type: "email",
          autocomplete: "email",
          value: data['account-email']
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
          <a class="govuk-link" href="javascript: history.back()">Back</a>
        </div>



        {% endcall %} 

      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}