{% extends "layout.html" %}

{% block pageTitle %}
  Is your organisation registered in the UK - {{service-name}}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/createaccount-uk-reg-route" method="post" id="createaccount-uk-reg-form"> 
               
        {% call govukFieldset({
          legend: {
            text: "Your employer",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

          <p>This is who employs you directly and not an organisation you are representing. You should have permission to create this account on behalf of your employer. </p>
        
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "createaccount-uk-reg",
            name: "createaccount-uk-reg",
            fieldset: {
              legend: {
                text: "Is your employer a registered UK company?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: checked("createaccount-uk-reg", "yes")
              },
              {
                value: "no",
                text: "No",
                checked: checked("createaccount-uk-reg", "no")
              }
            ]
          }) }}

          {{ govukDetails({
            summaryText: "How do I find out if my employer is registered in the UK?",
            html: ' <p class="govuk-body">You can find this on the <a href="https://www.gov.uk/get-information-about-a-company" target="_blank" rel="noopener noreferrer" class="govuk-link">Companies House register (opens in a new tab).</a></p>
            <p>If you cannot find your organisation on the register you need to select "No" your employer is not registered in the UK.</p>'
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}    
            <a class="govuk-link" href="javascript: history.back()">Back</a>
          </div>

        {% endcall %} 

      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}