{% extends "layout.html" %}

{% block pageTitle %}
  Confirm your organisation - {{service-name}}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="createaccount-your-org-dets" method="post" id="createaccount-confirm-your-org-form">  

        {% call govukFieldset({
          legend: {
            text: "Confirm registered details",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p>Check the details below carefully - this must be <strong>your direct employer</strong> and not someone you represent as a third party. </p>

        {% if (data['search-reg-org'] == "opt1") %}
          {% set opt1html %}
            <h3 class="govuk-heading-s">ALUMINUM TRADE LTD</h3>
            <p>Company number: 05850450</p>
            <p>Suite 19 Old Anglo House, Mitton Street, Stourport-On-Severn, Worcestershire, DY13 9AQ</p>
          {% endset -%}
    
          <div>
            {{ govukInsetText({
              html: opt1html
            }) }}
          </div>
        {% endif %}

        {% if (data['search-reg-org'] == "opt2") %}
          {% set opt1html %}
          <h3 class="govuk-heading-s">ALUMINUM ELECTRICS LIMITED</h3>
          <p>Company number: 05337101</p>
          <p>20 Highbury Place, Bramley, Leeds, United Kingdom, LS13 4PW</p>
          {% endset -%}
    
          <div>
            {{ govukInsetText({
              html: opt2html
            }) }}
          </div>
        {% endif %}

        {% if (data['search-reg-org'] == "opt3") %}
          {% set opt3html %}
          <h3 class="govuk-heading-s">ALUMINUM SQUIRREL LIMITED (SOUTH WALES)</h3>
          <p>Company number: 08199303</p>
          <p>16 Bracken Park, Bingley, United Kingdom, BD16 3LG</p>
          {% endset -%}
    
          <div>
            {{ govukInsetText({
              html: opt3html
            }) }}
          </div>
        {% endif %}

        {% if (data['search-reg-org'] == "opt4") %}
          {% set opt4html %}
            <h3 class="govuk-heading-s">ALUMINIUM PROFILE SERVICES LIMITED</h3>
            <p>Company number: 09849849</p>
            <p>Clock Cottage, Corneybury Farm, Royston Road, Buntingford, Hertfordshire, England, SG9 9RS</p>
          {% endset -%}

          <div>
            {{ govukInsetText({
              html: opt4html
            }) }}
          </div>
        {% endif %}

        {% if (data['search-reg-org'] == "opt5") %}
          {% set opt5html %}
            <h3 class="govuk-heading-s">ALUMINIUM INTEGRATED SOLUTIONS LIMITED</h3>
            <p>Company number: 09424974</p>
            <p>61 Great North Road, Newcastle Upon Tyne, Tyne And Wear, United Kingdom, NE3 2DQ</p>
          {% endset -%}

          <div>
            {{ govukInsetText({
              html: opt5html
            }) }}
          </div>
        {% endif %}

        {% if (data['search-reg-org'] == "opt6") %}
          {% set opt6html %}
            <h3 class="govuk-heading-s">ALUMINIUM STAR LIMITED</h3>
            <p>Company number: 07751077</p>
            <p> 21 Princess Mary House, Vincent Street Westminster, London, England, SW1P 4HL</p>
          {% endset -%}

          <div>
            {{ govukInsetText({
              html: opt6html
            }) }}
          </div>
        {% endif %}

        {% if (data['search-reg-org'] == "opt7") %}
          {% set opt7html %}
            <h3 class="govuk-heading-s">ALUMINUMNOW LIMITED</h3>
            <p>Company number: 07650927</p>
            <p> 29 Belfont Walk, London, 29 Belfont Walk, London, Greater London, England, N7 0SN</p>
          {% endset -%}

          <div>
            {{ govukInsetText({
              html: opt7html
            }) }}
          </div>
        {% endif %}

        {% if (data['search-reg-org'] == "opt8") %}
          {% set opt8html %}
            <h3 class="govuk-heading-s">ALUMINUMNOW MARITIME SOLUTIONS LTD.</h3>
            <p>Company number: 08567105</p>
            <p> 29 Belfont Walk 29 Belfont Walk, London, Greater London, England, N7 0SN</p>
          {% endset -%}

          <div>
            {{ govukInsetText({
              html: opt8html
            }) }}
          </div>
        {% endif %}

        {% if (data['search-reg-org'] == "opt9") %}
          {% set opt9html %}
            <h3 class="govuk-heading-s">AEROSPACE ALUMINUM CO., LTD</h3>
            <p>Company number: 08667181</p>
            <p> Unit G25 Waterfront Studios, 1 Dock Road, London, United Kingdom, E16 1AH</p>
          {% endset -%}

          <div>
            {{ govukInsetText({
              html: opt9html
            }) }}
          </div>
        {% endif %}
  
        {{ govukDetails({
          summaryText: "Somewords here",
          html: '<p class="govuk-body">You can search for your organisation on the <a href="https://www.gov.uk/get-information-about-a-company" target="_blank" rel="noopener noreferrer" class="govuk-link">Companies House register (opens in a new tab).</a></p>
          <p>If the organisation is not on the register you need to return to the previous page and select "No" your employer is not registered in the UK.</p>'
        }) }}

   
        <div class="govuk-button-group">
          {{ govukButton({
            text: "I confirm that this is my employer"
          }) }}    
          <a class="govuk-link" href="javascript: history.back()">Back</a>
        </div>

      {% endcall %} 

        </form>        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}