{% extends "layout.html" %}

{% block pageTitle %}
  Your employer - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form action="createaccount-your-org-dets" method="post" id="createaccount-your-org-form">          
        {% call govukFieldset({
          legend: {
            text: "Your employer",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p>We ask for the details of your direct employer, not a company you may be representing. You should have permission to create this account on behalf of your employer.</p>

        {{ govukInput({
          label: {
            text: "Name of your organisation",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-20",
          id: "createaccount-org-name",
          name: "createaccount-org-name",
          value: data['createaccount-org-name'],
          type: "text"
        }) }}
       
        {% call govukFieldset({
          legend: {
            text: "Address of your organisation",
            classes: "govuk-fieldset__legend--s",
            isPageHeading: true
          }
        }) %}

        <p>Provide the address of the main office.</p>

          {{ govukTextarea({
            label: {
              text: "Street address",
              isPageHeading: false
            },
            classes: "govuk-input--width-20",
            id: "createaccount-org-address",
            name: "createaccount-org-address",
            value: data['createaccount-reg-org-address'],
            type: "text"
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode or Zipcode",
              isPageHeading: false
            },
            classes: "govuk-input--width-5",
            id: "createaccount-org-zip",
            name: "createaccount-org-zip",
            value: data['createaccount-reg-org-zip'],
            type: "text"
          }) }}
        
        {% endcall %}

        {% include "includes/country-list.html" %}
        {{ govukInput({
          label: {
            text: "Registered company number",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "Most companies have an official registration number from the country they are based in."
          },
          classes: "govuk-input--width-10",
          id: "createaccount-reg-org-number",
          name: "createaccount-reg-org-number",
          value: data['createaccount-reg-org-number'],
          type: "text"
        }) }} 

<!-- Removing this for now as we think it unnecessary        

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "createaccount-contact-address",
          name: "createaccount-contact-address",
          fieldset: {
            legend: {
              text: "Is this address the office that you work at day-to-day?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "This is so that we can contact you if necessary."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("createaccount-contact-address", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("createaccount-contact-address", "no")
            }
          ]
        }) }}

        --> 


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
          <a class="govuk-link" href="javascript: history.back()">Back</a>
        </div>
        {% endcall %} 

      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}