{% extends "layout.html" %}

{% block pageTitle %}
  Further details about your employer - {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="createaccount-account-complete" method="post" id="createaccount-your-org-dets-form">  
        
        {% call govukFieldset({
          legend: {
            text: "Further details about your organisation",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p>Provide as many details as you can to help us understand your organisation.</p>

        {{ govukInput({
          label: {
            text: "Wwebsite (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "Provide your organisation’s website if it has one."
          },
          classes: "govuk-input--width-20",
          id: "createaccount-web",
          name: "createaccount-web",
          type: "text",
          value: data['createaccount-web']  
        }) }}
        
        {{ govukInput({
          label: {
            text: "VAT registration number (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "Most UK registered companies are registered for Value Added Tax (VAT)."
          },
          classes: "govuk-input--width-20",
          id: "createaccount-vat",
          name: "createaccount-vat",
          type: "text",
          value: data['createaccount-vat']
        }) }}

        {{ govukInput({
          label: {
            text: "EORI number (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "Your organisation will have an EORI number if you have brought goods into the UK or EU."
          },
          classes: "govuk-input--width-20",
          id: "createaccount-eori",
          name: "createaccount-eori",
          type: "text",
          value: data['createaccount-eori']          
        }) }}

        {{ govukInput({
          label: {
            text: "DUNS Number (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "Your organisation might have a 9-digit Data Universal Numbering System (DUNS) identifier."
          },
          classes: "govuk-input--width-20",
          id: "createaccount-duns",
          name: "createaccount-duns",
          type: "text",
          value: data['createaccount-duns']  
        }) }}
  
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Create my account"
          }) }}    
          <a class="govuk-link" href="javascript: history.back()">Back</a>
        </div>        
        {% endcall %} 

      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}