{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Cases: Steel plate from Russia – {{ serviceName }}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width cases-nav party-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
{% set bodyClasses = 'caseworker' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-heading-xl__case-header">
      {{data['case-ref1']}}: {{data['case-name1']}}
      <span class="govuk-heading-s govuk-!-font-weight-regular"><strong>Status:</strong> {{data['status1']}}</span>
    </h1>
    {% include "includes/caseworker-nav-case.html" %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l clearfix">
      {{data['representative1']}} 
      <p class="right-aligned-link">
        <a href="invite-party" class="govuk-link--no-visited-state">Action here</a>
      </p> 
    </h2>    
     <div class="govuk-inset-text govuk-inset-text__reginterest">
        <strong>{{data['representative1']}}</strong> has been approved on to 2 cases <br>
        The last approval was on <strong>21 Feb 2020</strong> by <strong>Bobby Caseworker</strong><br>
        <strong>{{data['representative1']}}</strong> has been <a href="" class="govuk-link--no-visited-state">invited to represent</a> <strong>{{data['party1']}}</strong>
      </div> 
   

    {% set caseOverviewHTML %}
    <form>
      <div id="table-sort" class="govuk-visually-hidden--desktop"> 
        <div class="govuk-form-group table-sort-select">
          <label class="govuk-label govuk-!-display-inline" for="sort-submission">
            Sort sumbissions by
          </label>
          <select class="govuk-select" id="sort-submission" name="sort-submission">
            <option value="Interested party" selected>Interested party</option>
            <option value="Contact">Contact</option>
            <option value="Submission">Submission</option>
            <option value="Submitted">Submitted</option>
          </select>
        </div>
        <div class="govuk-form-group table-sort-select">
          <label class="govuk-label govuk-visually-hidden" for="direction-submission">
            Direction
          </label>
          <select class="govuk-select" id="direction-submission" name="direction-submission">
            <option value="Decending" selected>Decending</option>
            <option value="Accending">Accending</option>
          </select>
        </div>

        {{ govukButton({
          text: "Sort",
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </form>  

    <table class="govuk-table sortable mobile-table-border" id="table-header">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
        A table listing all of the submissions waiting to be reviewed
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Submission
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header" aria-sort="ascending">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Date received
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>User
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Action
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Status
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header no-sort">
              <span class="govuk-visually-hidden--desktop">Action:</span>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">  
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Submission: </span>{{data['party-submission1']}}
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Date recieved: </span>22 May 2022
          </td>  
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">User: </span><a href="#" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Action: </span>Received
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Status: </span>Pending
          </td>
          <td class="govuk-table__cell action">
            <span class="govuk-visually-hidden--desktop">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?verify-type=reg-interest&duplicate-org=no&third-party=yes&notify-contact=no" class="govuk-link--no-visited-state">Verify <span class="govuk-visually-hidden">{{data['party1']}}</span></a>
          </td>             
        </tr>
      </body>
    </table>   
    {% endset %}
    
    {% set casesHTML %}
      <h3 class="govuk-heading-m clearfix">All cases
        <p class="right-aligned-link">
          <a href="" class="govuk-link--no-visited-state">Invite organisation to case</a>
        </p> 
      </h3>
      <form>
        <div id="table-sort" class="govuk-visually-hidden--desktop"> 
          <div class="govuk-form-group table-sort-select">
            <label class="govuk-label govuk-!-display-inline" for="sort-cases">
              Sort your cases by
            </label>
           <select class="govuk-select" id="sort-cases" name="sort-cases">
              <option value="No." selected>No.</option>
              <option value="Case">Case</option>
              <option value="Interested party">Interested party</option>
              <option value="Primary">Primary contact</option>              
              <option value="Case role">Case role</option>
              <option value="Representative">Representative</option> 
            </select>
          </div>

          <div class="govuk-form-group table-sort-select">
            <label class="govuk-label govuk-visually-hidden" for="direction-cases">
              Direction
            </label>
            <select class="govuk-select" id="direction-cases" name="direction-cases">
              <option value="Decending" selected>Decending</option>
              <option value="Accending">Accending</option>
            </select>
          </div>
  
          {{ govukButton({
            text: "Sort",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </form>  
  
      <table class="govuk-table sortable mobile-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
          A table listing all of the cases the organisation is involved in
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>No.
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Case
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Interested party
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Primary contact
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Case role
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Representative
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. </span><a href="cases/case-overview" class="govuk-link--no-visited-state">{{data['case-ref5']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Case: </span><a href="cases/case-overview" class="govuk-link--no-visited-state">{{data['case-name5']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="#" class="govuk-link--no-visited-state">{{data['party5']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Primary contact: </span><a href="#" class="govuk-link--no-visited-state">{{data['party-user5']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Case Role: </span>{{data['party-case-role5']}}
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Representative: </span>{{data['representative1']}}
            </td>
          </tr>
  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">No. </span><a href="" class="govuk-link--no-visited-state">{{data['case-ref6']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Case: </span><a href="" class="govuk-link--no-visited-state">{{data['case-name6']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Interested party: </span><a href="#" class="govuk-link--no-visited-state">{{data['representative1']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Primary contact: </span><a href="#" class="govuk-link--no-visited-state">{{data['rep-user6']}}</a>
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Case role: </span>{{data['rep-role6']}}
            </td>
            <td class="govuk-table__cell text-overflow">
              <span class="govuk-visually-hidden--desktop">Representative: </span>None
            </td>
          </tr>
        </body>
      </table>    

    {% endset %}

    {% set usersHTML %}
    <h3 class="govuk-heading-m clearfix">Users
      <p class="right-aligned-link">
        <a href="" class="govuk-link--no-visited-state">Invite user to case</a>
      </p> 
    </h3>
    <form>
      <div id="table-sort" class="govuk-visually-hidden--desktop"> 
        <div class="govuk-form-group table-sort-select">
          <label class="govuk-label govuk-!-display-inline" for="sort-users">
            Sort your users by
          </label>
          <select class="govuk-select" id="sort-users" name="sort-users">
            <option value="No." selected>Name</option>
            <option value="Case">Email</option>
          </select>
        </div>
        <div class="govuk-form-group table-sort-select">
          <label class="govuk-label govuk-visually-hidden" for="direction-users">
            Direction
          </label>
          <select class="govuk-select" id="direction-users" name="direction-users">
            <option value="Decending" selected>Decending</option>
            <option value="Accending">Accending</option>
          </select>
        </div>

        {{ govukButton({
          text: "Sort",
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </form>  

    <table class="govuk-table sortable mobile-table-border" id="table-header">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">
        A table listing all of the users that are related to the organisation's account
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" aria-sort="ascending">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Name
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Email
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Org role
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header no-sort">
            <span class="govuk-visually-hidden--desktop">Action:</span>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Name: </span><a href="" class="govuk-link--no-visited-state">{{data['rep-user6']}}</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Email: </span><a href="" class="govuk-link--no-visited-state">{{data['rep-email6']}}</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Org role: </span>User
          </td>
          <td class="govuk-table__cell action">
            <span class="govuk-visually-hidden--desktop">Action: </span><a href="#" class="govuk-link--no-visited-state">Edit details <span class="govuk-visually-hidden">{{data['rep-user6']}}</span></a>
          </td>
        </tr>
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Name: </span><a href="" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Email: </span><a href="" class="govuk-link--no-visited-state">{{data['rep-email1']}}</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Org role: </span>Admin user
          </td>
          <td class="govuk-table__cell action">
            <span class="govuk-visually-hidden--desktop">Action: </span><a href="#" class="govuk-link--no-visited-state">Edit details <span class="govuk-visually-hidden">{{data['rep-user1']}}</span></a>
          </td>
        </tr>
        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Name: </span><a href="" class="govuk-link--no-visited-state">{{data['rep-user3']}}</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Email: </span><a href="" class="govuk-link--no-visited-state">{{data['rep-email3']}}</a>
          </td>
          <td class="govuk-table__cell text-overflow">
            <span class="govuk-visually-hidden--desktop">Org role: </span>Admin user
          </td>
          <td class="govuk-table__cell action">
            <span class="govuk-visually-hidden--desktop">Action: </span><a href="#" class="govuk-link--no-visited-state">Edit details <span class="govuk-visually-hidden">{{data['rep-user3']}}</span></a>
          </td>
        </tr>      
      </body>
    </table> 
    {% endset %}

    {% set detailsHTML %}
    <h3 class="govuk-heading-m">Organisation details
    </h3>
    <div class="address-card">
      <div class="address-container">
        <h3 class="govuk-heading-m clearfix">{{data['representative1']}}
          <p class="right-aligned-link">
            <a href="/caseworker/orgs/org-edit-rep-dets?org-edit-type=org-rep&party-type=rep" class="govuk-link--no-visited-state">Edit</a>
          </p> 
        </h3> 
        <dl class="govuk-summary-list govuk-!-margin-bottom-1">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address:</dt>
            <dd class="govuk-summary-list__value">{{data['rep-address1']}} <br>
              {{data['rep-postcode1']}}<br>
              {{data['rep-country1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reg number: </dt>
            <dd class="govuk-summary-list__value">{{data['rep-org-number1']}} 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Web address: </dt>
            <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['rep-web1']}}</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">VAT no: </dt>
            <dd class="govuk-summary-list__value">{{data['rep-vat1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EORI: </dt>
            <dd class="govuk-summary-list__value">{{data['rep-eori1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">D-U-N-S: </dt>
            <dd class="govuk-summary-list__value">{{data['rep-duns1']}}</dd>
          </div>
        </dl> 
        <br>
      </div>
    </div>
    
    {% endset %}



    {{ govukTabs ({
      items: [
      { 
        label: "Case overview",
        id: "caseOverview",
        panel: {
          html: caseOverviewHTML
        }
      },
      { 
        label: "All cases",
        id: "cases",
        panel: {
          html: casesHTML
        }
      },
      { 
        label: "Users",
        id: "users",
        panel: {
          html: usersHTML
        }
      },
      { 
        label: "Details",
        id: "details",
        panel: {
          html: detailsHTML
        }
      }
      ]
    }) }}
  </div>


</div>

{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
