{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Cases: Steel plate from Russia – {{ serviceName }}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width cases-nav party-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
{% set bodyClasses = 'caseworker' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-heading-xl__case-header">
      {{data['case-ref1']}}: {{data['case-name1']}}
      <span class="govuk-heading-s govuk-!-font-weight-regular"><strong>Status:</strong> {{data['status1']}}</span>
    </h1>
    {% include "includes/caseworker-nav-case.html" %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      Parties 
      <p class="right-aligned-link govuk-heading-s">
        <a href="invite-party" class="govuk-link--no-visited-state">Invite party to case</a>
      </p> 
    </h2>
    <form id="table-filter">
      <div id="table-filter"> 
        <div class="govuk-form-group table-sort-select clearfix">
          <label class="govuk-label govuk-!-display-inline govuk-visually-hidden--desktop" for="filter-parties">
            Filter parties by
          </label>
          <select class="govuk-select" id="filter-parties" name="filter-parties">
            <option value="All parties" selected>All roles</option>
            <option value="Importer">Importer</option>
            <option value="Exporter">Exporter</option>
            <option value="Government">Government</option>
          </select>
        </div>

        {{ govukButton({
          text: "Show",
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </form> 
     
    <h3 class="govuk-heading-m">Importer</h3>

    {% set importerSampledHTML %}
    <h4 class="govuk-heading-s">Sampled</h4>

      <details class="govuk-details_orgs">
        <summary class="govuk-details__summary govuk-body">
          {{data['party4']}}
          <span class="right-aligned-link">
            <strong class="govuk-tag govuk-tag--red govuk-link--no-visited-state">Submission waiting</strong>
          </span> 
        </summary>
        <div class="govuk-details__text">
          <span class="right-aligned-link"><a href="" class="govuk-link--no-visited-state">Review submission</a>
          <a href="" class="govuk-link--no-visited-state">Remove from sample list</a></span> 
          <br>
          <br>          
          <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

          <table class="govuk-table sortable1 mobile-table-border " id="table-header">
            <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden">
              A table listing all of the users that are related to this organisation's account
            </caption>
            
              <tr class="govuk-table__row no-border">
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Name: </span><a href="" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a>
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['rep-email1']}}
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Role: </span>{{data['rep-role1']}}
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="#" class="govuk-link--no-visited-state">Edit details <span class="govuk-visually-hidden td-header">{{data['rep-user1']}}</span></a>
                </td>
              </tr>
              <tr class="govuk-table__row no-border">
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Name: </span><a href="" class="govuk-link--no-visited-state">{{data['rep-user3']}}</a>
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['rep-email3']}}
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Role: </span>{{data['rep-role3']}}
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="#" class="govuk-link--no-visited-state">Edit details <span class="govuk-visually-hidden td-header">{{data['rep-user3']}}</span></a>
                </td>
              </tr>
          </table>    
        </div>
      </details>
      <details class="govuk-details_orgs">
        <summary class="govuk-details__summary govuk-body">
          {{data['party1']}}
          <span class="right-aligned-link">
            <strong class="govuk-tag govuk-tag--red govuk-link--no-visited-state">Unverified</strong>
          </span> 
        </summary>
        <p><a href="" class="govuk-link--no-visited-state">Review submission</a></p>
        <p><a href="" class="govuk-link--no-visited-state">Remove from sample list</a></p> 
        <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
      </details>
      <details class="govuk-details_orgs">
        <summary class="govuk-details__summary govuk-body">
          {{data['party2']}}
        </summary>
        <p><a href="" class="govuk-link--no-visited-state">Remove from sample list</a></p> 
        <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
      </details>
      <details class="govuk-details_orgs">
        <summary class="govuk-details__summary govuk-body">
          {{data['party3']}}
        </summary>
        <p><a href="" class="govuk-link--no-visited-state">Remove from sample list</a></p> 
        <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
      </details>

    {% endset %}

    {% set importerNonSampledHTML %}
      <h4 class="govuk-heading-s">Not sampled</h4>
      <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
    {% endset %}



    {{ govukTabs ({
      items: [
      { 
        label: "Sampled",
        id: "importer-sampled",
        panel: {
          html: importerSampledHTML
        }
      },
      { 
        label: "Not sampled",
        id: "importer-nonsampled",
        panel: {
          html: importerNonSampledHTML
        }
      }
      ]
    }) }}

    <h3 class="govuk-heading-m">Other</h3>
    {% set otherSampledHTML %}
    <h4 class="govuk-heading-s">Sampled</h4>
      <details class="govuk-details_orgs">
        <summary class="govuk-details__summary govuk-body">
          {{data['party5']}}
          <span class="right-aligned-link">
            <strong class="govuk-tag govuk-tag--red govuk-link--no-visited-state">Unverified</strong>
          </span> 
        </summary>
        <p><a href="" class="govuk-link--no-visited-state">Verify party</a></p> 
        <p><a href="" class="govuk-link--no-visited-state">Remove from sample list</a></p>

        <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
      </details>
     
     
    {% endset %}

    {% set otherNonSampledHTML %}
      <h4 class="govuk-heading-s">Not sampled</h4>
      <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
    {% endset %}

    {{ govukTabs ({
      items: [
      { 
        label: "Sampled",
        id: "other-sampled",
        panel: {
          html: otherSampledHTML
        }
      },
      { 
        label: "Not sampled",
        id: "other-nonsampled",
        panel: {
          html: otherNonSampledHTML
        }
      }
      ]
    }) }}

    <table class="govuk-table sortable1 mobile-table-border">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"> Importer </th>
          <th class="govuk-table__header" scope="col"> Status </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div>
              <details class="case-details govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    {{data['party1']}}
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <li><a href="#" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a> - {{data['rep-email1']}}</li>
                    <li><a href="#" class="govuk-link--no-visited-state">Simon Williams</a> - s.williams@BlueSteelPartners.com</li>
                    <li><a href="#" class="govuk-link--no-visited-state">Tina Fray</a> - tina.fray@BlueSteelPartners.com</li>
                  </ul>
                </div>
              </details>
            </div>
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red"><a href="#">Unverified</a></strong>
    
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{data['party2']}}
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">New</strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{data['party3']}}
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">New</strong>
  
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{data['party4']}}
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">New</strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{data['party5']}}
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">Verified</strong>
          </td>
        </tr>    
      </tbody>
    </table>

      
  </div>

 </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
