{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Cases: Steel plate from Russia – {{ serviceName }}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width cases-nav party-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/caseworker/dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/caskworker/cases/cases-all">All cases</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/caskworker/cases/case-overview">{{data['case-ref1']}}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Parties
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
{% set bodyClasses = 'caseworker' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-heading-xl__case-header">
      {{data['case-ref1']}}: {{data['case-name1']}}
      <span class="govuk-heading-s govuk-!-font-weight-regular"><strong>Status:</strong> {{data['status1']}}</span>
    </h1>
    {% include "includes/caseworker-nav-case.html" %}
  </div>
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">
      Parties
    </h2>

<form>
  <div id="table-sort"> 
    <div class="govuk-form-group table-sort-select">
      <label class="govuk-label govuk-!-display-inline" for="sort-published">
        Show
      </label>
      <select class="govuk-select" id="sort-published" name="sort-published">
        <option value="No." selected>All types</option>
        <option value="Case">Importer</option>
        <option value="Type">Exporter</option>
        <option value="Applicant">Government</option>
      </select>
    </div>

    {{ govukButton({
      text: "Sort",
      classes: "govuk-button--secondary"
    }) }}
  </div>
</form>  
     
     

     
      
      
      
    </div>

  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
