{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Cases: Steel plate from Russia – {{ serviceName }}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width cases-nav party-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
{% set bodyClasses = 'caseworker' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-heading-xl__case-header">
      {{data['case-ref1']}}: {{data['case-name1']}}
      <span class="govuk-heading-s govuk-!-font-weight-regular"><strong>Status:</strong> {{data['status1']}}</span>
    </h1>
    {% include "includes/caseworker-nav-case.html" %}
  </div>
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">
      Parties 
      <p class="right-aligned-link govuk-heading-s">
        <a href="" class="govuk-link--no-visited-state">Add new party</a>
      </p> 
    </h2>
    <form id="table-filter">
      <div id="table-filter"> 
        <div class="govuk-form-group table-sort-select clearfix">
          <label class="govuk-label govuk-!-display-inline govuk-visually-hidden--desktop" for="filter-parties">
            Filter parties by
          </label>
          <select class="govuk-select" id="filter-parties" name="filter-parties">
            <option value="All parties" selected>All roles</option>
            <option value="Importer">Importer</option>
            <option value="Exporter">Exporter</option>
            <option value="Government">Government</option>
          </select>
        </div>

        {{ govukButton({
          text: "Show",
          classes: "govuk-button--secondary"
        }) }}
      </div>
    </form> 
     
    <h3 class="govuk-heading-m">Importer</h3>
    {% set newPartyHTML %}
    <table class="govuk-table sortable1 mobile-table-border">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"> Importer </th>
          <th class="govuk-table__header" scope="col"> Status </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{data['party1']}}
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red"><a href="#">Unverified</a></strong>
    
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{data['party2']}}
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">New</strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{data['party3']}}
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">New</strong>
  
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{data['party4']}}
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">New</strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{data['party5']}}
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">Verified</strong>
          </td>
        </tr>    
      </tbody>
    </table>

    {% endset %}

    {% set submissionsHTML %}

  
    {% endset %}

    {{ govukTabs ({
      items: [
      { 
        label: "Sampled",
        id: "new-party",
        panel: {
          html: newPartyHTML
        }
      },
      { 
        label: "Not sampled",
        id: "new-submissions",
        panel: {
          html: submissionsHTML
        }
      }
      ]
    }) }}
      
    </div>

  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
