{{ data | log }}

{% extends "layout.html" %}

{% block pageTitle %}
  Cases: Steel plate from Russia – {{ serviceName }}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->

{% set bodyClasses = 'caseworker-width cases-nav case-nav' %}


{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-heading-xl__case-header">
        {{data['case-ref1']}}: {{data['case-name1']}}
        <span class="govuk-heading-s govuk-!-font-weight-regular"><strong>Status:</strong> {{data['status1']}}</span>
      </h1>
      {% include "includes/caseworker-nav-case.html" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Overview</h2>
      
      {% set newPartyHTML %}
      <h3 class="govuk-heading-m">Parties to verify</h3>  
      <p>There are <strong>2</strong> parties waiting to be verified.</p>
      <form>
        <div id="table-sort" class="govuk-visually-hidden--desktop"> 
          <div class="govuk-form-group table-sort-select">
            <label class="govuk-label govuk-!-display-inline" for="sort-party">
              Sort parties by
            </label>
            <select class="govuk-select" id="sort-party" name="sort-party">
              <option value="No." selected>Party</option>
              <option value="Case">User</option>
              <option value="Type">Submission</option>
              <option value="Applicant">Submitted</option>
            </select>
  
            <label class="govuk-label govuk-visually-hidden" for="direction-party">
              Direction
            </label>
            <select class="govuk-select" id="direction-party" name="direction-party">
              <option value="Decending" selected>Decending</option>
              <option value="Accending">Accending</option>
            </select>
          </div>
  
          {{ govukButton({
            text: "Sort",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </form>  
  
      <table class="govuk-table sortable1 mobile-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden">
          A table listing all of the parties waiting to be verified
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Party
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>User
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submission
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header no-sort">
                <span class="govuk-visually-hidden--desktop">Action:</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="#" class="govuk-link--no-visited-state">Glorious Gabon Plc</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="#" class="govuk-link--no-visited-state">ArnieSwarts</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submission: </span>Representative invite
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submitted: </span>22 May 2022
            </td>  
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?duplicate-org=no&third-party=no&notify-contact=no" class="govuk-link--no-visited-state">Verify <span class="govuk-visually-hidden td-header">Glorious Gabon Plc</span></a>
            </td>             
          </tr>
  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="#" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="#" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submission: </span>{{data['party-submission1']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submitted: </span>28 May 2022
            </td>   
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="/caseworker/reg-interest/reginterest-tasks?duplicate-org=yes&third-party=yes&notify-contact=yes" class="govuk-link--no-visited-state">Verify <span class="govuk-visually-hidden td-header">{{data['party1']}}
              </span></a>
            </td>        
          </tr> 
        </body>
      </table>   
      {% endset %}
  
      {% set submissionsHTML %}
      <h3 class="govuk-heading-m">Submissions to check</h3> 
      <p>There are <strong>5</strong> submission waiting for deficicency checks.</p> 
      <form>
        <div id="table-sort" class="govuk-visually-hidden--desktop"> 
          <div class="govuk-form-group table-sort-select">
            <label class="govuk-label govuk-!-display-inline" for="sort-submission">
              Sort sumbissions by
            </label>
            <select class="govuk-select" id="sort-submission" name="sort-submission">
              <option value="No." selected>Party</option>
              <option value="Case">User</option>
              <option value="Type">Submission</option>
              <option value="Applicant">Submitted</option>
            </select>
  
            <label class="govuk-label govuk-visually-hidden" for="direction-submission">
              Direction
            </label>
            <select class="govuk-select" id="direction-submission" name="direction-submission">
              <option value="Decending" selected>Decending</option>
              <option value="Accending">Accending</option>
            </select>
          </div>
  
          {{ govukButton({
            text: "Sort",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </form>  
  
      <table class="govuk-table sortable1 mobile-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden">
          A table listing all of the submission waiting for deficicency checks
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Party
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>User
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submission
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header no-sort">
                <span class="govuk-visually-hidden--desktop">Action:</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="#" class="govuk-link--no-visited-state">Glorious Gabon Plc</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="#" class="govuk-link--no-visited-state">ArnieSwarts</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submission: </span>3rd party invite
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submitted: </span>01 Dec 2019
            </td>  
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="" class="govuk-link--no-visited-state">Check <span class="govuk-visually-hidden td-header">submission from Glorious Gabon Plc</span></a>
            </td>             
          </tr>
        
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="#" class="govuk-link--no-visited-state">Tabon Holdings</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="#" class="govuk-link--no-visited-state">SnailTrail</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submission: </span>Applicant
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submitted: </span>12 May 2022
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="" class="govuk-link--no-visited-state">Check <span class="govuk-visually-hidden td-header">submission from Tabon Holdings</span></a>
            </td>    
          </tr>
  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="#" class="govuk-link--no-visited-state">Farnets First Ltd</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="#" class="govuk-link--no-visited-state">JessRabbit</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submission: </span>Questionnaire
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submitted: </span>13 April 2021
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="" class="govuk-link--no-visited-state">Check <span class="govuk-visually-hidden td-header">submission from Farnets First Ltd</span></a>
            </td>    
          </tr>
  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="#" class="govuk-link--no-visited-state">{{data['party1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="#" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submission: </span>{{data['submission1']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submitted: </span>{{data['register-date1']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="" class="govuk-link--no-visited-state">Check <span class="govuk-visually-hidden td-header">submission from {{data['party1']}}
              </span></a>
            </td>    
          </tr>
  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="#" class="govuk-link--no-visited-state">TEA ADVISORY LIMITED</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="#" class="govuk-link--no-visited-state">PGTips</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submission: </span>Assign user to case
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submitted: </span>31 Jan 2022
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="" class="govuk-link--no-visited-state">Check <span class="govuk-visually-hidden td-header">submission from TEA ADVISORY LIMITED</span></a>
            </td>               
          </tr>
        </body>
      </table>   
      {% endset %}
  
      {% set submissionsPublishHTML %}
      <h3 class="govuk-heading-m">Submissions to publish</h3>  
      <p>There is <strong>1</strong> submission waiting to be published.</p>
      <form>
        <div id="table-sort" class="govuk-visually-hidden--desktop"> 
          <div class="govuk-form-group table-sort-select">
            <label class="govuk-label govuk-!-display-inline" for="sort-published">
              Sort sumbissions by
            </label>
            <select class="govuk-select" id="sort-published" name="sort-published">
              <option value="No." selected>Party</option>
              <option value="Case">User</option>
              <option value="Type">Submission</option>
              <option value="Applicant">Submitted</option>
            </select>
  
            <label class="govuk-label govuk-visually-hidden" for="direction-published">
              Direction
            </label>
            <select class="govuk-select" id="direction-published" name="direction-published">
              <option value="Decending" selected>Decending</option>
              <option value="Accending">Accending</option>
            </select>
          </div>
  
          {{ govukButton({
            text: "Sort",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </form>  
      <table class="govuk-table sortable1 mobile-table-border" id="table-header">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden">
          A table listing submissions waiting to be published
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" aria-sort="ascending">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Party
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>User
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submission
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header">
              <button class="govuk-button govuk-button--secondary">
                <span class="govuk-visually-hidden--desktop">Sort by: </span>Submitted
                <span class="indicator" aria-hidden="true"></span>
              </button>
            </th>
            <th class="govuk-table__header no-sort">
                <span class="govuk-visually-hidden--desktop">Action:</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Party: </span><a href="#" class="govuk-link--no-visited-state">Tabon Holdings</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="#" class="govuk-link--no-visited-state">SnailTrail</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submission: </span>Applicant
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Submitted: </span>12 May 2022
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="" class="govuk-link--no-visited-state">Publish <span class="govuk-visually-hidden td-header">Tabon Holdings submissions</span></a>
            </td>  
          </tr>
        </body>
      </table>  

        {% endset %}
  
        {{ govukTabs ({
          items: [
          { 
            label: "Parties to verify (2)",
            id: "new-party",
            panel: {
              html: newPartyHTML
            }
          },
          { 
            label: "Submissions to check (5)",
            id: "new-submissions",
            panel: {
              html: submissionsHTML
            }
          },
          { 
            label: "Submissions to publish (1)",
            id: "submissions-publish",
            panel: {
              html: submissionsPublishHTML
            }
          }
          ]
        }) }}
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Case details</h2>
      <ul class="govuk-list">
        <li>Applicant: <a href="" class="govuk-link--no-visited-state">{{data['applicant1']}}</a></li>
        <li>Type: <a href="" class="govuk-link--no-visited-state">{{data['case-type1']}}</a></li>
        <li>Status: {{data['status1']}}</li>
        <li>Created: {{data['created1']}}</li>
        <li><a href="" class="govuk-link--no-visited-state">Public file</a></li>
      </ul>  
      <h2 class="govuk-heading-m">Case administration</h2>
      <ul class="govuk-list">
        <li><a href="" class="govuk-link--no-visited-state">Case documents</a></li>
        <li><a href="" class="govuk-link--no-visited-state">Administrator controls</a></li>
      </ul>  


    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Team members</h2> 
      <h3 class="govuk-heading-s">TRA Investigators</h3>
      <ul class="govuk-list">
        <li><a href="" class="govuk-link--no-visited-state">Bob Tyler - bob.tyler@TRA.gov.uk</a></li>
        <li><a href="" class="govuk-link--no-visited-state">Lauri Wotner - lauri.wotner@tra.gov.uk</a></li>
        <li><a href="" class="govuk-link--no-visited-state">Colin Totnes - colin.totnes@tra.gov.uk</a></li>
      </ul> 
      <h3 class="govuk-heading-s">TRA Administrators</h3>
      <ul class="govuk-list">
        <li><a href="" class="govuk-link--no-visited-state">Johnny John- johnny.john@TRA.gov.uk</a></li>
      </ul>  
      <h3 class="govuk-heading-s">Head of Investigations</h3>
      <ul class="govuk-list">
        <li><a href="" class="govuk-link--no-visited-state">Sabrina Watch - sabrina.watch@TRA.gov.uk</a></li>
      </ul>  
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
