{% extends "layout.html" %}

{% block pageTitle %}
  Choose case - {{serviceName}}
{% endblock %}

{% block header %}
Short version<br>

<a href="/caseworker/cases/invite/verify-rep-invite/verify-loa-existing?verify-type=rep-invite&duplicate-org=no&third-party=yes&notify-contact=yes"></href><img src="/public/images/existing-parties-page.png"></a><br>
Task list version<br>
<a href="../reg-interest/reginterest-tasks?verify-type=rep-invite&duplicate-org=no&third-party=yes&notify-contact=yes"></href><img src="/public/images/existing-parties-page.png"></a>
{% endblock %}

{% block content %}

   
{% endblock %}