{% extends "layout.html" %}

{% block pageTitle %}
  Invite contact details - {{serviceName}}
{% endblock %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width cases-nav' %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    <form action="/invite-party-contacts-choice-route" novalidate method="post" id="invite-party-contacts-choice-form">

      {% set user1HTML %}
        {{data['party-user1'] }} - {{data['party-email1'] }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "reginterest-auth-choose-contact",
        name: "invite-party-contacts-choice",
        fieldset: {
          legend: {
            text: "Who is your contact?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
               
        items: [
          {
            value: "user1",
            html: user1HTML,
            checked: checked("invite-party-contacts-choice", "user1")
          },
          {
            divider: "or"
          },
          {
            value: "new-contact",
            text: "Add new contact",
            checked: checked("invite-party-contacts-choice", "new-contact")
          }
        ]
      }) }}  

      

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}    
        <a class="govuk-link" govuk-link--no-visited-state href="javascript: history.back()">Back</a>
      </div>

    </form>
    
  </div>

</div>

{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}


