{% extends "layout.html" %}

{% block pageTitle %}
  Check and submit – {{serviceName}}
{% endblock %}

{% block header %}
 {% include "includes/header-caseworker.html" %}
{% endblock %}

<!-- This sets a body class for the whole page, changing the standard width and indication which section the user is on in the navigation-->
{% set bodyClasses = 'caseworker-width cases-nav' %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Review your answers
    </h1>

    <h2 class="govuk-heading-m">Your invite</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['case-ref1']}} - {{data['case-name1']}}
        </dd>
      </div>
    </dl>
    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['invite-party-contacts-choice'] == "new-contact" %}
            {{data['invite-party-org-name'] or "BlueSteel Partners"}}
            {% else %}
            BlueSteel Partners
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="invite-party">
            Change
            <span class="govuk-visually-hidden"> organisation</span>
          </a>
        </dd>
      </div>
    </dl>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact details
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['invite-party-contacts-choice'] == "new-contact" %}
            {{data['invite-contact-name'] or data['rep-user3']}} <br>
            {{data['invite-contact-email'] or data['rep-email3']}}
            {% else %}
            {% if data['invite-party-contacts-choice'] == "user1" %}
              {{data['rep-user1']}}<br> {{data['rep-email1']}}
              {% else %}
              {{data['rep-user6']}} <br> {{data['rep-email6']}}
            {% endif %}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="invite-party-contacts-choice">
            Change
            <span class="govuk-visually-hidden"> contact</span>
          </a>
        </dd>
        
      </div>
    
    </dl>
   

    <h2 class="govuk-heading-m">Now send your invite</h2>
    <p>Check this information carefully before sending. </p>
    
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm and send invite",
        href: "invite-party-complete"
      }) }}    
      <a class="govuk-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

    </div>

    </form>


</div>

</div>
{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}