{% extends "layout.html" %}

{% block pageTitle %}
  User details - {{serviceName}}
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}


{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="reginterest-tasks?which-org-task=complete" novalidate method="post" id="reginterest-contact-name-form">  
        
        {% call govukFieldset({
          legend: {
            text: "Who are you inviting?",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        {{ govukInput({
          label: {
            text: "Enter the users name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-20",
          id: "invite-user-name",
          name: "invite-user-name",
          type: "text",
          autocomplete: "name",
          value: data['invite-user-name']

        }) }}
  
        {{ govukInput({
          label: {
            text: "Users email address",
            classes: "govuk-label--s"
          },
          id: "invite-user-email",
          name: "invite-user-email",
          classes: "govuk-input--width-20",
          type: "email",
          autocomplete: "email",
          value: data['invite-user-email']
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
          <a class="govuk-link" href="javascript: history.back()">Back</a>
        </div>



        {% endcall %} 

      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}