{% extends "layout.html" %}

{% block pageTitle %}
  Choose case - {{serviceName}}
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}


{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">   
    

      <form action="invite-user-check" method="post" id="invite-case-form">   

        {% set CaseHTML %}
        {{ data['case-ref1'] }} - {{ data['case-name1'] }}
        {% endset -%}
        
        {{ govukRadios({
          idPrefix: "invite-case",
          name: "invite-case",
          fieldset: {
            legend: {
              text: "Which case?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select the case you would like them to participate in."
          },
          items: [
          {
            value: "case1",
            html: CaseHTML,
            checked: checked("invite-case", "case1")

          },
          {
            divider: "or"
          },
          {
            value: "no-case",
            text: "Assign a case later",
            checked: checked("invite-case", "no-case")
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "Why can’t I view more active cases?",
          html: '<p>You can only select cases that you are currently participating in.</p>
          <p> You can <a href="" class="govuk-link">Register Interest</a> in an active case and then invite your employee if accepted.</p>'
        }) }}
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
          <a class="govuk-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
        </div>

        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}