{% extends "layout.html" %}

{% block pageTitle %}
  Invite new user - {{service-name}}
{% endblock %}

{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="manage-org">Manage my organsiation</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Invite new user
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    

      <form action="/invite-type-route" method="post" id="invite-type-form">   
        
        {{ govukRadios({
          idPrefix: "invite-user-type",
          name: "invite-user-type",
          fieldset: {
            legend: {
              text: "Who are you inviting?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
          {
            value: "own-org",
            text: "Someone who works directly for my organisation",
            checked: false
          },
          {
            value: "third-party",
            text: "3rd party representative who works on behalf of my organisation on a particular case e.g. laywer",
            checked: false
            }
          ]
        }) }}
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
          <a class="govuk-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
        </div>

        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}