{% extends "layout.html" %}

{% block pageTitle %}
  Invite representative – {{serviceName}}
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Representative invite
    </h1>
    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <p>
            {{data ['invite-rep-task'] or "Draft"}}<br>
            <span id="date"></span>
          </p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case details
        </dt>
        <dd class="govuk-summary-list__value">
          <p><a href="">
              {{data ['invite-rep-what-case'] or "AD2224 - Steel plate from Russia"}}
             </a><br>
          </p>
        </dd>
      </div>

      <script>
        const date = new Date();
        const formattedDate = date.toLocaleDateString('en-GB', {
          day: '2-digit', month: 'short', year: 'numeric'
        }).replace(/ /g, ' ');
        document.getElementById("date").innerHTML = formattedDate;
      </script>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Details
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['invite-rep-name'] or "Tiny Williams"}}<br>
          {{data['invite-rep-email'] or "t.w@email.com"}}<br>


          <!--if it is a complete app show address details-->
          {% if data['invite-rep-task'] == "Sent" %}

            <!-- And show new or existing org name-->     
              {% if (data['invite-uk-reg'] == "yes") %}
                Steel UK
                  {% else %}
                    {% if (data['invite-uk-reg'] == "no") %}
                      {{data['invite-org-name']}}<br>
                        {% else %}
                    {% endif %}
              {% endif %}
          {% endif %}
        </dd>        
      </div>
    
      {% if data['invite-rep-task'] == "Sent" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Letter of Authority
          </dt>
          <dd class="govuk-summary-list__value">
            <!--if it is a complete app show doc details-->
            {% if data['reginterest-task'] == "Submitted" %}
              <a href="">loa.docx</a>
            {% endif %}
          </dd>
        </div>
      {% endif %} 
    </dl>

    {% if data['invite-rep-task'] == "Draft" %}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue application",
          href: "tasklist/invite-rep-tasks?tasklist-type=invite-rep&invite-case-task=complete"
        }) }}    
        <a class="govuk-link govuk-link--no-visited-state" href="invite-delete-draft">Delete application</a>
      </div>
    {% endif %}
</div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Read the guidance documents</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="link" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process" target="_blank">Trade remedies investigations process (opens in a new window or tab)</a>
          </li>  
          
          <li>
            <br>
            <strong>Email the case team</strong>   
              {% if (data['regnterest-due-date'] == "current") %}
                <a class="govuk-link govuk-link--no-visited-state" href="">{{data['case-ref1']}}@traderemedies.gov.uk</a>
                {% else %}       
                  <a class="govuk-link govuk-link--no-visited-state" href="">{{data['case-ref']}}@traderemedies.gov.uk</a>
              {% endif %}
          </li> 
        </ul>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
