{% extends "layout.html" %}

{% block pageTitle %}
Cancel invite - {{serviceName}}
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Cancel invite
      </h1>

      <p>Are you sure you want to cancel this invite?</p>
      
      <p>{{data['invite-user-name'] or "Jane Winder"}}: {{data['invite-user-email'] or "jane@email.com" }}/p>
      <form action="manage-org#manage-team" method="post" id="cancel-invite-form">
      <input type="hidden" id="show-invite" name="show-invite" value="no">
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Cancel invite"
        }) }}    
       <a class="govuk-link govuk-link--no-visited-state"  href="javascript: history.back()">No</a>
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}