{% extends "layout.html" %}

{% block pageTitle %}
  User permissions - {{serviceName}}
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}


{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    

      <form action="invite-user-details" method="post" id="invite-permissions-form">   
        
        {{ govukRadios({
          idPrefix: "invite-user-permissions",
          name: "invite-user-permissions",
          fieldset: {
            legend: {
              text: "Select the users permissions",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
          {
            value: "Regular user",
            text: "Regular user: they will be able to access and interact with specific cases",
            checked: checked("invite-user-permissions", "Regular user")
          },
          {
            value: "Admin user",
            text: "Admin user: as with a Regular user but they will also be able to assign cases and manage users",
            checked: checked("invite-user-permissions", "Admin user")
            }
          ]
        }) }}
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}    
          <a class="govuk-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
        </div>

        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}