{% extends "layout.html" %}

{% block pageTitle %}
  Manage my organisation – {{serviceName}}
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}


{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Manage users
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Manage users
    </h1>

      
    <p>Manage your users giving them access to cases or admin rights for this account.
        <span class="govuk-body right-aligned-link">
        <a href="invite/invite-user-type?tasklist-type=invite-rep&existing-cases-reps=yes" class="govuk-link--no-visited-state">Invite new user</a>
      </span>
    </p>

    <form>
      <div id="table-sort" class="govuk-visually-hidden--desktop"> 
        <div class="govuk-form-group table-sort-select">
          <label class="govuk-label govuk-!-display-inline" for="sort-user">
            Sort users by
          </label>
          <select class="govuk-select" id="sort-user" name="sort-user">
            <option value="User" selected>User</option>
            <option value="Email">Email</option>
            <option value="Account role">Account role</option>
            <option value="Number of cases">Number of cases</option>
          </select>

          <label class="govuk-label govuk-visually-hidden" for="direction-users">
            Direction
          </label>
          <select class="govuk-select" id="direction-users" name="direction-users">
            <option value="Decending" selected>Decending</option>
            <option value="Accending">Accending</option>
          </select>

        {{ govukButton({
          text: "Sort users",
          classes: "govuk-button--secondary"
        }) }}
        </div>    
      </div>
    </form>

    <table class="govuk-table sortable mobile-table-border desktop-table-border" id="table-header">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden">
        A table listing all of the users that have access to this organisations account
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-width-one-third" aria-sort="ascending">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>User
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Email
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Role/ Status
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header">
            <button class="govuk-button govuk-button--secondary">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Cases
              <span class="indicator" aria-hidden="true"></span>
            </button>
          </th>
          <th class="govuk-table__header no-sort">
              <span class="govuk-visually-hidden--desktop">Action: </span>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <!--Determine who is signed in -->
        
        {% if (data['who-signin'] == "rep") or (data['who-signin'] == "rep-invite")  %}
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="#" class="govuk-link--no-visited-state">{{data['rep-user6']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['rep-email6']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>{{data['rep-user-role6']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Cases: </span>2
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="#" class="govuk-link--no-visited-state">Assign/remove case</a>
            </td>
          </tr>

          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="#" class="govuk-link--no-visited-state">{{data['rep-user1']}}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['rep-email1']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>{{data['rep-user-role1']}}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Cases: </span>3
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="#" class="govuk-link--no-visited-state">Assign/remove case</a>
            </td>
          </tr>

          {% else %}
          {% if (data['who-signin'] == "org") or (data['who-signin'] == "org-invite")  %}
            <tr class="govuk-table__row no-border">
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="" class="govuk-link--no-visited-state">{{data['createaccount-name'] or data['party-user1'] }}</a>
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['createaccount-email'] or data['party-email1'] }}
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>Admin user
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop td-header">Cases: </span>1
              </td>
              <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="user-account#cases" class="govuk-link--no-visited-state">Assign/remove case</a>
              </td>
            </tr>
            {% if (data['show-invite-org'] == "yes") %}
              <tr class="govuk-table__row no-border">
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">User: </span>{{data['invite-user-name'] or data['party-user11'] }}
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['invite-user-email'] or data['party-email11'] }}
                </td>
                <td class="govuk-table__cell field-italics">
                  <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>Invite sent
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Cases: </span>0
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="invite/invite-app-details-org" class="govuk-link--no-visited-state">View invite</a>
                </td>
              </tr>
            {% endif %}
            {% if (data['show-invite-rep'] == "yes") %}
              <tr class="govuk-table__row no-border">
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">User: </span>{{data['invite-user-name'] or data['rep-user3'] }}
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['invite-user-email'] or data['rep-email3'] }}
                </td>
                <td class="govuk-table__cell field-italics">
                  <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>Invite sent
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Cases: </span>0
                </td>
                <td class="govuk-table__cell">
                  <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="invite/invite-app-details?invite-rep-task=Draft" class="govuk-link--no-visited-state">View invite</a>
                </td>
              </tr>
            {% endif %}
          {% endif %}

        <!--All status-->
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span>{{data['party-user11']}}
            </td>
            <td class="govuk-table__cell field-grey">
              <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['party-email11']}}
            </td>
            <td class="govuk-table__cell field-grey">
              <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>Invite sent
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Cases: </span>0
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="invite/invite-app-details-org" class="govuk-link--no-visited-state">View invite</a>
            </td>
          </tr>  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="user-account-own-org" class="govuk-link govuk-link--no-visited-state">{{data['party-user11']}}</a>
            </td>
            <td class="govuk-table__cell field-grey">
              <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['party-email11']}}
            </td>
            <td class="govuk-table__cell field-grey">
              <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>Admin user
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Cases: </span>1
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="#" class="govuk-link--no-visited-state">Assign/remove case</a>
            </td>
          </tr>  
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="user-account-own-org" class="govuk-link govuk-link--no-visited-state">{{data['party-user11']}}</a>
            </td>
            <td class="govuk-table__cell field-grey">
              <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['party-email11']}}
            </td>
            <td class="govuk-table__cell field-grey">
              <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>User
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Cases: </span>1
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="#" class="govuk-link--no-visited-state">Assign/remove case</a>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="user-account-own-org" class="govuk-link govuk-link--no-visited-state">{{data['party-user11']}}</a>
            </td>
            <td class="govuk-table__cell field-grey">
              <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['party-email11']}}
            </td>
            <td class="govuk-table__cell field-grey">
              <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>De-activated
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Cases: </span>0
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="#" class="govuk-link--no-visited-state">Activate</a>
            </td>
          </tr>    
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span>{{data['rep-user3'] }}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['rep-email3'] }}
            </td>
            <td class="govuk-table__cell field-italics">
              <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>Draft
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Cases: </span>0
            </td>
            <td class="govuk-table__cell">
                <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="invite/invite-app-details?invite-rep-task=Draft" class="govuk-link--no-visited-state">View invite</a>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span>{{data['rep-user3'] }}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['rep-email3'] }}
            </td>
            <td class="govuk-table__cell field-italics">
              <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>Invite sent
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Cases: </span>0
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="invite/invite-app-details?invite-rep-task=Sent" class="govuk-link--no-visited-state">View invite</a>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span>{{data['rep-user3'] }}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['rep-email3'] }}
            </td>
            <td class="govuk-table__cell field-italics">
              <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>Invite accepted
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Cases: </span>0
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="invite/invite-app-details?invite-rep-task=Accepted" class="govuk-link--no-visited-state">View invite</a>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span>{{data['rep-user3'] }}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['rep-email3'] }}
            </td>
            <td class="govuk-table__cell field-italics">
              <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>Invite approved
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Cases: </span>0
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="invite/invite-app-details?invite-rep-task=Approved" class="govuk-link--no-visited-state">View invite</a>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span>{{data['rep-user3'] }}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['rep-email3'] }}
            </td>
            <td class="govuk-table__cell field-italics">
              <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>Invite rejected
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Cases: </span>0
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="invite/invite-app-details?invite-rep-task=Rejected" class="govuk-link--no-visited-state">View invite</a>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span>{{data['rep-user3'] }}
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['rep-email3'] }}
            </td>
            <td class="govuk-table__cell field-italics">
              <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>Deficient
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Cases: </span>0
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="invite/invite-app-details?invite-rep-task=Deficient" class="govuk-link--no-visited-state">View invite</a>
            </td>
          </tr>
          <tr class="govuk-table__row no-border">
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">User: </span><a href="user-account-rep" class="govuk-link--no-visited-state">{{data['rep-user3'] }}</a>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['rep-email3'] }}
            </td>
            <td class="govuk-table__cell field-italics">
              <span class="govuk-visually-hidden--desktop td-header">Role/ Status: </span>Representative
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Cases: </span>1
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-visually-hidden--desktop td-header">Action: </span><a href="" class="govuk-link--no-visited-state">Assign/remove case</a>
            </td>
          </tr>
        {% endif %}
      </body>
    </table>
    
  </div>
</div>


{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}