{% extends "layout.html" %}

{% block pageTitle %}
Manage user - {{serviceName}}
{% endblock %}

{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-org">Manage organisation</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Manage user
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Manage user
      </h1>
      <h2 class="govuk-heading-m">User details</h2>

      <div class="address-card">
        <div class="address-container">
          <h3 class="govuk-heading-s">User invite
            <span class="cancel-invite-link govuk-body">
              <a href="invite-user-cancel?cancel-invite=rep" alt="Cancel invite" title="Cancel invite" class="govuk-link govuk-link--no-visited-state">Cancel invite</a>
            </span>
          </h3>
          <p>
            {{data ['invite-rep-what-case'] or "AD2224 - Steel plate from Russia"}}<br>
            Status: {{data['invite-rep-task']}} (<span id="date"></span>)
          </p>
        </div>
      </div>

      <script>
        const date = new Date();
        const formattedDate = date.toLocaleDateString('en-GB', {
          day: '2-digit', month: 'short', year: 'numeric'
        }).replace(/ /g, ' ');
        document.getElementById("date").innerHTML = formattedDate;
      </script>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['invite-rep-name'] or data['rep-user1'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['invite-rep-email'] or data['rep-email1'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            User type
          </dt>
          <dd class="govuk-summary-list__value">
              Representative 
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Organisation</h2>
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name:</dt>
          <dd class="govuk-summary-list__value">
            {{data['invite-org-name'] or data['representative1'] }}
          </dd>
        </div>
      </dl>
      
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}