{% extends "layout.html" %}

{% block pageTitle %}
Manage user - {{serviceName}}
{% endblock %}

{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-org">Manage organisation</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Manage user
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Manage user
      </h1>
      <h2 class="govuk-heading-m">User details</h2>

      <div class="address-card">
        <div class="address-container">
          <h3 class="govuk-heading-s">User invite
          </h3>
          <p>Status: awaiting approval  
            <span class="cancel-invite-link">
              <a href="" alt="Cancel invite" title="Cancel invite" class="govuk-link govuk-link--no-visited-state">View invite</a>
            </span><br>
            {{data ['invite-rep-what-case'] }} or "AD2224 - Steel plate from Russia"}}
            <br> 
            <span class="govuk-body-s"><span id="date"></span></span>
          </p>
        </div>
      </div>


            <script>
              const date = new Date();
              const formattedDate = date.toLocaleDateString('en-GB', {
                day: '2-digit', month: 'short', year: 'numeric'
              }).replace(/ /g, ' ');
              document.getElementById("date").innerHTML = formattedDate;
          </script>


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Harry Stylier
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            harry.stylier@Steelers.com
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            User type
          </dt>
          <dd class="govuk-summary-list__value">
              Representative 
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            Active
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cases
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link--no-visited-state" href="">AD12345 - Chips</a>
              </li>
              <li><a class="govuk-link--no-visited-state" href="">BA65435 - Sausages</a>
              </li>
            </ul>
          </dd>
        </div>
      </dl>

     

      <h2 class="govuk-heading-m">Organisation</h2>
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name:</dt>
          <dd class="govuk-summary-list__value">
          {% if data['createaccount-org-name'] != null %}
            {{data['createaccount-org-name']}}
            {% else %}
              {{data['representative1']}}
          {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Address:</dt>
          <dd class="govuk-summary-list__value">345, The Shard, London <br>
            EC2 3TF<br>
            United Kingdom
          </dd>
        </div>
      </dl>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Update sign in details</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link--no-visited-state" href="account-details">Change user details</a>
            </li> 
            <li>
              <a class="govuk-link--no-visited-state" href="account-changepass">Manage user cases</a>
            </li>    
            <li>
              <a class="govuk-link--no-visited-state" href="account-2fa">Change organisation details</a>
            </li>  
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}