{% extends "layout.html" %}

{% block pageTitle %}
  User account details - {{serviceName}}
{% endblock %}

{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-org-user">Manage users</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      User account details
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
       User account details
      </h1>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['rep-user3']}}<br>
            {{data['rep-email3']}}<br>
            +447821945085<br><br>
            {{data['representative1'] }}<br>
            {{data['party-address1']}} <br>
            {{data['party-postcode1']}}<br>
            {{data['party-country1']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!--<a class="govuk-link--no-visited-state" href="user-account-status">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
             -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            Active          
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link--no-visited-state" href="user-account-status">
              Change<span class="govuk-visually-hidden"> account tatus</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Permission
          </dt>
          <dd class="govuk-summary-list__value">
            Representative
          </dd>
          <dd class="govuk-summary-list__actions">
            <!--
              <a class="govuk-link--no-visited-state" href="user-account-permiss">
                Change<span class="govuk-visually-hidden"> account permissions</span>
              </a>
            -->
          </dd>
         
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cases
          </dt>
          <dd class="govuk-summary-list__value">
            <p><a href="" class="govuk-link--no-visited-state">{{data['case-ref1']}} - {{data['case-name1']}}</a><br>(Primary contact)</p>
            <p><a href="" class="govuk-link--no-visited-state">{{data['case-ref2']}} - {{data['case-name2']}}</a><br> (Primary contact)</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link--no-visited-state" href="#">
              	Assign/remove<span class="govuk-visually-hidden"> cases</span>
            </a>
          </dd>
        </div>                                   
      </dl>
      <span class="govuk-body">
          <a href="" class="govuk-link--no-visited-state">Remove user</a>
        </span>
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}