{% extends "layout.html" %}

{% block pageTitle %}
  Change account permission - {{serviceName}}
{% endblock %}

{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-org-user">Manage users</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="user-account-rep">User details</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Change account permissions
    </li>
  </ol>
</div>


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="user-account-own-org" method="post" id="account-update-details-form"> 

        {% if data['account-user'] =="party-user11" %}
          {{ govukRadios({
              idPrefix: "party-user11-permissions",
              name: "party-user11-permissions",
              fieldset: {
                legend: {
                  text: "Change account permissions",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              items: [
              {
                value: "User",
                text: "User: they can access and interact with specific cases",
                checked: checked("party-user11-permissions", "User")
              },
              {
                value: "Admin user",
                text: "Admin user: they can access and interact with cases, assign cases and manage other team members",
                checked: checked("party-user11-permissions", "Admin user")
                }
              ]
            }) }}    
          {% else %}
          {{ govukRadios({
              idPrefix: "party-user6-permissions",
              name: "party-user6-permissions",
              fieldset: {
                legend: {
                  text: "Change account permissions",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              items: [
              {
                value: "User",
                text: "User: they can access and interact with specific cases",
                checked: checked("party-user6-permissions", "User")
              },
              {
                value: "Admin user",
                text: "Admin user: they can access and interact with cases, assign cases and manage other team members",
                checked: checked("party-user6-permissions", "Admin user")
                }
              ]
            }) }}    
        {% endif %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit"
          }) }}    
          <a class="govuk-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}