{% extends "layout.html" %}

{% block pageTitle %}
  Invite representative – {{serviceName}}
{% endblock %}

{% block header %}
 {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}

 <a class="govuk-back-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Representative invite
    </h1>
    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['invite-rep-task'] == "Deficient" %}
            <p><strong class="govuk-tag govuk-tag--pink" id="pre-sampling-upload-status">Deficient documentation</strong></p>
            {{ govukButton({
              text: "Review documentation",
              href: "tasklist/invite-rep-tasks"
            }) }}  
            <p><span id="date"></span></p>
            {% else %}
            {% if data['invite-rep-task'] == "Draft" %}
              <p>Draft<br>
              <span id="date"></span></p>
              {% else %}
              {% if data['invite-rep-task'] == "Sent" %}
                <p>Invite sent<br>Awaiting invitee acceptance<br>
                <span id="date"></span></p>
                {% else %}
                {% if data['invite-rep-task'] == "Accepted" %}
                  <p>Invite accepted <br>Awaiting TRA approval<br>
                  <span id="date"></span></p>
                  {% else %}
                  {% if data['invite-rep-task'] == "Approved" %}
                    <p>Invite approved<br>Approved by the TRA <br>
                    <span id="date"></span></p>
                  {% endif %}
                  {% if data['invite-rep-task'] == "Rejected" %}
                    <p>Invite rejected by the TRA <br>
                    <span id="date"></span></p>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}


          {% if data['invite-rep-task'] == "All" %}
            <p>Draft<br><br>
            <p>Invite sent<br>Awaiting invitee acceptance<br></p>
            <p>Invite accepted <br>Awaiting TRA approval<br></p>
            <p>Invite approved <br>Approved by the TRA <br></p>
            <p>Invite rejected <br>Invite rejected by the TRA <br><br></p>
            <p><strong class="govuk-tag govuk-tag--pink" id="pre-sampling-upload-status">Deficient documentation</strong><br>
            </p>
            {{ govukButton({
              text: "Review documentation",
              href: "tasklist/invite-rep-tasks"
            }) }}  
            <p><span id="date"></span></p>
          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case details
        </dt>
        <dd class="govuk-summary-list__value">
          <p><a href="">
              {{data ['invite-rep-what-case'] or "AD2224 - Steel plate from Russia"}}
             </a><br>
          </p>
        </dd>
      </div>

      <script>
        const date = new Date();
        const formattedDate = date.toLocaleDateString('en-GB', {
          day: '2-digit', month: 'short', year: 'numeric'
        }).replace(/ /g, ' ');
        document.getElementById("date").innerHTML = formattedDate;
      </script>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Representative details
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['invite-rep-name'] or data['rep-user3'] }}
          <br>
          {{data['invite-rep-email'] or data['rep-email3'] }}
          <br><br>
          BlueSteel Partners
        </dd>        
      </div>
    
      {% if data['invite-rep-task'] != "Draft"  %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Letter of Authority
          </dt>
          <dd class="govuk-summary-list__value">
              <a href="">loa.docx</a>
          </dd>
        </div>
      {% endif %} 
    </dl>

   
      <div class="govuk-button-group">
        {% if data['invite-rep-task'] == "Draft" or data['invite-rep-task'] == "All" %}
          {{ govukButton({
            text: "Continue application",
            href: "tasklist/invite-rep-tasks?tasklist-type=invite-rep&invite-case-task=complete"
          }) }}  
          <a class="govuk-link govuk-link--no-visited-state" href="invite-delete-draft">Delete invite</a>
        {% endif %} 
      </div>
      <div class="govuk-button-group">
        {% if data['invite-rep-task'] == "Sent" or data['invite-rep-task'] == "All" %}
          {{ govukButton({
            text: "Cancel invite",
            href: "invite-user-cancel"
          }) }}  
        {% endif %} 
      </div>
    
</div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Read the guidance documents</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="link" href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process" target="_blank">Trade remedies investigations process (opens in a new window or tab)</a>
          </li>  
          
          <li>
            <br>
            <strong>Email the case team</strong>   
              {% if (data['regnterest-due-date'] == "current") %}
                <a class="govuk-link govuk-link--no-visited-state" href="">{{data['case-ref1']}}@traderemedies.gov.uk</a>
                {% else %}       
                  <a class="govuk-link govuk-link--no-visited-state" href="">{{data['case-ref']}}@traderemedies.gov.uk</a>
              {% endif %}
          </li> 
        </ul>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
