{% extends "layout.html" %}

{% block pageTitle %}
  Change account permission - {{serviceName}}
{% endblock %}

{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-org-cases">Manage cases</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {% if data['account-user'] =="rep-user3" %}
        <a class="govuk-breadcrumbs__link" href="user-account-rep">case details</a>
        {% else %}
        <a class="govuk-breadcrumbs__link" href="user-account-own-org">Case contacts</a>
      {% endif%}
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Change case permission
    </li>
  </ol>
</div>


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="user-account-own-org" method="post" id="account-update-details-form"> 

        {% if data['account-user'] =="party-user11" %}

          {{ govukRadios({
              idPrefix: "party-user11-case-case-permissions",
              name: "party-user11--case-permissions",
              fieldset: {
                legend: {
                  text: "Change case permission",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              hint: {
                html: 'Choose how {{party-user11}} interacts with the the case {{case-no}}'
              },
              items: [
               {
                value: "Primary",
                text: "Primary: they can access and interact with the case, and are a key organisation contact for the case",
                checked: checked("party-user6-case-permissions", "Primary contact")
                },
                {
                  value: "User",
                  text: "User: they can access and interact with the case on behalf of the organisation",
                  checked: checked("party-user6-case-permissions", "User")
                },
                {
                value: "None",
                text: "None: they will be removed from being able to access the case",
                checked: checked("party-user6-case-permissions", "None")
                }
              ]
            }) }}    
          {% else %}
          {{ govukRadios({
              idPrefix: "party-user6-case-permissions",
              name: "party-user6-case-permissions",
              fieldset: {
                legend: {
                  text: "Change case permissions",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              items: [
                {
                value: "Primary",
                text: "Primary: they can access and interact with the case, and are a key organisation contact for the case",
                checked: checked("party-user6-case-permissions", "Primary contact")
                },
                {
                  value: "User",
                  text: "User: they can access and interact with the case on behalf of the organisation",
                  checked: checked("party-user6-case-permissions", "User")
                },
                {
                value: "None",
                text: "None: they will be removed from being able to access the case",
                checked: checked("party-user6-case-permissions", "None")
                }
              ]
            }) }}    
        {% endif %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit"
          }) }}    
          <a class="govuk-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}