{% extends "layout.html" %}

{% block pageTitle %}
  Change your Two-factor authentication - {{serviceName}}
{% endblock %}

{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="account">Manage account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Two-factor authentication
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    

      <form action="account-update-success" method="post" id="account-2fa-form">   

        <h1 class="govuk-heading-xl">
          Change your two-factor authentication
        </h1>

        <p>When you sign in, we will send you a code as part of our two-factor authentication. This helps ensure that your account is kept safe and secure.</p>

   
        
        {% set mobileHtml %} 

          {% include "includes/country-code-list.html" %}    

            {{ govukInput({
              id: "2FA-mobile",
              name: "2FA-mobile",
              type: "tel",
              autocomplete: "tel",
              classes: "govuk-!-width-one-third",
              label: {
                text: "Enter your mobile number"
              },
              value: data['createaccount-mobile' ] or '07821945085'
            }) }}
          
        {% endset -%}

        {% set emailText %}
          Email address: 
          <strong>
            {% if (data['reg-type'] == "invite-own-org") or (data['reg-type'] == "invite-third-party")  %}
              {{data['invite-user-email'] or "jane@email.com"}}
                {% else %}
                  {{data['createaccount-email'] or "bobhoskins@BlueSteelPartners.com"}}
            {% endif %}
          </strong>
        {% endset -%}

        {{ govukRadios({
          idPrefix: "2fa",
          name: "2fa",
          fieldset: {
            legend: {
              text: "How would you like to receive your code?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
          {
            value: "mobile",
            text: "Mobile",
            checked: false,
            conditional: {
              html: mobileHtml
            }
          },
          {
              value: "email",
              html: emailText
            }
          ]
        }) }}
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit"
          }) }}    
          <a class="govuk-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
        </div>
      </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}