{% extends "layout.html" %}

{% block pageTitle %}
  Manage my account - {{serviceName}}
{% endblock %}

{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Manage account
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Manage my account
      </h1>
      <h2 class="govuk-heading-m">Your details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            <!--Determine who is signed in -->
            {% if (data['who-signin'] == "rep") %}
              {{data['createaccount-name'] or data['rep-user1'] }}
              {% else %}
              {% if (data['who-signin'] == "org") %}
                {{data['createaccount-name'] or data['party-user1'] }}
                {% else %}
                {% if (data['who-signin'] == "rep-invite") %}
                  {{data['invite-rep-name'] or data['rep-user3'] }}
                  {% else %}
                  {% if (data['who-signin'] == "org-invite") %}
                    {{data['invite-user-name'] or data['party-user11'] }}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            <!--Determine who is signed in -->
            {% if (data['who-signin'] == "rep") %}
              {{data['createaccount-email'] or data['rep-email1'] }}
              {% else %}
              {% if (data['who-signin'] == "org") %}
                {{data['createaccount-email'] or data['party-email1'] }}
                {% else %}
                {% if (data['who-signin'] == "rep-invite") %}
                  {{data['invite-rep-email'] or data['rep-email3'] }}
                  {% else %}
                  {% if (data['who-signin'] == "org-invite") %}
                    {{data['invite-user-email'] or data['party-email11'] }}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile phone
          </dt>
          <dd class="govuk-summary-list__value">
            +447821945085
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account permission
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['user-permissions'] == "Regular user") or (data['user-permissions'] == "Admin user")  %}
              {{data['user-permissions']}}
                {% else %}
                  Admin
            {% endif %}

          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Your organisation</h2>
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name:</dt>
          <dd class="govuk-summary-list__value">
            <!--Determine who is signed in -->
            {% if (data['who-signin'] == "rep") %}
              {{data['createaccount-org-name'] or data['representative1'] }}
              {% else %}
              {% if (data['who-signin'] == "org") %}
                {{data['createaccount-org-name'] or data['party1'] }}
                {% else %}
                {% if (data['who-signin'] == "rep-invite") %}
                  {{data['invite-org-name'] or data['representative1'] }}
                  {% else %}
                  {% if (data['who-signin'] == "org-invite") %}
                    {{data['party1'] }}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          </dd>
        </div>
        <!--Show the right info for who has logged in-->
        {% if (data['who-signin'] == "org") or (data['who-signin'] == "org-invite") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address:</dt>
            <dd class="govuk-summary-list__value">{{data['party-address1']}} <br>
              {{data['party-postcode1']}}<br>
              {{data['party-country1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company number: </dt>
            <dd class="govuk-summary-list__value">{{data['party-org-number1']}} 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Web address: </dt>
            <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['party-web1']}}</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">VAT no: </dt>
            <dd class="govuk-summary-list__value">{{data['party-vat1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EORI: </dt>
            <dd class="govuk-summary-list__value">{{data['party-eori1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">D-U-N-S: </dt>
            <dd class="govuk-summary-list__value">{{data['party-duns1']}}</dd>
          </div>
          {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address:</dt>
            <dd class="govuk-summary-list__value">{{data['rep-address1']}} <br>
              {{data['rep-postcode1']}}<br>
              {{data['rep-country1']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Company number: </dt>
            <dd class="govuk-summary-list__value">{{data['rep-org-number1']}} 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Web address: </dt>
            <dd class="govuk-summary-list__value"><a href="" target="_blank">{{data['rep-web1']}}</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">VAT no: </dt>
            <dd class="govuk-summary-list__value">{{data['rep-vat1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">EORI: </dt>
            <dd class="govuk-summary-list__value">{{data['rep-eori1']}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">D-U-N-S: </dt>
            <dd class="govuk-summary-list__value">{{data['rep-duns1']}}</dd>
          </div>
        {% endif %}
      </dl> 
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Update sign in details</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link--no-visited-state" href="account-details">Change your account details</a>
            </li> 
            <li>
              <a class="govuk-link--no-visited-state" href="account-2fa">Change your Two-factor authentication</a>
            </li>  
            <li>
              <a class="govuk-link--no-visited-state" href="account-changepass">Change your password</a>
            </li>    
            
            {% if data['case-ref'] != null %}
            <li>
              <br>
              <strong>Email the case team</strong>        
              <a class="govuk-link--no-visited-state" href="">{{data['case-ref']}}@traderemedies.gov.uk</a>
            </li>     
            {% endif %}    
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}