{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Change your Two-factor authentication – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/header-public.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="account">Manage account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Two-factor authentication
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    

      <form action="account-update-success" method="post" id="account-2fa-form">   
        
        {% call govukFieldset({
          legend: {
            text: "Change your two-factor authentication",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p>When you sign in, we will send you a code as part of our two-factor authentication. This helps ensure that your account is kept safe and secure.</p>

   
        
        {% set mobileHtml %} 

          {% if data['2FA-mobile'] != null %}

            {{ govukInput({
              id: "2FA-mobile",
              name: "2FA-mobile",
              type: "tel",
              autocomplete: "tel",
              value: data['createaccount-mobile'],
              classes: "govuk-!-width-one-third",
              label: {
                text: "Enter your mobile number"
              }
            }) }}

            {% else %}
            
              {{ govukInput({
                id: "mobile1",
                name: "mobile1",
                type: "tel",
                autocomplete: "tel",
                value: data['user-mobile1'],
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Enter your mobile number"
                }
              }) }}

          {% endif %}
          
          {% include "includes/country-code-list.html" %}    

        {% endset -%}

        {% set emailText %}
          Email address: 
          <strong>
            {% if data['createaccount-email'] != null %}
              {{data['createaccount-email']}}
                {% else %}
                  {{data['user-email1']}}
            {% endif %}
          </strong>
        {% endset -%}

        {{ govukRadios({
          idPrefix: "2fa",
          name: "2fa",
          fieldset: {
            legend: {
              text: "How would you like to receive your code?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
          {
            value: "mobile",
            text: "Mobile",
            checked: false,
            conditional: {
              html: mobileHtml
            }
          },
          {
              value: "email",
              html: emailText
            }
          ]
        }) }}
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit"
          }) }}    
          <a class="govuk-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
        </div>

        {% endcall %}
        </form>
        
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "includes/footer.html" %}
{% endblock %}