{% extends "layout.html" %}

{% block pageTitle %}
  Proto: Manage my organisation – GOV.UK Trade Remedies Prototype
{% endblock %}

<!-- This sets a body class for the whole page: indication which section the user is on in the navigation-->
{% set bodyClasses = 'org-nav' %}


{% block header %}
  {% if (data['signin'] == "no") %}
   {% include "includes/header-public-signedout.html" %}
  {% else %}
    {% include "includes/header-public.html" %}
  {% endif %}
{% endblock %}

{% block beforeContent %}
 {% include "includes/beta-banner.html"%}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Manage my organisation
    </h1>
      <p></p>

    {% set manageCasesHTML %}
    <h2 class="govuk-heading-s">Manage cases</h2>
    <table class="govuk-table sortable table-border" id="table-header" role="grid">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">A table listing all of your organisations case</caption>
      <thead class="govuk-table__head head-border">
        <tr class="govuk-table__row">
          <th class="govuk-table__header column-full sortable-button sortable-column" aria-sort="descending" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>No. <i class="A-to-Z"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Case <i class="sort-indicator"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Type <i class="sort-indicator"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Role <i class="sort-indicator"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="date">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Representing <i class="sort-indicator"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Status <i class="sort-indicator"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="date">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Updated <i class="sort-indicator"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="date">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Primary <i class="sort-indicator"></i>
          </th>
        </tr>
      </thead>

      <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case No.: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-ref1']}}</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-name1']}}</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Type: </span><abbr title="{{data['case-type1']}}">{{data['case-typeabr1']}}</abbr>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Role: </span>{{data['case-role1']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Representing: </span><a href="" class="govuk-link--no-visited-state">{{data['party1']}}</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Status: </span>{{data['status1']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Updated: </span>{{data['updated1']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Primary user: </span><a href="" class="govuk-link--no-visited-state">{{data['user1']}}</a>
        </td>
      </tr>

      <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case No. </span><a href="case" class="govuk-link--no-visited-state">{{data['case-ref3']}}</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-name3']}}</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Type: </span><abbr title="{{data['case-type3']}}">{{data['case-typeabr3']}}</abbr>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Role: </span>{{data['case-role3']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Representing: </span><a href="" class="govuk-link--no-visited-state">{{data['party3']}}</a>
        </td>        
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Status: </span>{{data['status3']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Updated: </span>{{data['updated3']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Primary user: </span><a href="" class="govuk-link--no-visited-state">{{data['user3']}}</a>
        </td>
      </tr>

      <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case No.: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-ref5']}}</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-name5']}}</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Type: </span><abbr title="{{data['case-type5']}}">{{data['case-typeabr5']}}</abbr>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Role: </span>{{data['case-role5']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Representing: </span><a href="" class="govuk-link--no-visited-state">{{data['party5']}}</a>
        </td>        
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Status: </span>{{data['status5']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Updated: </span>{{data['updated5']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Primary user: </span><a href="" class="govuk-link--no-visited-state">{{data['user5']}}</a>
        </td>
      </tr>

      <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case No. </span><a href="case" class="govuk-link--no-visited-state">{{data['case-ref4']}}</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-name4']}}</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Type: </span><abbr title="{{data['case-type4']}}">{{data['case-typeabr4']}}</abbr>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Role: </span>{{data['case-role4']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Representing: </span><a href="" class="govuk-link--no-visited-state">{{data['party4']}}</a>
        </td>        
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Status: </span>{{data['status4']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Updated: </span>{{data['updated4']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Primary user: </span><a href="" class="govuk-link--no-visited-state">{{data['user4']}}</a>
        </td>
      </tr>

       <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case No. </span><a href="case" class="govuk-link--no-visited-state">{{data['case-ref6']}}</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-name6']}}</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Type: </span><abbr title="{{data['case-type6']}}">{{data['case-typeabr6']}}</abbr>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Role: </span>{{data['case-role6']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Representing: </span><a href="" class="govuk-link--no-visited-state">{{data['party6']}}</a>
        </td>       
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Status: </span>{{data['status6']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Updated: </span>{{data['updated6']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Primary user: </span><a href="" class="govuk-link--no-visited-state">{{data['user6']}}</a>
        </td>
      </tr>

    </table>  

    {% endset %}

    {% set manageTeamHTML %}
    <h2 class="govuk-heading-s">Manage team</h2>
    <table class="govuk-table sortable table-border" id="table-header" role="grid">
      <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden--desktop">A table listing all of the closed Trade Remedies investigations</caption>
      <thead class="govuk-table__head head-border">
        <tr class="govuk-table__row">
          <th class="govuk-table__header column-full sortable-button sortable-column" aria-sort="descending" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>User <i class="A-to-Z"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Email <i class="sort-indicator"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Sort by: </span>Account role <i class="sort-indicator"></i>
          </th>
          <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
            <span class="govuk-visually-hidden--desktop">Action</span>
          </th>  
        </tr>
      </thead>

      <tr class="govuk-table__row no-border">
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Name</span><a href="case" class="govuk-link--no-visited-state">{{data['user1']}}</a>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Email: </span>{{data['user-email1']}}
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Account role: </span><abbr title="{{data['case-type6']}}">{{data['role1']}}</abbr>
        </td>
        <td class="govuk-table__cell">
          <span class="govuk-visually-hidden--desktop td-header">Action: </span>
        </td>
      </tr>

      
    </table>
    

    {% endset %}
    
    
    {{ govukTabs ({
      items: [
      
      { 
        label: "Manage cases",
        id: "manage-cases",
        panel: {
          html: manageCasesHTML
        }
      },
      { 
        label: "Manage team",
        id: "manage-team",
        panel: {
          html: manageTeamHTML
        }
      }
      ]
    }) }}
    
  </div>

</div>


{% endblock %}
{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}