
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Trade Remedies Prototype
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Trade Remedies Prototype
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        </h1>{{releaseVersion | log }}
        <p>This is the prototype for the Trade Remedies System for Caseworker and public users.
        </p>
  
        <h2 class="govuk-heading-m">Public TRS journeys</h2>
  
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/trade-remedies/start">Create an account</a></li>
          <li><a href="/trade-remedies/start">Sign in</a></li>

        </ul>
      </div>

      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <p></p> <a class="link" href="/trs-layout">Template with all items</a></p>
          <h2 class="govuk-heading-m" id="subsection-title">Use Public TRS pages</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="link" href="/trade-remedies/start">Trade Remedies Start page</a> 
              </li>   
              <li>
                <a class="link" href="/trade-remedies/sign-in">Create account/ Sign in</a> 
              </li>      
            </ul>
          </nav>
        </aside>
  
      </div>
    </div>

  </main>
</div>

{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Privacy"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        }
        ,
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  }) }}
{% endblock %}
