
{% extends "layout.html" %}

{% block pageTitle %}
  Home – {{serviceName}}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Trade Remedies Prototype
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        </h1>
        <p>This is the prototype for the Trade Remedies System for Caseworker and public users. This prototype is <strong>NOT</strong> fully functional
        </p>
        <p>Please <a href="/prototype-admin/clear-data" class="govuk-link--no-visited-state">clear data</a> to delete all stored data and re-set the prototype between journeys.</p>
  
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">          
            <ol class="app-task-list">
              <li> 
                <h2 class="app-task-list__section">
                  <span class="app-task-list__section-number">1. </span> 
                  Public TRS journeys
                </h2>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TRSP-18</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/start?who-signin=org&user-permissions=Admin user" class="govuk-link--no-visited-state" aria-describedby="create-status">
                        Create account, Sign in & Forgotton Password
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="create-status">Live</span>
                    <!--errors-->
                    <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Error pages
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <a href="public-site/create-account/createaccount-your-org-uk-search-api-error?who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - companies house api error
                        </a><br>
                        <a href="public-site/create-account/createaccount-your-org-uk-search-no-js?who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - no Javascript error
                        </a>
                      </div>
                    </details>
                    <!---->
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TRSP-19</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/reg-interest/reginterest-tasks?who-signin=org&tasklist-type=reg-interest" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Register Interest - own org
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/reg-interest/reginterest-tasks?who-signin=rep&tasklist-type=reg-interest" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Register Interest - as a Representative
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">Live</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/dashboard-deficient-case-v1?who-signin=org&tasklist-type=reg-interest&regcase-task=complete&which-org-task=complete&reginterest-task=Deficient&upload-pre-task=def&upload-loa-task=def&loa-download=no&user-permissions=Admin user&account-activated=fully&regnterest-due-date=current&reginterest-what-org=new-org" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        ROI (approved on to case) - submission deficiency
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/dashboard-deficient-pending-v1?who-signin=org&tasklist-type=reg-interest&regcase-task=complete&which-org-task=complete&reginterest-task=Deficient&upload-pre-task=def&upload-loa-task=def&loa-download=no&user-permissions=Admin user&account-activated=fully&regnterest-due-date=current&reginterest-what-org=new-org" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        ROI (pending) - submission deficiency
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                     <span class="app-task-list__task-name">
                      <a href="public-site/reg-interest/reginterest-app-details?who-signin=org&tasklist-type=reg-interest&regcase-task=complete&which-org-task=complete&reginterest-task=all&upload-pre-task=def&upload-loa-task=def&loa-download=no&user-permissions=Admin user&account-activated=fully&regnterest-due-date=current&reginterest-what-org=new-org" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        ROI status page - all status's
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                    <!--errors-->
                    <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Error pages
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <a href="public-site/reg-interest/reginterest-duplicate-error?who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - duplicate registration of interest
                        </a>
                      </div>
                    </details>
                    <!---->
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TRSP-21</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/invite/invite-user-type?who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Invite user - own org or Rep
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In dev</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/dashboard-invite-v1?who-signin=org&tasklist-type=invite-rep&invite-rep-task=Deficient&invite-loa-task=def&invite-case-task=complete&invite-which-org-task=complete&loa-download=no" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Invite Rep - deficiency notice v1
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/dashboard-invite-v1-5?who-signin=org&tasklist-type=invite-rep&invite-rep-task=Deficient&invite-loa-task=def&invite-case-task=complete&invite-which-org-task=complete&loa-download=no" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Invite Rep - deficiency notice v1.5
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                     <span class="app-task-list__task-name">
                      <a href="public-site/dashboard-invite-none-v1-5?who-signin=org&tasklist-type=invite-rep&invite-rep-task=Deficient&invite-loa-task=def&invite-case-task=complete&invite-which-org-task=complete&loa-download=no" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Invite Rep - no invites on dash v1.5
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>

                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/invite/invite-app-details-rep?who-signin=org&tasklist-type=invite-rep&invite-rep-task=All&invite-loa-task=def&invite-case-task=complete&invite-which-org-task=complete&loa-download=no" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Invite Rep status - all status's
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/invite/invite-app-details-rep?who-signin=org&show-invite-rep=yes&invite-rep-task=Sent&invite-rep-what-org=new-org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Cancel user invite
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In dev</span><br>
                    <!--errors-->
                    <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Error pages
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <a href="public-site/manage-users/tasklist/invite-case-none" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - org is not registered to a case 
                        </a><br>
                        <a href="public-site/manage-users/invite/invite-user-already-error?who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - existing email part of orgs account
                        </a>
                      </div>
                    </details><br>
                    <!---->
                    <span class="app-task-list__task-name">
                      <a href="public-site/email/email-invite-org-user?reg-type=invite-own-org&who-signin=org-invite" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Accept invite to account - own org
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In dev</span>
                    <span class="app-task-list__task-name">
                      <a href="public-site/email/email-invite-rep?reg-type=invite-rep&who-signin=rep-invite" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Accept invite to account - new rep
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In dev</span>
                    <span class="app-task-list__task-name">
                      <a href="public-site/email/email-invite-rep-has-account?reg-type=invite-rep&who-signin=rep-invite&user-permissions=Admin user&account-activated=fully&reginterest-task=null&invite-rep-task=Sent" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Accept invite to account - Existing rep
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In dev</span><br><br><br>
                    <!--errors-->
                    <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Error pages
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <a href="public-site/manage-users/invite/invite-user-cancel-error" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                          Error - no invite
                         </a>
                      </div>
                    </details>
                    <!---->
                  </li>

                  <li class="app-task-list__item"> 
                    <span class="app-task-list__task-name">TRSP-23</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/email/email-caseworker-existing-invite-org?reg-type=sigin&who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Accept caseworker invite - existing user
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In dev</span>
                    <span class="app-task-list__task-name">
                      <a href="public-site/email/email-caseworker-new-invite-org?reg-type=sigin&who-signin=org" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                        Accept caseworker invite - new user
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In dev</span>
                  </li>
                  <li class="app-task-list__item"> 
                    <span class="app-task-list__task-name">TRSP-31 & 34</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/manage-org-user?who-signin=org&user-permissions=Admin user&account-activated=yes" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Manage users - initial state
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In progress</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/manage-users/manage-org-user-all-states?who-signin=org&user-permissions=Admin user&account-activated=yes" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Manage users - all states
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In progress</span><br>
                  </li>  
                  <li class="app-task-list__item"> 
                    <span class="app-task-list__task-name">TRSP-36</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/account/account?who-signin=org&user-permissions=Admin user" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       User account (Admin permission)
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In progress</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/account/account?who-signin=org-invite&user-permissions=User" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       User account (User permission)
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In progress</span><br>
                  </li>           
                  <li class="app-task-list__item"> 
                    <span class="app-task-list__task-name">TRSP-56</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/feedback-task-complete" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Feedback on positive task completion
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In dev</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/feedback-task-blocked" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Feedback on blocked task completion
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In dev</span><br>
                    <span class="app-task-list__task-name">
                      <a href="public-site/feedback?task-rating=0" class="govuk-link--no-visited-state" aria-describedby="reginterest-status">
                       Feedback on service
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-status">In dev</span><br>
                  </li>     
                </ul>
              </li>
            </ol>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">          
            <ol class="app-task-list">
              <li>
                <h2 class="app-task-list__section">
                  <span class="app-task-list__section-number">2. </span> 
                  Caseworker TRS journeys
                </h2>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="caseworker/signin?who-signin=invest" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Sign in & Forgotton Password
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">Complete</span>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TRSP-20 and 24</span><br>
                    <span class="app-task-list__task-name">
                      <a href="/caseworker/reg-interest/reginterest-tasks?who-signin=lead&verify-type=reg-interest&duplicate-org=no&third-party=no&loa-sufficient=yes" class="govuk-link--no-visited-state">
                        Verify ROI - Interested party only
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">UR Review</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/reg-interest/reginterest-loa-submission?who-signin=lead&verify-type=reg-interest&duplicate-org=no&third-party=yes&loa-sufficient=no" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Verify ROI - LOA Sufficiency
                      </a>
                    </span><br>
                    <span class="app-task-list__task-name">
                      <a class="govuk-link--no-visited-state" href="/caseworker/reg-interest/reginterest-tasks?who-signin=lead&verify-type=reg-interest&duplicate-org=no&third-party=yes&loa-sufficient=yes">
                        Verify ROI - with Rep</a> 
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">UR Review</span><br>
                    <span class="app-task-list__task-name">
                      <a class="govuk-link--no-visited-state" href="/caseworker/reg-interest/reginterest-tasks-dup?who-signin=lead&verify-type=reg-interest&duplicate-org=both&third-party=yes&loa-sufficient=yes&merge-duplicates=1of2">
                        Verify ROI - Duplicate with Int Party and Rep</a> 
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span>
                     <span class="app-task-list__task-name">
                      <a href="caseworker/cases/case-party-unverified?who-signin=invest" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Verify ROI - Int Party that could not be verified
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TRSP-23</span><br>
                    <span class="app-task-list__task-name">
                      <a href="/caseworker/cases/existing-parties-invite?who-signin=lead&direct-invite=no" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Invite to case
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In dev</span>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">TRSP-22 and 24</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/existing-submission-page?who-signin=invest&verify-type=rep-invite&duplicate-org=none&third=party=yes&loa-sufficient=yes" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Review Rep Invite from Submissions
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In dev</span><br>
                     <span class="app-task-list__task-name">
                      <a href="caseworker/cases/existing-parties-page?who-signin=invest&verify-type=rep-invite&duplicate-org=none&third=party=yes&loa-sufficient=yes" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Review Rep Invite from Parties page
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In dev</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/reg-interest/reginterest-loa-submission?who-signin=invest&verify-type=rep-invite&duplicate-org=none&third=party=yes&loa-sufficient=no" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Review Rep Invite - LOA not sufficient
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In dev</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/existing-submission-page?who-signin=lead&verify-type=rep-invite&duplicate-org=rep&third=party=yes&loa-sufficient=yes&merge-rep-task=Not started&merge-duplicates=1c" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Review Rep Invite - single duplicate as a Lead
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/existing-submission-page?who-signin=lead&verify-type=rep-invite&duplicate-org=rep&third=party=yes&loa-sufficient=yes&merge-rep-task=Not started&merge-duplicates=1of2" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Review Rep Invite - multiple duplicates as a Lead
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                     <span class="app-task-list__task-name">
                      <a href="caseworker/cases/existing-submission-page?who-signin=invest&verify-type=rep-invite&duplicate-org=rep&third=party=yes&loa-sufficient=yes&merge-rep-task=Not started&merge-duplicates=1of2" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Review Rep Invite - duplicates as an Investigator
                      </a>                     
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/cases-all" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        All cases
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/case-overview?who-signin=invest" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Single case - overview page
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/case-parties?who-signin=invest" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Case - parties v1
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/case-parties2?who-signin=invest" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Case - parties v2
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/cases/case-party-bluesteel?who-signin=invest" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        An org within a case
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                  </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="caseworker/orgs/orgs-all?who-signin=invest" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        All organisations
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                    <span class="app-task-list__task-name">
                      <a href="caseworker/orgs/org-bluesteel?who-signin=invest" class="govuk-link--no-visited-state" aria-describedby="signin-status">
                        Single organisation
                      </a>
                    </span>
                    <span class="app-task-list__tag" id="reginterest-direct-status">In progress</span><br>
                  </li>
                </ul>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <p>
            <a class="govuk-link--no-visited-state" href="/trs-layout">Template with components</a>
          </p>
          <h2 class="govuk-heading-m" id="subsection-title">Public key states</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/start?who-signin=org">Trade Remedies Start page</a> 
              </li>   
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/dashboard?who-signin=org&user-permissions=Admin user&account-activated=no&reginterest-task=null&invite-rep-task=null">Dashboard for Org - not-activated</a> 
              </li> 
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/dashboard?who-signin=org&user-permissions=Admin user&account-activated=yes&reginterest-task=null&invite-rep-task=null&my-cases=null">Dashboard for Org - activated but empty</a> 
              </li> 
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/dashboard?who-signin=org&user-permissions=Admin user&account-activated=fully&reginterest-task=Draft&reginterest-due-date=current&reginterest-what-org=my-org">Dashboard for Org - Reg Interest</a> 
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/dashboard?who-signin=org&user-permissions=Admin user&account-activated=fully&my-cases=yes">Dashboard for Org - Cases</a> 
              </li>   
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/dashboard?who-signin=org&user-permissions=Admin user&account-activated=fully&invite-rep-task=Sent">Dashboard for Org - with pending invite (Rep)</a> 
              </li>   
              <li>
                <a class="govuk-link--no-visited-state" href="/public-site/dashboard?who-signin=rep-invite&user-permissions=Admin user&account-activated=fully&invite-rep-task=Sent">Dashboard for Rep - with client invite</a> 
              </li> 
            </ul>
          </nav>
          <h2 class="govuk-heading-m" id="subsection-title">Caseworker key states</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link--no-visited-state" href="/caseworker/signin?who-signin=invest">Caseworker sign in</a> 
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/caseworker/dashboard?who-signin=invest">Caseworker dashboard</a> 
              </li>`
            </ul>
          </nav>
        </aside>
  
      </div>
    </div>

{% endblock %}


