{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/juggling-balls-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "how-many-balls",
          name: "how-many-balls",
          fieldset: {
            legend: {
              text: "How many balls can you juggle?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "1",
              text: "One",
              checked: checked("how-many-balls", "1")

            },
            {
              value: "2",
              text: "Two",
              checked: checked("how-many-balls", "2")

            },
            {
              value: "0",
              text: "Are you crazy? None!",
              checked: checked("how-many-balls", "0")

            }
            
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
