{% extends "layout.html" %}

{% block bodyStart %}
{%include "includes/cookies.html" %}
{% endblock %}


{% block pageTitle %}
  Template: Layout and components – {{service-name}}
{% endblock %}
 
{% block header %}
{% include "includes/header-public.html" %}

{% include "includes/header-caseworker.html" %}

{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html"%}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Template: Layout and components
      </li>
    </ol>
  </div>
  {{ govukBackLink({
    href: "index",
    text: "Back"
  }) }}

  {% include "includes/caseworker-nav-case.html" %}

{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Template: Layout and components
      </h1>

      <p>This template should contain all key GDS template items and overrides that are being used.</p>

      <h2 class="govuk-heading-m">
        Medium header
      </h2>
      <p>Lots of lovely text should you need it</p>
      <p><a class="link" href="public-site/signin-errors">View a form with error messages</a></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>List</li>
        <li>List</li>
        <li>List</li>
      </ul>
      <p>Lots of lovely text should you need it.</p>

      {% include "includes/country-list.html" %}

      <div class="govuk-form-group">
        <label class="govuk-heading-s" for="search-reg-org">
          Autocomplete component
        </label>
        <select class="govuk-select" id="search-reg-org" name="search-reg-org">
          <option value="opt0" class="selected"></option>
          <option value="opt1">ALUMINUM TRADE LTD (05850450) Suite 19 Old Anglo House, Mitton Street, Stourport-On-Severn, Worcestershire, DY13 9AQ</option>
          <option value="opt2">ALUMINUM ELECTRICS LIMITED (05337101) 20 Highbury Place, Bramley, Leeds, United Kingdom, LS13 4PW</option>
          <option value="opt3">ALUMINUM SQUIRREL LIMITED (SOUTH WALES) (08199303) 16 Bracken Park, Bingley, United Kingdom, BD16 3LG</option>
          <option value="opt4">ALUMINIUM PROFILE SERVICES LIMITED (09849849) Clock Cottage, Corneybury Farm, Royston Road, Buntingford, Hertfordshire, England, SG9 9RS</option>
          <option value="opt5">ALUMINIUM INTEGRATED SOLUTIONS LIMITED (09424974) 61 Great North Road, Newcastle Upon Tyne, Tyne And Wear, United Kingdom, NE3 2DQ</option>
          <option value="opt6">ALUMINIUM STAR LIMITED (07751077) 21 Princess Mary House, Vincent Street Westminster, London, England, SW1P 4HL</option>
          <option value="opt7">ALUMINUMNOW LIMITED (07650927) 29 Belfont Walk, London, 29 Belfont Walk, London, Greater London, England, N7 0SN</option>
          <option value="opt8">ALUMINUMNOW MARITIME SOLUTIONS LTD. (08567105) 29 Belfont Walk 29 Belfont Walk, London, Greater London, England, N7 0SN</option>
          <option value="opt9">AEROSPACE ALUMINUM CO., LTD (08667181) Unit G25 Waterfront Studios, 1 Dock Road, London, United Kingdom, E16 1AH</option>
        </select>
      </div>

      <p id="selected_company"></p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Sign in",
          href: "signin",
          isStartButton: true
        }) }}
        <a class="govuk-link" href="create-account/createaccount-your-account">Create an account</a>
      </div>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> 
            Which case are you interested in?
          </h2>
          <ul class="app-task-list__items">
  
             <!-- Test data -->
             <!--<div class="govuk-inset-text">
              Test data: <br>
              Case started: {{ data['case-started']}}<br>
              Case ref: {{ data['case-ref'] }}
            </div> -->
  
            {% include "includes/task-list1.html" %}
  
          </ul>
        </li>
      </ol>

      <h2 class="govuk-heading-m">Which case are you interested in?</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case details
          </dt>
          <dd class="govuk-summary-list__value">
            Cheese
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> case</span>
            </a>
          </dd>
        </div>
      </dl>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          More information
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="link" href="#">Link (opens in a new window or tab)</a> 
            </li>
            <li>
              <a class="link" href="#">Link</a> 
            </li>
            <li>
              <a class="link" href="#">Link</a>
            </li>      
          </ul>
        </nav>
      </aside>

    </div>
  </div>

      <p>An accessible, responsive, sortable table using html and javascript</p>
      {% set openCasesHTML %}
    <h2 class="govuk-heading-m">Open cases</h2>
    <form>
      <div id="table-sort" class="govuk-visually-hidden--desktop"> 
        <div class="govuk-form-group table-sort-select">
          <label class="govuk-label govuk-!-display-inline" for="sort">
            Sort by
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="No." selected>Case No.</option>
            <option value="Case">Case</option>
            <option value="Applicant">Commodity</option>
            <option value="Initiated">Country</option>
            <option value="Type">Type</option>
            <option value="Status">Status</option>
            <option value="Alerts">Updated</option>
          </select>
        </div>

        <div class="govuk-form-group table-sort-select">
          <label class="govuk-label govuk-visually-hidden" for="direction">
            Direction
          </label>
          <select class="govuk-select" id="direction" name="direction">
            <option value="Decending" selected>Decending</option>
            <option value="Accending">Accending</option>
          </select>
        </div>

        {{ govukButton({
          text: "Sort",
          classes: "govuk-button--secondary"
        }) }}
      </div>


      <table class="govuk-table sortable table-border" id="table-header" role="grid">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden">A table listing all of the open Trade Remedies investigations</caption>
        <thead class="govuk-table__head head-border">
          <tr class="govuk-table__row">
            <th class="govuk-table__header column-full sortable-button sortable-column" aria-sort="descending" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>No. <i class="A-to-Z"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Case <i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Commodity <i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Country <i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Type <i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Status <i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="date">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Updated <i class="sort-indicator"></i>
            </th>
          </tr>
        </thead>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case No.: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-ref1']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-name1']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Commodity: </span><span title="{{data['case-type1']}}">{{data['commodity1']}}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Country: </span>{{data['country1']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Type: </span><abbr title="{{data['case-type1']}}">{{data['case-typeabr1']}}</abbr>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Status: </span>{{data['status1']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Updated: </span>{{data['updated1']}}
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case No.: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-ref3']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-name3']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Commodity: </span><span title="{{data['case-type1']}}">{{data['commodity3']}}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Country: </span>{{data['country3']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Type: </span><abbr title="{{data['case-type3']}}">{{data['case-typeabr3']}}</abbr>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Status: </span>{{data['status3']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Updated: </span>{{data['updated3']}}
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case No.: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-ref5']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-name5']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Commodity: </span><span title="{{data['case-type1']}}">{{data['commodity5']}}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Country: </span>{{data['country5']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Type: </span><abbr title="{{data['case-type5']}}">{{data['case-typeabr5']}}</abbr>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Status: </span>{{data['status5']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Updated: </span>{{data['updated5']}}
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case No.: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-ref4']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-name4']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Commodity: </span><span title="{{data['case-type1']}}">{{data['commodity4']}}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Country: </span>{{data['country4']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Type: </span><abbr title="{{data['case-type4']}}">{{data['case-typeabr4']}}</abbr>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Status: </span>{{data['status4']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Updated: </span>{{data['updated4']}}
          </td>
        </tr>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case No.: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-ref6']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-name6']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Commodity: </span><span title="{{data['case-type1']}}">{{data['commodity6']}}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Country: </span>{{data['country6']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Type: </span><abbr title="{{data['case-type6']}}">{{data['case-typeabr6']}}</abbr>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Status: </span>{{data['status6']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Updated: </span>{{data['updated6']}}
          </td>
        </tr>

      </table>  
    </form>

    {% endset %}

    {% set completedCasesHTML %}
    <h2 class="govuk-heading-m">Closed cases</h2>
    <form>
      <div id="table-sort" class="govuk-visually-hidden--desktop"> 
        <div class="govuk-form-group table-sort-select">
          <label class="govuk-label govuk-!-display-inline" for="sort">
            Sort by
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="No." selected>Case No.</option>
            <option value="Case">Case</option>
            <option value="Applicant">Commodity</option>
            <option value="Initiated">Country</option>
            <option value="Type">Type</option>
            <option value="Status">Initiated</option>
            <option value="Alerts">Closed</option>
          </select>
        </div>

        <div class="govuk-form-group table-sort-select">
          <label class="govuk-label govuk-visually-hidden" for="direction">
            Direction
          </label>
          <select class="govuk-select" id="direction" name="direction">
            <option value="Decending" selected>Decending</option>
            <option value="Accending">Accending</option>
          </select>
        </div>

        {{ govukButton({
          text: "Sort",
          classes: "govuk-button--secondary"
        }) }}
      </div>

      <table class="govuk-table sortable table-border" id="table-header" role="grid">
        <caption class="govuk-table__caption govuk-body govuk-!-font-weight-regular govuk-visually-hidden">A table listing all of the closed Trade Remedies investigations</caption>
        <thead class="govuk-table__head head-border">
          <tr class="govuk-table__row">
            <th class="govuk-table__header column-full sortable-button sortable-column" aria-sort="descending" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Case No.. <i class="A-to-Z"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Case <i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Commodity <i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Country <i class="sort-indicator"></i>
            </th>  
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="date">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Type <i class="sort-indicator"></i>
            </th>
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="date">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Initiated <i class="sort-indicator"></i>
            </th> 
            <th class="govuk-table__header column-full sortable-button sortable-column" scope="col" data-sortby="text">
              <span class="govuk-visually-hidden--desktop">Sort by: </span>Closed <i class="sort-indicator"></i>
            </th>
          </tr>
        </thead>

        <tr class="govuk-table__row no-border">
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case No.: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-ref2']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Case: </span><a href="case" class="govuk-link--no-visited-state">{{data['case-name2']}}</a>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Commodity: </span><span title="{{data['case-type1']}}">{{data['commodity2']}}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Country: </span>{{data['country2']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Type: </span><abbr title="{{data['case-type2']}}">{{data['case-typeabr2']}}</abbr>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Initiated: </span>{{data['created2']}}
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-visually-hidden--desktop td-header">Closed: </span>{{data['updated2']}}
          </td>        
        </tr>
      </table>
    </form>
    

    {% endset %}
    
    
    {{ govukTabs ({
      items: [
      
      { 
        label: "Open cases",
        id: "open-cases",
        panel: {
          html: openCasesHTML
        }
      },
      { 
        label: "Closed cases",
        id: "completed-cases",
        panel: {
          html: completedCasesHTML
        }
      }
      ]
    }) }}


     
    
{% endblock %}

{% block footer %}
{%include "includes/footer.html" %}
{% endblock %}
